<div class="container-fluid">
  <div class="user-details-tab-head">
    <div class="py-1 px-2">
      <div class="row">
        <div class="col-12">
          <h5 class="m-0 mt-1 p-0 font-weight-bold">
            <i class="fa fa-leanpub" aria-hidden="true"></i> File &
            Media
          </h5>
        </div>
      </div>
    </div>
    <div class="user-details-body p-2">
      <div class="row">
        <div class="col-sm-12">
          <p class="details-type">
            Description about the group details
          </p>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs mt-2 ml-4 responsive-nav-tab">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': currentTab=='files'}" (click)="currentTab='files';selectedFiles={};">Files</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': currentTab=='embed'}" (click)="currentTab='embed';selectedFiles={}">Embedded Content</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': currentTab=='recording'}" (click)="currentTab='recording';selectedFiles={}">Recordings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': currentTab=='template'}" (click)="currentTab='template';selectedFiles={}">Templates</a>
      </li>
    </ul>
  </div>
  <div class="tab-content pb-3 ml-4 mt-3 relative-block ">
    <div class="tab-pane" [ngClass]="{'active': currentTab=='files'}">
        <div class="text-left pull-left directory-list-item">
            <ul class="list-unstyled m-0">
             <li class="list-inline-item"><a href="javascript:void(0);" (click)="traverseTo(0)"> <i class="fa fa-folder"></i> Root </a></li>
             <li class="list-inline-item" *ngFor="let folder of folderList;"><a href="javascript:void(0);" (click)="traverseTo(folder.id)"> <i class="fa fa-folder"></i> {{folder.name}} </a></li>
            </ul>
       </div>

      <div class="user-list-btn pull-right">
        
        <div class="text-right">
          <p class="btn invisible" *ngIf="!editableFolder()">&nbsp;</p>
          <a href="javascript:void(0);" *ngIf="editableFolder()" class="btn btn-no" (click)="tempFile={is_read: false,is_write: false,is_delete: false};operation={lifecycle: 'started',status: false,message: ''};addFolderModal.show()">
            <i class="fa fa-folder"></i> Add New Folder
          </a>
          <!-- <a href="javascript:void(0);" *ngIf="editableFolder()" class="btn" (click)="tempFile={name: '',filename: '',is_read: false,is_write: false,is_delete: false};operation={lifecycle: 'started',status: false,message: ''};addFileModal.show()">
            <i class="fa fa-file"></i> Add New File
          </a> -->
          <a href="javascript:void(0);" *ngIf="editableFolder()" class="btn" (click)="tempFiles=[];addMultipleFileModal.show()">
            <i class="fa fa-files-o"></i> Add New File(s)
          </a>
        </div>
        <select id="filter_dropdown" class="btn-inside-table" [(ngModel)]="showFileType" (change)="reloadFiles()">
          <option value="-1">Shared and Private Files</option>
          <option value="0">Shared Files only</option>
          <option value="1">Private Files only</option>
        </select>
      </div>
      <div class="clearfix"></div>
      <table id="manage-files" datatable [dtOptions]="dtOptions['files']" #fileTable class="border-0 table table-striped table-bordered table-sm">
        <thead>
          <tr>
            <th class="no-sort">Select</th>
            <th>Files / Folder Name</th>
            <th>File Type</th>
            <th>Created by</th>
            <!-- <th class="text-center no-sort">Sharing</th> -->
            <th class="text-center no-sort">Action</th>
            <th class="text-center no-sort">Permission</th>
          </tr>
        </thead>
        <tbody *ngIf="fileList?.length == 0">
          <tr>
            <td colspan="6">No records found</td>
          </tr>
        </tbody>
        <tbody *ngIf="fileList?.length > 0">
          <tr *ngFor="let file of fileList;">
            <td><input type="checkbox" class="files_list_checkbox" [(ngModel)]="selectedFiles[file.id]" /></td>
            <td>
              <span *ngIf="file.type==isFolder"><i class="fa fa-folder"> </i> <span class="inline-edit-box"><a href="javascript:void(0)" *ngIf="!file.editing" class="text-dark" (click)="folderList.push(file);traverseTo(file.id)">&nbsp;{{file.name}}</a><input type="text" required [(ngModel)]="file.name" *ngIf="file.editing" /></span></span>
              <a *ngIf="file.type==isFile" href="javascript:void(0)" [ngbPopover]="popoverContent" [popoverTitle]="popoverTitle" > <span class="inline-edit-box"><span  *ngIf="!file.editing">{{file.name}}</span><input type="text" required [(ngModel)]="file.name" *ngIf="file.editing" /></span> <button type="button" class="info-icon" data-container="body" title="{{file.filename}}"
                data-toggle="popover" data-placement="bottom" data-content="">
                <i class="fa fa-info"></i>
              </button>
              </a>
              <ng-template #popoverTitle>{{file.name}}</ng-template>
              <ng-template #popoverContent>
                <h5>{{file.user.firstname+' '+file.user.lastname}}</h5>
                <ul>
                  <li> <span>Created on</span> : {{file.created_at | amDateFormat:'DD / MM / YYYY'}}</li>
                  <li> <span>Modified on</span> : {{file.updated_at | amDateFormat:'DD / MM / YYYY'}}</li>
                  <li> <span>File Size </span> : {{bytesToSize(file.size)}}</li>
                </ul>
              </ng-template>
            </td>
            <td><a href="javascript:void(0);" *ngIf="file.type==isFile">{{file.content_type}}</a></td>
            <td>{{file.user.firstname+' '+file.user.lastname}}</td>
            <!-- <td class="text-center custom-checkbox">
              <input *ngIf="file.type==isFile" [disabled]="(file.user_id != currentUser.id)" id="share{{file.id}}" type="checkbox" class="share-toggle" [(ngModel)]="file.is_shared" (change)="file.is_read=!!file.is_read;file.is_shared=!!file.is_shared;updateFile(file)" />
              <label for="share{{file.id}}" *ngIf="file.type==isFile"></label>
            </td> -->
            <td class="text-center check-with-icon">
              <a href="javascript:void(0);" title="Edit" *ngIf="!file.editing && canEdit(file)" (click)="file.editing=true">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              <a href="javascript:void(0);" title="Save" *ngIf="file.editing && canEdit(file)" (click)="file.editing=false;updateFile(file)">
                <i class="fa fa-save" aria-hidden="true"></i>
              </a>
              <a href="javascript:void(0);" title="Delete" *ngIf="canDelete(file)"  (click)="selectedFiles={};selectedFiles[file.id]=true;deleteFileModal.show();">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
              <a target="_blank" href="{{file.filename}}" title="Download" *ngIf="file.type==isFile">
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>
            </td>
            <td class="text-center custom-checkbox permission_checkbox">
              <input id="read_{{file.id}}" type="checkbox" [(ngModel)]="file.is_read" (change)="file.is_read=!!file.is_read;file.is_shared=!!file.is_shared;updateFile(file,'read')" [disabled]="file.user_id != currentUser.id" />
              <label for="read_{{file.id}}"> R </label>
              <input id="write_{{file.id}}" type="checkbox" [(ngModel)]="file.is_write" (change)="file.is_write=!!file.is_write;updateFile(file,'write');" [disabled]="file.user_id != currentUser.id"  />
              <label for="write_{{file.id}}"> W </label>
              <input id="delete_{{file.id}}" type="checkbox" [(ngModel)]="file.is_delete" (change)="file.is_delete=!!file.is_delete;updateFile(file,'delete')" [disabled]="file.user_id != currentUser.id"  />
              <label for="delete_{{file.id}}"> D </label>
            </td>
          </tr>
        </tbody>
        <tfoot class="action-tfoot">
          <tr>
            <th colspan="6">
              <label class="mr-2 " *ngIf="fileList?.length > 0"><input type="checkbox" class="select_all" (change)="selectAllFiles($event)" [(ngModel)]="selectedAll.files"  /> Select All</label>
              <a *ngIf="fileList?.length > 0 && anySelected()" href="javascript:void(0);" class="btn selected_toggle" (click)="showFolderModal()">Move Selected</a>
              <a title="Delete selected and sub files/folders. If selected folder/file doesn't have delete permission then it will be skipped." href="javascript:void(0);" *ngIf="anySelected()" (click)="deleteFileModal.show()" class="btn selected_toggle">Delete Selected</a>
              <ul class="pull-right list-unstyled list-inline mt-0 ">
                <li class="list-inline-item"> R-Read</li>
                <li class="list-inline-item">W-Write</li>
                <li class="list-inline-item">D-Delete</li>
              </ul>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="tab-pane mt-3 relative-block"  [ngClass]="{'active': currentTab=='embed'}">
      <div class="user-list-btn  btn-inside-table">
        <a href="javascript:void(0);" class="btn" (click)="tempFile={name: '',filename:'', content_type: 'youtube'};operation={lifecycle: 'started',status: false,message: '',progress:0};addEmbedModal.show();">
          <i class="fa fa-file-text-o"></i> Embeded Content
        </a>
      </div>
      <table datatable [dtOptions]="dtOptions['embedded_content']" #embedTable class="table table-striped table-bordered table-sm ">
        <thead>
          <tr>
            <th class="no-sort">Select</th>
            <th>Title Name</th>
            <th class="text-center">Type</th>
            <th>Description</th>
            <th class="text-center no-sort">Action</th>
          </tr>
        </thead>
        <tbody *ngIf="embedList?.length <= 0">
          <tr>
            <td colspan="5">No embed content</td>
          </tr>
        </tbody>
        <tbody *ngIf="embedList?.length > 0">
          <tr *ngFor="let file of embedList;">
            <td><input type="checkbox" [(ngModel)]="selectedFiles[file.id]" class="files_list_checkbox" /></td>
            <td>
              <span class="grn-txt-clr"><span class="inline-edit-box"><span *ngIf="!file.editing">{{file.name}}</span><input type="text" required [(ngModel)]="file.name" *ngIf="file.editing" /></span> </span>
            </td>
            <td class="text-center">
              <i class="fa fa-vimeo" *ngIf="file.content_type=='vimeo'"></i>
              <i class="fa fa-youtube" *ngIf="file.content_type=='youtube'"></i>
            </td>
            <td><span class="inline-edit-box1"><span *ngIf="!file.editing">{{file.description.length >100  ? file.description.substr(0,100)+'...' : file.description}}</span><input type="text" required [(ngModel)]="file.description" *ngIf="file.editing" /></span>
            </td>
            <td class="text-center check-with-icon">
              <a href="javascript:void(0);" class="edit-btn" title="Edit" *ngIf="!file.editing" (click)="file.editing=true;">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              <a href="javascript:void(0);" class="edit-btn" title="Save" *ngIf="file.editing" (click)="file.editing=false;updateFile(file);">
                <i class="fa fa-save" aria-hidden="true"></i>
              </a>
             <a href="javascript:void(0);" title="Delete" (click)="selectedFiles={};selectedFiles[file.id]=true;deleteFileModal.show();">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        </tbody>
        <tfoot class="action-tfoot">
          <tr>
            <th colspan="5">
              <label class="mr-2 " *ngIf="embedList?.length > 0"><input type="checkbox" class="select_all" (change)="selectAllEmbeds($event)" [(ngModel)]="selectedAll.embeds" /> Select All</label>
              <a href="javascript:void(0);" *ngIf="anySelected()"  (click)="deleteFileModal.show();"  class="btn selected_toggle">Delete Selected</a>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="tab-pane mt-3 relative-block "  [ngClass]="{'active': currentTab=='recording'}">
      <table datatable [dtOptions]="dtOptions['recording']" #recordingTable class="table table-striped table-bordered table-sm ">
        <thead>
          <tr>
            <th class="no-sort">Select</th>
            <th>Live Class Name</th>
            <th>Recording Name</th>
            <th>Details</th>
            <th class="text-center no-sort">Action</th>
          </tr>
        </thead>
        <tbody *ngIf="recordingList?.length <= 0">
          <tr>
            <td colspan="5">No recordings</td>
          </tr>
        </tbody>
        <tbody *ngIf="recordingList?.length > 0">
          <tr *ngFor="let file of recordingList;">
            <td><input type="checkbox" [(ngModel)]="selectedFiles[file.id]" class="files_list_checkbox" /></td>
            <td>
              <span class="grn-txt-clr"><span class="inline-edit-box"><span *ngIf="!file.editing">{{file.description}}</span><input type="text" required [(ngModel)]="file.description" *ngIf="file.editing" /></span></span>
            </td>
            <td>
              <span class="inline-edit-box"><span *ngIf="!file.editing">{{file.name}}</span><input type="text" required [(ngModel)]="file.name" *ngIf="file.editing" /></span> 
            </td>
            <td><span class="grn-txt-clr">{{bytesToSize(file.size)}}
              </span> {{file.created_at | amDateFormat:'DD-MM-YYYY HH:mm'}} GMT {{file.liveclass ? file.liveclass.timezone : (file.created_at | amDateFormat:'Z')}}
            </td>
            <td class="text-center check-with-icon">
              <a href="javascript:void(0);" class="edit-btn" title="Edit" *ngIf="!file.editing" (click)="file.editing=true;">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              <a href="javascript:void(0);" class="edit-btn" title="Save" *ngIf="file.editing" (click)="file.editing=false;updateFile(file);">
                <i class="fa fa-save" aria-hidden="true"></i>
              </a>
             <a href="javascript:void(0);" title="Delete" (click)="selectedFiles={};selectedFiles[file.id]=true;deleteFileModal.show();">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
              <a target="_blank" href="{{file.filename}}" title="Download">
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        </tbody>
        <tfoot class="action-tfoot">
          <tr>
            <th colspan="5">
              <label class="mr-2 " *ngIf="recordingList?.length > 0"><input type="checkbox" class="select_all" (change)="selectAllRecordings($event)" [(ngModel)]="selectedAll.recordings" /> Select All</label>
              <a *ngIf="recordingList?.length > 0 && anySelected()" href="javascript:void(0);" class="btn selected_toggle" (click)="showFolderModal()">Move Selected</a>
              <a href="javascript:void(0);" *ngIf="anySelected()" (click)="deleteSelected()"  class="btn selected_toggle">Delete Selected</a>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="tab-pane mt-3 relative-block "  [ngClass]="{'active': currentTab=='template'}">
      <div class="user-list-btn  btn-inside-table">
        <a href="/class/?discussion_id=-1&token={{token}}" target="_blank" class="btn">
          <i class="fa fa-file-text-o"></i> New Template
        </a>
      </div>
      <table datatable [dtOptions]="dtOptions['template']" #templateTable class="table table-striped table-bordered table-sm ">
        <thead>
          <tr>
            <th class="no-sort">Select</th>
            <th>Template Name</th>
            <th>Update Details</th>
            <th class="text-center no-sort">Options</th>
          </tr>
        </thead>
        <tbody *ngIf="templateList?.length <= 0">
          <tr>
            <td colspan="4">No templates</td>
          </tr>
        </tbody>
        <tbody *ngIf="templateList?.length > 0">
          <tr *ngFor="let file of templateList;">
            <td><input type="checkbox" [(ngModel)]="selectedFiles[file.id]" class="files_list_checkbox" /></td>
            <td>
              <span class="grn-txt-clr"><span class="inline-edit-box"><span *ngIf="!file.editing">{{file.name}}</span><input type="text" required [(ngModel)]="file.name" *ngIf="file.editing" /></span></span>
            </td>
            <td>{{file.created_at | amDateFormat:'DD-MM-YYYY'}} <em>Modified On: {{file.updated_at | amDateFormat:'DD-MM-YYYY'}}</em>
            </td>
            <td class="text-center check-with-icon">
              <a href="javascript:void(0);" class="edit-btn" title="Edit" *ngIf="!file.editing" (click)="file.editing=true;">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              <a href="javascript:void(0);" class="edit-btn" title="Save" *ngIf="file.editing" (click)="file.editing=false;updateFile(file);">
                <i class="fa fa-save" aria-hidden="true"></i>
              </a>
             <a href="javascript:void(0);" title="Delete" (click)="selectedFiles={};selectedFiles[file.id]=true;deleteFileModal.show();">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
              <a target="_blank" href="{{file.filename}}" title="Download">
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        </tbody>
        <tfoot class="action-tfoot">
          <tr>
            <th colspan="4">
              <label class="mr-2 " *ngIf="templateList?.length > 0"><input type="checkbox" class="select_all" (change)="selectAllTemplates($event)" [(ngModel)]="selectedAll.templates" /> Select All</label>
              <a *ngIf="templateList?.length > 0 && anySelected()" href="javascript:void(0);" class="btn selected_toggle" (click)="showFolderModal()">Move Selected</a>
              <a href="javascript:void(0);" *ngIf="anySelected()" (click)="deleteFileModal.show();"  class="btn selected_toggle">Delete Selected</a>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- Models starts here -->
    <div class="modal fade" ngDraggable mdbModal #deleteFileModal="mdbModal" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Delete Files / Folder </h5>
            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close"  (click)="deleteFileModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body msg-alert-block text-center">
            <p> Are you sure you want to Delete? </p>
            <a href="javascript:void(0);" class="btn btn-no" data-dismiss="modal" aria-label="Close" (click)="deleteFileModal.hide()"> No </a> <a
              href="javascript:void(0);" class="btn" (click)="deleteSelected();deleteFileModal.hide();"> Yes </a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" ngDraggable mdbModal #addFolderModal="mdbModal" >
      <div class="modal-dialog" role="document">
        <div class="modal-content" ngResizable>
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Create New Folder
            </h5>
            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="addFolderModal.hide();">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Folder Name</label>
              <input type="text" class="form-control" [(ngModel)]="tempFile.name" />
            </div>
            <!-- <div class="form-group text-right">
              <label><input type="checkbox" checked="checked"  [(ngModel)]="tempFile.is_read"> Read </label>
              <label class="ml-1"><input type="checkbox" [(ngModel)]="tempFile.is_write"> Write </label>
              <label class="ml-1"><input type="checkbox" [(ngModel)]="tempFile.is_delete"> Delete </label>
            </div> -->
            <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}" *ngIf="operation.lifecycle=='stopped'"><p [innerHTML]="operation.message"></p></div>
            <div class="text-right">
              <button type="button" class="btn btn-no btn-sm" (click)="addFolderModal.hide();">Cancel</button>
              <button type="button" class="btn btn-primary btn-sm" (click)="addFolder(tempFile);">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" ngDraggable mdbModal #addMultipleFileModal="mdbModal" >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Create New Files
            </h5>
            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="addMultipleFileModal.hide();reloadFiles();">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="drag-drop-container" appDragdrop (onFileDropped)="addFiles($event)">
                <p class="mt-3">Drag & Drop files here</p>
                <p class="mt-1">- or -</p>
                <label class="btn-bs-file btn btn-primary c-pointer">
                  Choose files
                  <input type="file" #filesControl class="form-control" multiple="" id="filesControl" (change)="addFiles($event.target.files)" />
                </label>

              </div>
            </div>
            <table class="table table-borderless" *ngIf="tempFiles.length">
              <thead>
                <tr>
                  <th>File</th>
                  <th>Progress</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let file of tempFiles">
                  <td>{{file.name}}</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar"  [ngClass]="{'green': file.operation.status && file.operation.lifecycle=='stopped','red': !file.operation.status && file.operation.lifecycle=='stopped','blue': file.operation.lifecycle=='running'}" [style]="getWidthPercent(file.operation.progress)">
                      <span *ngIf="file.operation.lifecycle=='running'">{{file.operation.progress}}</span>
                      <span *ngIf="file.operation.lifecycle=='stopped' && file.operation.status">Done</span>
                      <span *ngIf="file.operation.lifecycle=='stopped' && !file.operation.status">Error</span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-right">
              <button type="button" class="btn btn-sm" (click)="addMultipleFileModal.hide();reloadFiles();">Done</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" ngDraggable mdbModal #addFileModal="mdbModal" >
      <div class="modal-dialog" role="document">
        <div class="modal-content" ngResizable>
          <div class="modal-header">
            <h5 class="modal-title">
              Create New File
            </h5>
            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="addFileModal.hide();">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>File Name</label>
              <input type="text" class="form-control" [(ngModel)]="tempFile.name" />
            </div>
            <div class="form-group">
              <div class="upload-img-btn">
                <label class="btn-bs-file btn btn-primary">
                  Choose file
                  <input type="file" class="form-control" id="fileControl" required (change)="handleFileInput($event.target.files)" />
                </label>
                {{tempFile.filename && tempFile.filename.name ? tempFile.filename.name : ''}}
              </div>
            </div>
            <div class="form-group text-right">
              <label><input type="checkbox" [(ngModel)]="tempFile.is_read"> Read </label>
              <label class="ml-1"><input type="checkbox" [(ngModel)]="tempFile.is_write"> Write </label>
              <label class="ml-1"><input type="checkbox" [(ngModel)]="tempFile.is_delete"> Delete </label>
            </div>
            <div class="form-group" *ngIf="operation.lifecycle=='running'">
              <div class="storage-details-show mb-0 mt-2 col-sm-12">
                <div class="progress">
                  <div class="progress-bar" [style]="getWidthPercent(operation.progress)"></div>
                </div>
              </div>
            </div>
            <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}" *ngIf="operation.lifecycle=='stopped'"><p [innerHTML]="operation.message"></p></div>
            <div class="text-right">
              <button type="button" class="btn btn-no btn-sm" (click)="addFileModal.hide();">Cancel</button>
              <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'disabled': operation.lifecycle=='running'}" (click)="addFile(tempFile,'file');">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" ngDraggable mdbModal #folderModal="mdbModal" >
      <div class="modal-dialog" role="document">
        <div class="modal-content" ngResizable>
          <div class="modal-header">
            <h5 class="modal-title">
              Move Folder / Files
            </h5>
            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="folderModal.hide();">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body  table-in">
            <div class="filestructure_list" #folderTree></div>
          </div>
          <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}" *ngIf="operation.lifecycle=='stopped'"><p [innerHTML]="operation.message"></p></div>
          <div class="modal-footer">
            <div class="text-left col-lg-4">
              <label><input type="checkbox" #maintainCopy> Maintain Copy </label>
            </div>
            <div class="text-right col-lg-8 p-0">
              <button type="button" class="btn btn-no btn-sm" (click)="folderModal.hide();">Cancel</button>
              <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'disabled': operation.lifecycle=='running'}" (click)="moveToFolder();">Move Folder</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" ngDraggable mdbModal #addEmbedModal="mdbModal" >
      <div class="modal-dialog" role="document">
        <div class="modal-content" ngResizable>
          <div class="modal-header">
            <h5 class="modal-title">
              Embed content from website 
            </h5>
            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="addEmbedModal.hide();">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Embed from Website <sup class="red-txt-clr"> * </sup></label>
              <select class="form-control" required [(ngModel)]="tempFile.content_type">
                <option value="youtube">Youtube</option>
                <option value="vimeo">Vimeo</option>
              </select>
            </div>
            <div class="form-group">
              <label>Insert embedded URL <sup class="red-txt-clr"> * </sup></label>
              <input type="text" class="form-control" required [(ngModel)]="tempFile.filename" />
            </div>
            <div class="form-group">
              <label>Title <sup class="red-txt-clr"> * </sup></label>
              <input type="text" class="form-control" required [(ngModel)]="tempFile.name" />
            </div>

            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control textarea" [(ngModel)]="tempFile.description"></textarea>
            </div>
            <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}" *ngIf="operation.lifecycle=='stopped'"><p [innerHTML]="operation.message"></p></div>
            <div class="text-right">
              <button type="button" class="btn btn-no btn-sm" (click)="addEmbedModal.hide();">Cancel</button>
              <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'disabled': operation.lifecycle=='running'}" (click)="addFile(tempFile,'embed');">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="storage-view-container my-3">
      <div class="storage-details-show">
        <div class="row">
          <div class="col-lg-3">
            <div class="drkgrn-txt-clr font-weight-bold text-left"> INSTITUTION STORAGE </div>
                <div class="font-weight-bold">
                  <div class="progress">
                    <div [ngClass]="{'progress-bar': instituteStoragePercent<=85,'progress-bar-danger':instituteStoragePercent>85}" [style]="getWidthPercent((total_space*100)/total_allocated)"></div>
                  </div>
                  <div class="drkgrn-txt-clr text-center font-weight-bold"> {{total_space | number: '1.1-1' }}/<span>{{total_allocated}} GB </span> 
                    <p *ngIf="instituteStoragePercent>85" style="color:red">
                    * Warning: You have used {{total_space | number: '1.1-1' }} GB out of {{total_allocated}} GB storage 
                    limit.Kindly contact Liveatclass admin to upgrade your plan
                    </p>
                  </div>
            </div>
          </div>

          <div *ngIf="personal_allocated>0" class="col-lg-3 offset-lg-1">
            <div class="drkgrn-txt-clr font-weight-bold text-left"> PERSONAL STORAGE </div>
                <div class="font-weight-bold">
                  <div class="progress">
                    <div [ngClass]="{'progress-bar': personalStoragePercent<=85,'progress-bar-danger':personalStoragePercent>85}" [style]="getWidthPercent((personal_space*100)/personal_allocated)"></div>
                  </div>
                  <div class="drkgrn-txt-clr text-center font-weight-bold"> {{personal_space | number: '1.1-1' }}/<span>{{personal_allocated}} GB </span> 
                  <p *ngIf="personalStoragePercent>85" style="color:red">
                    * Warning: You have used {{personal_space | number: '1.1-1' }} GB out of {{personal_allocated}} GB storage 
                    limit. Kindly contact Institute admin to upgrade your storage
                  </p>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>