<div class="container-fluid">
  <div class="user-details-tab-head">
    <div class="py-2 px-2">
        <div class="row">
            <div class="col-md-6">
                <h5 class="m-0 p-0 font-weight-bold"> <i class="fa fa-wrench circle-head-icon" aria-hidden="true"></i> Live Class </h5>
            </div>
        </div>
    </div>                    
  </div>
  <div class="user-details-body">
    <div class="clearfix"></div>
    <p></p>
    <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered ">
      <thead>
        <tr>
          <th style="width: 60px;">Date</th>
          <th style="width: 250px;">Live Class Title </th>
          <th style="min-width: 350px;">Time </th>
        </tr>
      </thead>
      <tbody *ngIf="classes?.length <= 0">
      </tbody>
      <tbody *ngIf="classes?.length > 0">
        <tr *ngFor="let class of classes">
          <td>{{toTime(class.start_time,class.timezone) | date:'dd-MM-yyyy'}} </td>
          <td class="grn-txt-clr"><a href="javascript:void(0)"> {{class.title}} </a></td>
          <td>
            <span>{{toTime(class.start_time,class.timezone) | amDateFormat:'HH:mm a'}} - {{toTime(class.end_time,class.timezone) | amDateFormat: 'HH:mm a'}} GMT {{class.timezone}} ({{class.end_time | amDifference: class.start_time :'minutes' : true}} Mins)</span>
            <div class="pull-right">
              <a href="javascript:void(0);" class="btn btn-sm" *ngIf="isAfter(class.start_time,class.end_time)">Upcoming</a>
              
              <span class="text-danger mx-3"  *ngIf="isBetween(class.start_time,class.end_time) && class.is_live"><i class="fa fa-stop-circle-o"></i> Live</span>

              <span class="text-primary mx-3"  *ngIf="isBetween(class.start_time,class.end_time) && !class.is_live && !class.is_closed"> Waiting for presenter</span>
              <a target="_blank" href="/class/?discussion_id={{class.id}}&token={{token}}" class="btn btn-danger btn-sm" [ngClass]="{'disabled': !class.is_live}" [title]="!class.is_live ? 'Waiting for presenter' : 'Go to class'" *ngIf="isBetween(class.start_time,class.end_time) && !class.is_closed">Join</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>
