<div class="container-fluid">
  <div class="user-details-tab-head">
    <div class="py-2 px-2">
        <div class="row">
            <div class="col-md-6">
                <h5 class="m-0 p-0 font-weight-bold"> <img src="/assets/images/teacher-icon.png" class="w-18"> Schedule Live Class </h5>
            </div>
        </div>
    </div>                    
  </div>
  <div class="user-details-body">
    <div class="details-content-edit info-view-block">
      <form name="cms_page_form" (ngSubmit)="f.form.valid && isMinSatisfied()  && isMaxSatisfied() && !isEndBeforeStart() && (currentUser['user_type']=='teacher' || liveClass.teacher) && (liveClass.students.length || liveClass.groups.length) && saveClass()" #f="ngForm" novalidate>
      <div class="row align-items-center" *ngIf="currentUser['user_type'] == 'admin' || currentUser['user_type'] == 'superadmin'">
          <label class="col-sm-3 mt-3 grn-txt-clr">
              Course Teacher(s) <sup class="red-txt-clr">*</sup>
          </label>
          <div class="col-sm-3 mt-3">
              <a href="javascript:void(0);" class="btn mx-0"  (click)="assignTeacherModal.show()">
                  Assign Teacher
              </a>
          </div>
          <div class="col-sm-6 mt-3"  *ngIf="liveClass.teacher">
            <div class="avatar-img d-inline-block mr-2">
                <img class="img-circle" [src]="liveClass.teacher.profile_image" *ngIf="liveClass.teacher.profile_image" />
                <img class="img-circle" src="/assets/images/avatar.png" *ngIf="!liveClass.teacher.profile_image" />
                <a href="javascript:void(0);" class="cb-circle-icon" (click)="deletedTeacherModal.show()"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
            <span class="grn-txt-clr d-inline-block">{{liveClass.teacher.firstname+' '+liveClass.teacher.lastname | titlecase}}</span>
          </div>
          <div class="col-sm-12 help-block" *ngIf="f.submitted && !liveClass.teacher ">Please select a teacher for the class</div>
      </div>
      <div class="row align-items-center">
          <label class="col-sm-3 mt-3 grn-txt-clr">
              Participant(s) <sup class="red-txt-clr">*</sup>
          </label>
          <div class="col-sm-3 mt-3">
              <a href="javascript:void(0);" class="btn mx-0"  (click)="resetOperation();assignParticipantsModal.show()">
                  Add/Edit Participants
              </a>
              <div class="col-sm-12 mt-3">
                <span class="grn-txt-clr d-inline-block"> Selected Participants ({{liveClass.students.length}})</span>
              </div>
          </div>
          <div class="col-sm-6 mt-3">
              <a href="javascript:void(0);" class="btn mx-0"  (click)="resetOperation();assignGroupsModal.show()">
                  Add/Edit Groups
              </a>
              <div class="col-sm-12 mt-3">
                <span class="grn-txt-clr d-inline-block"> Selected Groups ({{liveClass.groups.length}})</span>
              </div>
          </div>
          <div class="col-sm-12 help-block" *ngIf="f.submitted && liveClass.students.length <=0 && liveClass.groups.length <=0">Please select participants for the class</div>
      </div>
      <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Title <sup class="red-txt-clr"> * </sup></label>
                <div class="info-icon-block">
                  <input type="text" name="class_title" #class_title="ngModel" class="form-control" required [(ngModel)]="liveClass.title">
                  <div class="info-icon" data-toggle="tooltip" data-placement="top" ngbTooltip="Class title">
                      <i class="fa fa-info" aria-hidden="true" ></i>
                  </div>
                </div>
                <div *ngIf="f.submitted && !class_title.valid" class="help-block">Please enter the class title</div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group mb-0">
                <div class="d-inline-block">
                  <input class="" id="autotimezone" [checked]="autoTimeZone" name="autotimezone" type="checkbox" (click)="resetToLocal()" />
                  <label for="autotimezone" class="ml-2 align-middle"> <small>Autoselect timezone based on location</small></label>
                </div>
              </div>
            </div>
            <div class="col-md-4 mt-3">
              <div class="form-group">
                <label>Time Zone  </label>
                <div class="info-icon-block">
                    <select name="time_zone" class="form-control" [ngClass]="{'disabled': autoTimeZone}" [disabled]="autoTimeZone" (change)="autoTimeZone=false" title="Please select something!" [(ngModel)]="liveClass.timezone">
                        <option [value]="tz.offset" *ngFor="let tz of timezones">{{tz.label}}</option>
                    </select>
                    
                    <div class="info-icon" data-toggle="tooltip" data-placement="top" ngbTooltip="Timezone.">
                        <i class="fa fa-info" aria-hidden="true" ></i>
                    </div>
                </div>
              </div>
            </div>                                
            <div class="col-md-4 mt-3">
              <div class="form-group">
                <label>Start Date/Time <sup class="red-txt-clr"> * </sup></label>
                <div class="info-icon-block">
                    <div class="input-icon-block">
                      <input type="text" name="start_time_test" #start_time class="form-control">
                      <input type="hidden" name="start_time" required #start_time_mdl="ngModel" [(ngModel)]="liveClass.start_time">
                    </div>
                    <div class="info-icon" data-toggle="tooltip" data-placement="top" ngbTooltip="Class End Date.">
                        <i class="fa fa-info" aria-hidden="true" ></i>
                    </div>
                </div>
                <div *ngIf="f.submitted && !start_time_mdl.valid" class="help-block">Please select the class start time</div>
              </div>
            </div>
            <div class="col-md-4 mt-3">
              <div class="form-group">
                <label>End Date/Time <sup class="red-txt-clr"> * </sup></label>
                <div class="info-icon-block">
                    <div class="input-icon-block">
                      <input type="text" name="end_time_test" #end_time class="form-control">
                      <input type="hidden" name="end_time" required #end_time_mdl="ngModel" [(ngModel)]="liveClass.end_time">
                    </div>
                    <div class="info-icon" data-toggle="tooltip" data-placement="top" ngbTooltip="Class End Date.">
                        <i class="fa fa-info" aria-hidden="true" ></i>
                    </div>
                </div>
                <div *ngIf="f.submitted && !end_time_mdl.valid" class="help-block">Please select the class end time</div>
                <div *ngIf="isEndBeforeStart()" class="help-block">End time should be greater than start time</div>
                <div *ngIf="!isMinDurationSpecified" class="help-block">Class duration should be atleast {{classDuration}} mins.</div>
                <div *ngIf="!isMaxDurationSpecified" class="help-block">Maximum Liveclass duration is only {{plan.max_class_duration}} mins according to your plan.</div>
              </div>
            </div>
            <div class="col-md-12 mt-3" *ngIf="!liveClass.id">
              <div class="form-group">
                <label class="relative-block mr-3">
                    Is it Recurring class <sup class="red-txt-clr"> * </sup> <span>
                        <div class="info-icon" data-toggle="tooltip" data-placement="top"
                             ngbTooltip="Is it a recurring class?.">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>
                    </span>
                </label>
                <div class="d-inline-block">
                    <label class="mr-2"><input type="radio" name="recurring_class" [value]="true" [(ngModel)]="liveClass.is_recurring"> Yes</label>
                    <label class="mr-2"><input type="radio" name="recurring_class" [value]="false" [(ngModel)]="liveClass.is_recurring" class="recurring_block" checked> No</label>

                </div>
              </div>
            </div>
            <div class="col-md-12"  *ngIf="!liveClass.id" [ngClass]="{'d-none': !liveClass.is_recurring}">
              <div id="recurring_block" class="d-block">
                  <div class="border-top border-bottom py-3 mb-3">
                      <div class="row">
                          <div class="col-md-5">
                              <div class="form-group row align-items-center">
                                  <label class="col-auto">Recurring classes <sup class="red-txt-clr"> * </sup></label>
                                  <div class="col">
                                      <div class="info-icon-block">
                                          <select name="recurring_days" class="form-control recurring_days" title="Please select something!" [(ngModel)]="liveClass.recurring_schedule">
                                              <option value="-1">Daily (all 7 Days)</option>
                                              <option value="1">6 Days (Mon - Sat)</option>
                                              <option value="2">5 Days (Mon - Fri)</option>
                                              <option value="3">Weekly</option>
                                              <option value="4">On selected days</option>
                                              <option value="5">Once every month</option>
                                          </select>
                                          <div class="info-icon" data-toggle="tooltip" data-placement="top"
                                               ngbTooltip="Select schedule for recurring classes.">
                                              <i class="fa fa-info" aria-hidden="true"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-7">
                              <div class="row no-gutters">
                                  <div class="col-sm-6">
                                    <label class="col-sm-12">
                                        <input type="radio" name="recurring_class_end_type" [value]="false" [(ngModel)]="liveClass.recurring_class_end_type"> End after no of classes
                                    </label>
                                    <label class="col-sm-12">
                                        <input type="radio" name="recurring_class_end_type" [value]="true" [(ngModel)]="liveClass.recurring_class_end_type"> Ends on date 
                                    </label>
                                  </div>
                                  <div class="col-sm-6" [ngClass]="{'d-none': liveClass.recurring_class_end_type}">
                                      <label>
                                          <input type="number" name="recurring_class_limit" class="ca-students-width" [(ngModel)]="liveClass.recurring_class_limit"> Classes
                                      </label>
                                  </div>
                                  <div class="col-sm-6" [ngClass]="{'d-none': !liveClass.recurring_class_end_type}">
                                      <div class="form-group row align-items-center">
                                          <div class="input-icon-block col">
                                              <input type="text" placeholder="End Date" class="form-control"  [value]="liveClass.recurring_till" #recurring_till >
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-12" [ngClass]="{'d-none': liveClass.recurring_schedule != 4 }">
                              <div class="recurring_day_select">
                                  <label class="relative-block">
                                      Select Days <span>
                                          <div class="info-icon" data-toggle="tooltip" data-placement="top"
                                               ngbTooltip="Select days in which class will recurr.">
                                              <i class="fa fa-info" aria-hidden="true"></i>
                                          </div>
                                      </span>
                                  </label>
                                  <div class="info-icon-block days-checkbox-list">
                                      <ul class="list-unstyled">
                                          <li class="list-inline-item">  <label><input type="checkbox" name="on_monday" [(ngModel)]="liveClass.on_monday"> Monday </label></li>
                                          <li class="list-inline-item">  <label><input type="checkbox" name="on_tuesday" [(ngModel)]="liveClass.on_tuesday"> Tuesday </label></li>
                                          <li class="list-inline-item">  <label><input type="checkbox" name="on_wednesday" [(ngModel)]="liveClass.on_wednesday"> Wednesday </label></li>
                                          <li class="list-inline-item">  <label><input type="checkbox" name="on_thursday" [(ngModel)]="liveClass.on_thursday"> Thursday </label></li>
                                          <li class="list-inline-item">  <label><input type="checkbox" name="on_friday" [(ngModel)]="liveClass.on_friday"> Friday </label></li>
                                          <li class="list-inline-item">  <label><input type="checkbox" name="on_saturday" [(ngModel)]="liveClass.on_saturday"> Saturday </label></li>
                                          <li class="list-inline-item">  <label><input type="checkbox" name="on_sunday" [(ngModel)]="liveClass.on_sunday"> Sunday </label></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                  <label>Class Description<sup class="red-txt-clr"> * </sup></label>
                  <div class="info-icon-block">
                      <textarea class="form-control ckeditor" required name="editor" #description="ngModel" id="editor" cols="35" rows="20" [(ngModel)]="liveClass.description"></textarea>
                      <div class="clearfix"></div>
                      <div class="info-icon" data-toggle="tooltip" data-placement="top"
                           ngbTooltip="Class Description.">
                          <i class="fa fa-info" aria-hidden="true"></i>
                      </div>
                      <div *ngIf="f.submitted && !description.valid" class="help-block">Please enter the description</div>
                  </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-6 mt-3">
                    <label class="relative-block">
                        Start recording on entry<sup class="red-txt-clr"> * </sup>                                           
                            <div class="info-icon" data-toggle="tooltip" data-placement="top"
                                 ngbTooltip="Start recording on entry.">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </div>
                    </label>
                    <div class="d-inline-block ml-3">
                        <label class="mr-3"><input type="radio" name="record_on_entry" [value]="true" [(ngModel)]="liveClass.record_on_entry"> Yes </label>
                        <label class="mr-3"><input type="radio" name="record_on_entry" [value]="false" [(ngModel)]="liveClass.record_on_entry"> No </label>
                    </div>
                </div>
                <div class="col-sm-6 mt-3">
                    <label class="relative-block">
                        Enable webcam and microphone on entry<sup class="red-txt-clr"> * </sup>
                            <div class="info-icon" data-toggle="tooltip" data-placement="top"
                                 ngbTooltip="Enable webcam and microphone on entry.">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </div>
                    </label>
                <div class="d-inline-block ml-3">
                        <label class="mr-3"><input type="radio" name="usermedia_on_entry" [value]="true" [(ngModel)]="liveClass.usermedia_on_entry"> Yes </label>
                        <label class="mr-3"><input type="radio" name="usermedia_on_entry" [value]="false" [(ngModel)]="liveClass.usermedia_on_entry"> No </label>
                    </div>
                </div><div class="col-sm-6 mt-3">
                    <label class="relative-block">
                        Enable chat<sup class="red-txt-clr"> * </sup>  
                            <div class="info-icon" data-toggle="tooltip" data-placement="top"
                                 ngbTooltip="Enable chat.">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </div>
                    </label>
                <div class="d-inline-block ml-3">
                        <label class="mr-3"><input type="radio" name="private_chat" [value]="true" [(ngModel)]="liveClass.private_chat"> Yes </label>
                        <label class="mr-3"><input type="radio" name="private_chat" [value]="false" [(ngModel)]="liveClass.private_chat"> No </label>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-sm-8 mt-3" *ngIf="liveClass.id">
                <div class="form-group">
                    <label>Link for live class</label>
                    <div class="input-group">
                        <input type="text" class="form-control" readonly="" #clipboard_data [value]="getClassUrl(liveClass.id)"><a href="javascript:void(0);" class="ml-2 btn mt-0" (click)="copy2Clip(liveClass.id)"><i class="fa fa-copy"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
              <div class="form-group" *ngIf="operation.lifecycle=='stopped'">
                <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}"><p>{{operation.message}} <a href="javascript:void(0)" *ngIf="conflictStudents.length && !operation.status" (click)="conflictParticipantsModal.show()" class="badge badge-pill badge-danger">View List</a></p></div>
              </div>
              <div class="form-group" *ngIf="operation.lifecycle=='running'">
                <div class="alert alert-info"><p>Saving class. Please wait...</p></div>
              </div>
            </div>
            <div class="col-md-5">
                <div class="text-right mt-4">
                    <a routerLink="/live_classes" class="btn btn-no">Cancel</a>
                    <button type="submit" class="btn drkgrn-bckgrd-clr">Save Details</button>
                </div>
            </div>                                
        </div>
      </form>
              <!---assign Teacher-->
        <div class="modal fade" ngDraggable mdbModal #assignTeacherModal="mdbModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content" ngResizable>
                    <div class="modal-header">
                        <h5 class="modal-title"> Assign Teacher</h5>
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="assignTeacherModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body table-in">
                        <table class="table table-bordered table-striped default_data_table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Teacher Name</th>
                                    <th>Email ID</th>
                                    <th class="text-center no-sort">Options</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="teachers?.length <= 0">
                            </tbody>
                            <tbody *ngIf="teachers?.length > 0">
                                <tr *ngFor="let teacher of teachers">
                                    <td> {{teacher.firstname + ' '+ teacher.lastname | titlecase}} </td>
                                    <td> {{teacher.email}} </td>
                                    <td class="text-center">
                                        <input type="radio" name="selectedTeacher" [value]="teacher.user_id" [(ngModel)]="selectedTeacher">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="assignTeacher();assignTeacherModal.hide();">Assign</button>
                    </div>
                </div>
            </div>
        </div>
        <!--assign Teacher-->
        <!---assign Participants-->
        <div class="modal fade" ngDraggable mdbModal #assignParticipantsModal="mdbModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content" ngResizable>
                    <div class="modal-header">
                        <h5 class="modal-title"> Add / Edit Participants</h5>
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="assignParticipantsModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body table-in">
                        <table class="table table-bordered table-striped default_data_table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Username / Email Id</th>
                                    <th class="text-center no-sort">Options</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="students?.length <= 0">
                            </tbody>
                            <tbody *ngIf="students?.length > 0">
                                <tr *ngFor="let student of students">
                                    <td> {{student.firstname | titlecase}} / {{student.email}} </td>
                                    <td class="text-center">
                                        <input type="checkbox" name="selectedStudents" [(ngModel)]="selectedStudents[student.user_id]">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group" *ngIf="operation.lifecycle=='running'">
                          <div class="alert alert-info"><p>Validating assignment. Please wait...</p></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="assignParticipants();">Select</button>
                    </div>
                    <div id="dvOverLimit"  *ngIf="operation.lifecycle=='stopped'" class="inner_pop" [ngClass]="{'d-none': operation.status,'d-block': !operation.status}">
                        <p [innerHTML]="operation.message"></p>
                        <p>In order to increase the limit please contact Liveatclass administrator.</p>
                        <div class="text-right"><button type="button" class="btn btn-primary" (click)="resetOperation()">Close</button></div>
                    </div>
                </div>
            </div>
        </div>
        <!---Participants on another class-->
        <div class="modal fade" ngDraggable mdbModal #conflictParticipantsModal="mdbModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content" ngResizable>
                    <div class="modal-header">
                        <h5 class="modal-title">Participants</h5>
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="conflictParticipantsModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body table-in">
                        <table class="table table-bordered table-striped default_data_table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Username / Email Id</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="conflictStudents?.length <= 0">
                            </tbody>
                            <tbody *ngIf="conflictStudents?.length > 0">
                                <tr *ngFor="let student of conflictStudents">
                                    <td> {{student.firstname | titlecase}} / {{student.email}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-no" (click)="conflictParticipantsModal.hide();">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!---assign Groups-->
        <div class="modal fade" ngDraggable mdbModal #assignGroupsModal="mdbModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content" ngResizable>
                    <div class="modal-header">
                        <h5 class="modal-title"> Add / Edit Groups</h5>
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="assignGroupsModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body table-in">
                        <table class="table table-bordered table-striped default_data_table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Group Name</th>
                                    <th class="text-center no-sort">Options</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="groups?.length <= 0">
                            </tbody>
                            <tbody *ngIf="groups?.length > 0">
                                <tr *ngFor="let group of groups">
                                    <td> {{group.group_name | titlecase}} </td>
                                    <td class="text-center">
                                        <input type="checkbox" name="selectedGroups" [(ngModel)]="selectedGroups[group.id]">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group" *ngIf="operation.lifecycle=='running'">
                          <div class="alert alert-info"><p>Validating assignment. Please wait...</p></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="assignGroups();">Select</button>
                    </div>
                    <div id="dvOverLimit"  *ngIf="operation.lifecycle=='stopped'" class="inner_pop" [ngClass]="{'d-none': operation.status,'d-block': !operation.status}">
                        <p [innerHTML]="operation.message"></p>
                        <p>In order to increase the limit please contact Liveatclass administrator.</p>
                        <div class="text-right"><button type="button" class="btn btn-primary" (click)="resetOperation()">Close</button></div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--assign Teacher-->
        <!--Delete Confirmation-->
        <div class="modal fade" ngDraggable mdbModal #deletedTeacherModal="mdbModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete</h5>
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="deletedTeacherModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body msg-alert-block text-center">
                        <p> Are you sure you want to remove this teacher? </p>
                        <a href="javascript:void(0);" class="btn btn-no" data-dismiss="modal" aria-label="Close" (click)="deletedTeacherModal.hide()"> No </a> <a href="javascript:void(0);" class="btn"  (click)="liveClass.teacher_id=0;liveClass.teacher=null;deletedTeacherModal.hide()"> Yes </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Delete Confirmation-->

    </div>
  </div>
</div>
