
<div class="container-fluid">
  <div class="user-details-tab-head">
    <div class="py-1 px-2">
      <div class="row">
        <div class="col-6">
          <h5 class="m-0 p-0 font-weight-bold"> <i class="fa fa-wrench circle-head-icon" aria-hidden="true"></i> Domain Mapping </h5>
        </div>
      </div>
    </div>
  </div>
</div>
  
<div class="container-fluid">
  <p>Customize your subdomain name or use your domain</p>
  <div class="row mt-3">
    <div class="col-sm-10">
    <div class="details-content-edit field-block">
      <form class="login-settings" role="form" name="form" (ngSubmit)="f.form.valid && saveSettings()" #f="ngForm" novalidate>  
        <div class="row">
            <div class="col-sm-6">
                <div class="info-icon-block form-group ustom-control custom-radio">
                    <input class="form-check-input reset-check-input custom-control-input" type="radio" name="is_domain" id="exampleRadios1" [value]="false" [(ngModel)]="settings.is_domain">
                    <label for="exampleRadios1" class="mb-3 custom-control-label"> Set Live@Class sub-domain name </label>
                    <div class="info-icon nrml-info-icon" data-toggle="tooltip" data-placement="right" title="Set your custom subdomain on our domain.">
                        <i class="fa fa-info" aria-hidden="true" ></i>
                    </div>
                    <div>
                    http:// <input type="text" [required]="!settings.is_domain" placeholder="xyz" name="subdomain" #subdomain="ngModel" class="form-control d-inline-block w-auto" [(ngModel)]="settings.subdomain" pattern="^[a-zA-Z][a-zA-Z0-9-]+[a-zA-Z0-9]$">.liveclass.com
                    </div>
                </div>
                <div *ngIf="f.submitted && !subdomain.valid" class="help-block">Please enter a valid subdomain</div>
            </div>
            <div class="col-sm-6">
                <div class="info-icon-block form-group ustom-control custom-radio">
                    <input class="form-check-input reset-check-input custom-control-input" type="radio" name="is_domain" id="exampleRadios2" [value]="true" [(ngModel)]="settings.is_domain">
                    <label for="exampleRadios2" class="mb-3 custom-control-label"> Set External domain mapping </label>
                    <div class="info-icon nrml-info-icon" data-toggle="tooltip" data-placement="right" title="Only enter the domain name without protocol (http(s)) and without (www), e.g if your domain is `http://www.sample.xyz.com` then only enter `sample.xyz.com` .">
                        <i class="fa fa-info" aria-hidden="true" ></i>
                    </div>
                    <div>
                    http:// <input type="text" [required]="settings.is_domain" name="domain" #domain="ngModel" placeholder="yourexternaldomain.com" class="form-control d-inline-block w-auto" [(ngModel)]="settings.domain">
                    </div>
                </div>
                <div *ngIf="f.submitted && !domain.valid" class="help-block">Please enter a valid domain</div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" *ngIf="operation.lifecycle=='stopped'">
          <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}"><p [innerHTML]="operation.message"></p></div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-sm-6 text-right">
                <button class="btn btn-no" routerLink="/">Cancel</button>
                <button type="submit" class="btn drkgrn-bckgrd-clr">Save Domain Name</button>
            </div>
        </div>
      </form>
    </div>
    
    </div>
  </div>
</div>


