
<div class="container-fluid">
  <div class="user-details-tab-head">
    <div class="py-1 px-2">
      <div class="row">
        <div class="col-6">
          <h5 class="m-0 p-0 font-weight-bold"> <i class="fa fa-wrench circle-head-icon" aria-hidden="true"></i> Interface Language </h5>
        </div>
      </div>
    </div>
  </div>
</div>
  
<div class="container-fluid">
  <p>Customize your language for LMS, Virtual Classroom & also in your Login Pages</p>
  <div class="row mt-3">
    <div class="col-sm-10">
    <div class="details-content-edit field-block">
        <div class="form-group ">
            <label> Default interface language for your LMS and Virtual classroom </label>
            <div class="row">
                <div class="col-sm-6 offset-sm-6">
                  <div class="info-icon-block">
                        <select class="form-control" [(ngModel)]="settings.class_language">
                            <option value="en-uk"> English - (UK) </option>
                        </select>
                        <div class="info-icon" data-toggle="tooltip" data-placement="right" title="Language which will be used in LMS and virtual classroom.">
                          <i class="fa fa-info" aria-hidden="true" ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group ">
            <label> Default interface language for Login and other static page </label>
            <div class="row">
                <div class="col-sm-6 offset-sm-6">
                  <div class="info-icon-block">
                        <select class="form-control" [(ngModel)]="settings.other_language">
                            <option value="en-uk"> English - (UK) </option>
                        </select>
                        <div class="info-icon" data-toggle="tooltip" data-placement="right" title="Language which will be used in other pages.">
                          <i class="fa fa-info" aria-hidden="true" ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group" *ngIf="operation.lifecycle=='stopped'">
          <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}"><p [innerHTML]="operation.message"></p></div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-sm-6 text-right">
                <button class="btn btn-no" routerLink="/">Cancel</button>
                <button type="button" class="btn drkgrn-bckgrd-clr" (click)="saveSettings()">Save Details</button>
            </div>
        </div>
    </div>
    
    </div>
  </div>
</div>


