<div class="container-fluid">
	<div class="user-details-tab-head">
		<div class="py-1 px-2">
			<div class="row">
				<div class="col-6">
					<h5 class="m-0 mt-1 p-0 font-weight-bold"> <i class="fa fa-wrench circle-head-icon" aria-hidden="true"></i> Logo Settings</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="custmized-heading">
	  <div class="col-10">
		<p>Customize your Website Logo, Virtual Classroom Logo &amp; Favicon of your website</p>
	  </div>
	</div>
</div>
<div class="container-fluid">
	<div class="row upload-logos mt-3">
		<div class="col-sm-3">
		  <div class="website-logo">
			<h3>Website Logo</h3>
			<div class="logos">
			  <img *ngIf="web_logo!=''" [src]="web_logo" class="img-fluid" style="width:45%;">
			  <img *ngIf="web_logo==''" src="/assets/images/logo.png">
			</div>
		  </div>
		  <div class="recommed-size">
			<p>Recommended Size</p>
			<p>150px*100px .PNG</p>
			<div class="upload-btn" >
			  <input type="text" disabled placeholder="liveatlogo.png" [value]="web_logo_upload.name" id="web_logo" name="search2">
			  <input type="file" accept="image/*" class="hide" #web_uploader (change)="fileChange($event,'web_logo')" />
				<button (click)="web_uploader.click()"><i class="fa fa-file-o" aria-hidden="true"></i></button>
				</div>
				<div class="clearfix"></div>
				<div class="form-group" *ngIf="operation['web_logo'].lifecycle=='running'">
					<div class="storage-details-show mb-0 mt-2 col-sm-12">
						<div class="progress">
              <div class="progress-bar" [style]="getWidthPercent(operation['web_logo'].progress)"></div>
            </div>
					</div>
        </div>

				<div class="form-group" *ngIf="operation['web_logo'].lifecycle=='stopped'">
					<div class="alert alert-success mb-0 mt-2" [ngClass]="{'alert-success': operation['web_logo'].status,'alert-danger': !operation['web_logo'].status}"><p [innerHTML]="operation['web_logo'].message"></p></div>
        </div>
			  <div class="upload-img-btn">
			  <label class="btn-bs-file btn btn-primary" (click)="saveLoginSettings('web_logo')">
				Upload Logo
				</label>
			  <label class="btn-bs-file btn btn-primary" (click)="resetSettings('web_logo')">
				Reset Logo
				</label>
			</div>
		  </div>
		</div>
		<div class="col-sm-3 offset-sm-1">
			<div class="website-logo">
			  <h3>Virtual Classroom</h3>
			  <div class="logos">
			  <img *ngIf="class_logo!=''" [src]="class_logo" class="img-fluid" style="width:45%;">
			  <img *ngIf="class_logo==''" src="/assets/images/logo.png">
			  </div>
			</div>
			<div class="recommed-size">
				<p>Recommended Size</p>
				<p>150px*100px .PNG</p>
				<div class="upload-btn" >
				  <input type="text" disabled placeholder="liveatlogo.png" [value]="class_logo_upload.name" id="class_logo" name="search2">
					<input type="file" accept="image/*" class="hide" #class_uploader (change)="fileChange($event,'class_logo')" />
				  <button (click)="class_uploader.click()"><i class="fa fa-file-o" aria-hidden="true"></i></button>
				  </div>
				  <div class="clearfix"></div>
					<div class="form-group" *ngIf="operation['class_logo'].lifecycle=='running'">
						<div class="storage-details-show mb-0 mt-2 col-sm-12">
							<div class="progress">
	              <div class="progress-bar" [style]="getWidthPercent(operation['class_logo'].progress)"></div>
	            </div>
						</div>
	        </div>
					<div class="form-group" *ngIf="operation['class_logo'].lifecycle=='stopped'">
						<div class="alert alert-success mb-0 mt-2" [ngClass]="{'alert-success': operation['class_logo'].status,'alert-danger': !operation['class_logo'].status}"><p [innerHTML]="operation['class_logo'].message"></p></div>
          </div>
				  <div class="upload-img-btn">
				  <label class="btn-bs-file btn btn-primary" (click)="saveLoginSettings('class_logo')">
					Upload Logo
					</label>
				  <label class="btn-bs-file btn btn-primary" (click)="resetSettings('class_logo')">
					Reset Logo
					</label>

				</div>
			  </div>
		  </div>
		  <div class="col-sm-3 offset-sm-1">
			  <div class="website-logo favicon-text">
				<h3>Favicon</h3>
				<div class="favicon">
					<img *ngIf="fav_icon!=''" [src]="fav_icon" class="img-fluid" style="width:45%;">
				  <img *ngIf="fav_icon==''" src="/assets/images/logo.png">
				</div>
			  </div>
			  <div class="recommed-size">
				  <p>Recommended Size</p>
				  <p>60px*60px .ICO</p>
				  <div class="upload-btn" >
					<input type="text" disabled placeholder="liveatlogo.png" [value]="fav_icon_upload.name" id="fav_icon" name="search2">
					<input type="file" accept=".ico,.ICO,.png" class="hide" #fav_uploader (change)="fileChange($event,'fav_icon')" />
					<button (click)="fav_uploader.click()"><i class="fa fa-file-o" aria-hidden="true"></i></button>
					</div>
					<div class="clearfix"></div>
					<div class="form-group" *ngIf="operation['fav_icon'].lifecycle=='running'">
						<div class="storage-details-show mb-0 mt-2 col-sm-12">
							<div class="progress">
	              <div class="progress-bar" [style]="getWidthPercent(operation['fav_icon'].progress)"></div>
	            </div>
						</div>
	        </div>
					<div class="form-group" *ngIf="operation['fav_icon'].lifecycle=='stopped'">
						<div class="alert alert-success mb-0 mt-2" [ngClass]="{'alert-success': operation['fav_icon'].status,'alert-danger': !operation['fav_icon'].status}"><p [innerHTML]="operation['fav_icon'].message"></p></div>
          </div>
					<div class="upload-img-btn">
					<label class="btn-bs-file btn btn-primary" (click)="saveLoginSettings('fav_icon')">
					  Upload Logo
					</label>
					<label class="btn-bs-file btn btn-primary" (click)="resetSettings('fav_icon')">
						Reset Logo
						</label>
				  </div>

				</div>
			</div>
	</div>
</div>
