<div class="container-fluid">
	<div class="user-details-tab-head">
		<div class="py-1 px-2">
			<div class="row">
				<div class="col-6">
					<h5 class="m-0 mt-1 p-0 font-weight-bold"> <i class="fa fa-wrench circle-head-icon" aria-hidden="true"></i> Storage Management</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="custmized-heading">
	  <div class="col-6">
		<p>View total space allocated and the individual space usage</p>
	  </div>
	</div>
</div>
	
<div class="container-fluid">
	<div class="storage-details-show">
  	<div class="text-right">
          <h6 class="text-uppercase"> Total Storage <span> {{totalSpace}} GB </span> </h6>
          <h6 class="text-uppercase"> Used Space <span> {{usedSpace | number: '1.1-1' }} GB </span> </h6>
          <h6 class="text-uppercase"> Free Space <span> {{(totalSpace - usedSpace) | number: '1.1-1' }} GB </span> </h6>
      </div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Teacher</th>
            <th colspan="2">Allocated	</th>
            <th colspan="2"class="no-sort pl-3" width="110"> Usage</th>
          </tr>
        </thead>
        <tbody>
        	<tr *ngIf="teachers.length <=0">
        		<td colspan="6">No teachers added</td>
        	</tr>
          <tr *ngFor="let detail of teachers">
            <td class="grn-txt-clr"><a routerLink="/profile/{{detail.teacher.user_id}}" > {{detail.teacher.firstname+' '+detail.teacher.lastname | titlecase}} </a></td>


            <td width="90" class="drkgrn-txt-clr font-weight-bold text-right"> 
              <div *ngIf="detail.teacher.storage >0; else elseBlock">{{detail.teacher.storage | number: '1.1-1'}} GB</div>
              <ng-template #elseBlock>Not allocated</ng-template>
            </td>

            <td class="font-weight-bold default-txt-clr"> <a href="javascript:void(0);" class="d-block" (click)="showModal(detail)"> <i class="fa fa-line-chart" aria-hidden="true"></i> Modify </a> </td>
            <td class="drkgrn-txt-clr font-weight-bold text-right" width="80"> <!-- {{detail.used_space | number: '1.1-1'}} GB --> </td>
            <div *ngIf="detail.teacher.storage >0">
              <td class="font-weight-bold" width="250"> 
                <div class="progress">
                  <div class="progress-bar" [style]="getWidthPercent((detail.used_space*100)/detail.teacher.storage)"></div>
                </div> 
              </td>
              <td class="drkgrn-txt-clr font-weight-bold text-right" width="120"> {{detail.used_space | number: '1.1-1'}}/<span>{{detail.teacher.storage | number: '1.1-1'}} GB </span> </td>
            </div>
            <div *ngIf="detail.teacher.storage <=0">
              <td class="font-weight-bold" width="250"> 
                <div>Institute Storage</div>
              </td>
              <td class="drkgrn-txt-clr font-weight-bold text-right" width="120"></td>
            </div>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-right"> TOTAL STORE OF INSTITUTE </td>
            <td class="drkgrn-txt-clr text-right font-weight-bold highlight-txt"> {{totalSpace}} GB	</td>
            <td colspan="2" class="drkgrn-txt-clr text-right font-weight-bold highlight-txt" width="110">{{usedSpace | number: '1.1-1' }} GB</td>
            <td class="text-center">
              <div class="progress">
                <div [ngClass]="{'progress-bar': instituteStoragePercent<=85,'progress-bar-danger':instituteStoragePercent>85}"  [style]="getWidthPercent((usedSpace*100)/totalSpace)"></div>
              </div> 
            </td>
            <td class="drkgrn-txt-clr text-right font-weight-bold"> {{usedSpace | number: '1.1-1' }}/ <span> {{totalSpace}} GB </span></td>
          </tr>
        </tfoot>
      </table>
      <p *ngIf="instituteStoragePercent>85" style="color:red">
                    * Warning: You have used {{usedSpace | number: '1.1-1' }} GB out of {{totalSpace}} GB storage 
                    limit.Kindly contact Liveatclass admin to upgrade your plan
                    </p>
      <div mdbModal #assignSpaceModal="mdbModal" class="modal fade">
			  <div class="modal-dialog" role="document">
					<div class="modal-content field-block">
	          <div class="modal-header">
	            <h5 class="modal-title" id="exampleModalLabel"> Change Space Allocation </h5>
	            <button type="button" class="close-circle" (click)="assignSpaceModal.hide()">
	              <span aria-hidden="true">&times;</span>
	            </button>
	          </div>
	          <div class="modal-body table-in details-content-edit" *ngIf="selectedTeacher.teacher">
	          	<p class="default-txt-clr"> Change Space allocated for <span class="drkgrn-txt-clr font-weight-bold"> {{selectedTeacher.teacher.firstname+' '+selectedTeacher.teacher.lastname | titlecase}} </span> </p>
	            <div class="mt-4 mb-3"><div class="text-center grn-txt-clr font-weight-bold my-3">
	              <div class="range-slider">
	                  <input class="range-slider__range mb-3" id="range_id" (change)="updateStorage($event)" type="range" [value]="selectedTeacher.teacher.storage" min="0" [max]="remainingSpace">
	                  <input class="range-slider__value" type="text" id="slider_range_id" [value]="selectedTeacher.teacher.storage" (change)="updateStorage($event)" > <span class="red-txt-clr"> GB </span> /{{remainingSpace}} GB  
	              </div>
	              </div>
          			<div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}" *ngIf="operation.lifecycle=='stopped'"><p [innerHTML]="operation.message"></p></div>
	              <div class="text-center" *ngIf="(totalAssignedSpace - selectedTeacher.existing_storage + selectedTeacher.teacher.storage ) <= totalSpace">
	                <button type="button" class="btn drkgrn-bckgrd-clr" (click)="saveStorage(selectedTeacher.teacher)" >Update</button>
	              </div>
	            </div>
              <p *ngIf="instituteStoragePercent>85" style="color:red">
                    * Warning: You have used {{usedSpace | number: '1.1-1' }} GB out of {{totalSpace}} GB storage 
                    limit.Kindly contact Liveatclass admin to upgrade your plan
                    </p>
	            <p class="drkgrn-txt-clr" *ngIf="(totalAssignedSpace - selectedTeacher.existing_storage + selectedTeacher.teacher.storage ) > totalSpace"> Space allocation exceeds the overall institution quota. Upgrade the pricing plan to allocate more storage. </p>
	          </div>
	        </div>
			  </div>
			</div>
  </div>
</div>


