
<div class="container-fluid">
            	<div class="user-details-tab-head">
                	<div class="py-2 px-2">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="m-0 p-0 font-weight-bold"> <i class="fa fa-wrench circle-head-icon" aria-hidden="true"></i> Create/Manage Users </h5>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="user-details-body">
                	<div class="user-list-btn">
                        <div class="row">
                            <div class="col-sm-5">
                                <p class="mt-2"> Add users and assign role for them </p>
                            </div>
                            <div class="col-sm-7">
                                <div class="text-right add-bulk-import">
									<a class="btn" href="javascript:void(0);" (click)="model={firstname:'',lastname:'',email:'',password:'',auto_password: true};addUserModal.show()" > Add New User </a><a class="btn btn-no" href="javascript:void(0);" (click)="bulkUserModal.show()"> Bulks Users Import </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-info" *ngIf="commonOperation.lifecycle=='running'"><p [innerHTML]="commonOperation.message"></p></div>
                    <div class="alert alert-success" [ngClass]="{'alert-success': commonOperation.status,'alert-danger': !commonOperation.status}" *ngIf="commonOperation.lifecycle=='stopped'"><p [innerHTML]="commonOperation.message"></p></div>
                
                   <table datatable [dtOptions]="dtOptions"  id="create-manage-user" class="table table-striped table-bordered ">
                      <thead>
                        <tr>
                          <th>Username/Email ID</th>
                          <th>Name</th>
                          <th>Enrolled via</th>
                          <th>User Type</th>
                          <th> Status </th>
                          <th class="text-center no-sort" width="110">Options</th>
                        </tr>
                      </thead>
						  <tbody *ngIf="usersList?.length == 0">
							<tr>
								<td colspan="6">No records found</td>
							</tr>
						</tbody>
						<tbody *ngIf="usersList?.length > 0">
						  <tr *ngFor="let users of usersList; let in = index;">
							<td class="grn-txt-clr"><a *ngIf="users.user_type_id > 1"  routerLink="/edit_user_detail/{{users.user_id}}"  [queryParams]="{tab: 'info',edit: 0}">{{ users.email}}</a><a *ngIf="users.user_type_id == 1" href="javascript:void(0)">{{ users.email}}</a></td>
							<td class=" font-weight-bold">{{ users.firstname |titlecase }}</td>
							<td>Institute</td>
							<td>{{ users.user_type |titlecase }}</td>
							<td *ngIf = "users.user_type_id > 1"> <span class="badge" [ngClass]="{'badge-danger': users.is_active == 0,'badge-warning': users.is_active == 1,'badge-success': users.is_active == 2}">{{users.is_active == 0 ? 'In Active' : (users.is_active == 1 ? 'Activation Pending' : 'Active')}}</span> </td>
							<td *ngIf = "users.user_type_id <= 1"> <span class="badge badge-success">Active</span> </td>
							<td class="text-center check-with-icon"> 
							  <span class="custom-control custom-switch" *ngIf="users.user_type_id > 1">
								  <input type="checkbox" [disabled]="users.is_active == 1" id="customSwitch2_{{users.id}}" class="custom-control-input" [checked]="users.is_active==2" (change)= "getValueOfSwitches($event, users.user_id)">
								  <label class="custom-control-label c-pointer" for="customSwitch2_{{users.id}}"></label>
								</span>
							 <a class="action-color" routerLink="/edit_user_detail/{{users.user_id}}" *ngIf="users.user_type_id > 1"> <i class="fa fa-pencil" aria-hidden="true"></i> </a> <a *ngIf="users.user_type_id > 1" class="action-color" href="javascript:void(0);" (click)="basicModal.show()" role="button"> <i class="fa fa-trash" aria-hidden="true"></i> </a>
							 <div mdbModal ngDraggable #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
								  <div class="modal-dialog" role="document">
									<div class="modal-content">
										
									  <div class="modal-header">
										  <h5 class="modal-title " id="myModalLabel">Remove User</h5>
										<button type="button" class="close-circle pull-right" aria-label="Close" (click)="basicModal.hide()">
										  <span aria-hidden="true">×</span> 
										</button>
										
									  </div>
									   <div class="modal-body msg-alert-block text-center">
										<p> Are you sure you want to remove user? </p>
									 
									  
										<button type="button" aria-label="Close" (click)="basicModal.hide()" class=" btn btn-no">No</button>
										<button type="button" class="btn"  (click)="deleteUser(users.user_id, in)">Yes</button>
									   </div>
									</div>
								  </div>
								</div>
							</td>
							</tr>
						</tbody>
					</table>
					 <!-- Modal one -->
					 
					<div mdbModal ngDraggable #addUserModal="mdbModal" class="modal fade"  (closed)="onClosed($event,f)">
					  <div class="modal-dialog" role="document">
						<div class="modal-content field-block" ngResizable>
						
						  <div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel"> Add New User </h5>
							<button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="addUserModal.hide()">
							  <span aria-hidden="true">&times;</span>
							</button>
						  </div>
						 
						  <div class="modal-body table-in reset-style details-content-edit">
							<form name="form" id="institute_user" role="form" class="form-horizontal register" (ngSubmit)="f.form.valid && addInstituteUser()" #f="ngForm" novalidate>
							  <div class="form-group">
								<label>First Name</label>
								<input type="text" class="form-control" id="form_control_1" placeholder="Enter Your First Name" name="firstname" [(ngModel)]="model.firstname" #firstname="ngModel" required />
								<div *ngIf="f.submitted && !firstname.valid" class="help-block">First Name is Required</div>
							  </div>
							  <div class="form-group">
								<label>Last Name</label>
								<input type="text" class="form-control" id="form_control_2" placeholder="Enter Your Last Name" name="lastname" [(ngModel)]="model.lastname" #lastname="ngModel" required />
								<div *ngIf="f.submitted && !lastname.valid" class="help-block">Last Name is Required</div>
							  </div>
							  <div class="form-group">
								<label>Email ID/Username <sup class="red-txt-clr"> * </sup></label>
								<input type="email" class="form-control" id="form_control_3" placeholder="example@abc.com" name="email"  [(ngModel)]="model.email" #email="ngModel" (ngModelChange)="onChange($event)" required />
								<div *ngIf="f.submitted && !email.valid && validEmail != false" class="help-block">
								Email is Required</div>
								<span *ngIf = "validEmail == false" class="help-block email-vaild">Please enter valid email</span>
							  </div>
                <div class="form-group">
                  <label class="d-block">Password <sup class="red-txt-clr"> * </sup> <span class="float-right"><input type="checkbox" name="auto-generate" [(ngModel)]="model.auto_password" (click)="autoGenPass()" /> Autogenerate</span></label>
                  <div *ngIf="!model.auto_password">
                    <input type="password" class="form-control" id="form_control_4" placeholder="" name="password"  [(ngModel)]="model.password" #password="ngModel" required minlength="5" maxlength="50" />
                    <div *ngIf="!model.auto_password && f.submitted && !password.valid" class="help-block">
                      Please enter 5-50 characters long password.
                    </div>
                  </div>
                </div>
							  <div class="form-group">
								<div class="form-group">
									<label>User Type</label>
									<select class="form-control" id="user_type">
									  <option *ngFor="let usersType of userTypeList; let in = index;" id="{{usersType.id}}" class="text-transform-capitalize">{{usersType.name}}</option>
									</select>
								</div>
							  </div>
							  <div class="alert alert-info" *ngIf="errorMsg['addUser'] && errorMsg['addUser']!=''">{{errorMsg['addUser']}}</div>
							  <div class="text-center ">
								<button type="button" aria-label="Close" (click)="addUserModal.hide()" mdbWavesEffect class=" btn btn-no">No</button>
								<button type="submit" mdbWavesEffect class="btn">Yes</button>
							  </div>
							</form>
						  </div>
					
						
						</div>
					  </div>
					
					</div>
					
					 <!-- Modal three -->
					 <div mdbModal #bulkUserModal="mdbModal" ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" (close)="clearOpeartion()">
					  <div class="modal-dialog w-30" role="document">
						<div class="modal-content field-block">
						  <div class="modal-header bkgrd-white">
							<h5 class="modal-title drkgrn-txt-clr pt-2" id="exampleModalLabel"> Bulk Users Import </h5>
							<button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="bulkUserModal.hide()">
							  <span aria-hidden="true">&times;</span>
							</button>
						  </div>
						  <div class="modal-body msg-alert-block download-block">
							<form action="">
							  <label class="custom-file-upload">
								<input type="file" name="filename" id="submitFile" #upload_csv (change)="fileChange($event)" accept=".csv"	>
								<span class="pl-2 pr-5"> {{docFile? docFile.name : 'Select CSV File'}} </span> <i class="fa fa-folder-open-o" aria-hidden="true"></i>
							  </label>
							  <div class="alert alert-info" *ngIf="operation.lifecycle=='running'"><p [innerHTML]="operation.message"></p></div>
	              <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}" *ngIf="operation.lifecycle=='stopped'"><p [innerHTML]="operation.message"></p></div>
	              <input type="button" value="Upload CSV" mdbWavesEffect class="btn" (click)="submitCSV()">
								<div class="mt-3">
									<a href="/assets/sample_users_upload.csv" class="grn-txt-clr"  download> <i class="fa fa-download" aria-hidden="true"></i>  Download CSV Template File </a>
								</div>
							</form>
						  </div>
						</div>
					  </div>
					</div>
                </div>
            </div>
