body{padding: 0; margin: 0;font-family: 'Roboto', sans-serif;}
h1, h2, h3, h4, h5, h6{margin:0;padding: 0;}
p{margin:0;padding: 0;} 
ul li{list-style: none;margin:0;padding: 0;}
ul{ margin: 0; padding: 0;}
a { text-decoration: none;}
a:hover{
    text-decoration: none;
    list-style: none;
}
span{
    font-size: 30px;
    color: #666666;
    font-weight: 200;
}
/*header*/
header {
    padding: 12px 0;
}
header .course-offered {
    position: relative;
    padding: 13px 0 0 0;
}
header .course-offer {
    position: absolute;
    top: 24px;
    left: 54px;
    font-size: 19px;
    color: #3e7c7c;
    font-weight: 200;
}
header i.fas{
    color: #3e7c7c;
    font-size: 12px;
}
header .logo-brand {
    margin-left: 10px;
}
/*live-banner*/
.live-banner .row{
    padding: 0px;
    margin: 0;
}
.live-banner .container-fluid{
    padding: 0px;
}
.live-banner img {
    width: 100%;
    height:inherit;
}

@media only screen and (min-width: 768px) {
  .live-banner img {
    height:100%;
  }
}

.live-banner .benificalwhom-signin {
    background-color: #ecf7f7;
    padding: 30px 0 30px 0px;
    float: left;
    width: 100%;
}
.live-banner .signin-live {
    text-align: center;
    float: left;
    border-bottom: 1px solid #000;
    width: 95%;
    border-width: 100%;
    margin: 0 0em 0 1em;
}
.signin-live .sign-in span {
    font-size: 30px;
    color: #666666;
    font-weight: 200;
}
.signin-live .sign-in h3 {
    color: #669999;
    font-size: 36px;
    margin-bottom: 30px;
}
.live-banner .no-padding {
    padding: 0px;
}
/*sign-in-form*/
.sign-in .input-container {
    display: inline-flex;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #9a9a9a;
    height: 47px;
  }
  
  .sign-in .icon {
    padding-top: 10px;
    background: #e6e1e1;
    color: #000;
    min-width: 50px;
    text-align: center;
    font-size: 22px;
  }
  
  .sign-in .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 0px;
  }
  
  .sign-in .input-field:focus {
    border: transparent;
  }
  .sign-in .input-field::placeholder {
    color: #a29f9f;
    font-size: 18px;
    font-weight: 200;
    padding-top: 8px;
  }
  
  /* Set a style for the submit button */
  .sign-in .btn {
    background-color: #519696;
    color: white;
    padding: 6px 52px;
    font-size: 26px;
    font-weight: 100;
    border: 1px solid #295d5d;
    border-radius: 0;
    -webkit-box-shadow: 8px 4px 19px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 4px 19px -5px rgba(0,0,0,0.75);
    box-shadow: 8px 4px 19px -5px rgba(0,0,0,0.75);
  }
  .signin-live .sign-in .forgot-password {
    display:flex;
    justify-content: space-between;
    padding-top: 22px;
}
.signin-live .sign-in .forgot-password p {
    padding: 14px 0 0 0;
    font-size: 18px;
    color: #064846;
    font-weight: 100;
    cursor: pointer;
}
.signin-live form.sign-in {
    padding-bottom: 30px;
}
.benifical-whom {
    margin: 30px 0 0 30px;
    float: left;
    width: 88%;
}
.benificalwhom-signin .benifical-whom p {
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 9px;
}
.benificalwhom-signin .benifical-whom ul {
    margin-left: 30px;
}
.benificalwhom-signin .benifical-whom ul li {
    padding-bottom: 4px;
}
.benificalwhom-signin .benifical-whom ul li a {
    font-size: 18px;
    font-weight: 200;
    color: #000;
}
.benificalwhom-signin .benifical-whom ul li i.fas{
    font-size: 12px;
}
/*section.about-sec*/
section.about-sec {
    padding: 20px 0 20px 0;
}
.about-live-chat {
	margin-left: 10px;
}
.about-sec .about-live-chat h3 {
    color: #669999;
    font-size: 36px;
    margin-bottom: 22px;
}
.about-sec .about-live-chat p {
    font-size: 16px;
    font-weight: 100;
	padding-bottom: 20px;
    line-height: 27px;
}
.unique-feature {
   
}
.unique-feature h3 {
    font-weight:500;
    color: #519696;
    padding-bottom: 20px;
}
.unique-feature ul {
    margin-left: 29px;
}
.unique-feature ul li {
    padding-bottom: 8px;
}
.unique-feature ul li a {
    font-weight: 200;
    font-size: 15px;
    color: #000;
}
.unique-feature ul li i.fas {
    font-size: 12px;
    font-weight: 550;
}
.add-border{
    border-left: 1px solid #519696;
    height: 204px;
}
/*footer*/
footer{
    background-color: #519696;
    padding: 16px 0 16px 0;
}
footer .footer-about li{
    display: inline-block;
    border-right: 1px solid #fff;
    padding: 0 8px 0 8px;
    line-height: 16px;
}
footer .footer-about li:last-child, footer .footer-terms li:last-child{
    border-right: 0px;
}
footer .footer-about li a{
    font-size: 18px;
    font-weight: 100;
    color: #fff;
}
footer ul.footer-terms {
    float: right;
}
footer .footer-terms li{
    display: inline-block;
    border-right: 1px solid #fff;
    padding: 0px 6px 0 6px;
    line-height: 16px;
}
footer .footer-terms li a{
    font-size: 14px;
    font-weight: 100;
    color: #fff;
}
/*modal*/
/*forgot-password-modal*/
.modal-dialog {
	width: 500px;
	margin: 30px auto;
}
.forgot-passsword-modal label {
    display: none;
}
.forgot-passsword-modal .modal-header {
    border-bottom: 0px solid #e5e5e5;
    padding: 8px 14px 0 0;
}
.pass-link h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: #294b4b;
    padding-bottom: 22px;
}
.forgot-passsword-modal .form-control{
    height: 48px;
}
.forgot-passsword-modal .btn-default {
    background-color: #519696;
color: white;
padding: 6px 24px;
font-size: 20px;
font-weight: 100;
border: 1px solid #295d5d;
border-radius: 0;
-webkit-box-shadow: 8px 4px 19px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 8px 4px 19px -5px rgba(0,0,0,0.75);
box-shadow: 8px 4px 19px -5px rgba(0,0,0,0.75);
}
/*course-preview*/
.course-preview-header .user-login {
	display: inline-flex;
}
.course-preview-header .welcone {
	padding: 8px 8px 0 0px;
	font-size: 15px;
	font-weight: normal;
	/* float: right; */
}
.line-background-color {
	background-color: #ebf7f7;
    border: 1px solid #b9d4d4;
    padding: 10px 0;
}
.course-introduction {
	padding: 20px 0 0 0;
}
.introduction-oops ul li {
    display: inline-block;
    padding: 0 0px 0 4px;
}
.introduction-oops ul li a{
    color: #999999;
}
.introduction-oops ul .oops a{
    color: #4f6565;
}
.introduction-oops ul {
	margin-left: 11px;
}
.course-introduction .course-listing {
    background-image: linear-gradient(to right top, #dfeeee, #e1f0f0, #e1f0f0, #e1f0f0, #e4f2f2, #e4f2f2, #e7f5f5, #e7f5f5, #e9f6f6, #e9f6f6, #e9f6f6, #e9f6f6);
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
}
.course-introduction .certified-img span {
    font-size: 12px;
    position: absolute;
    left: -2px;
    transform: rotate(-50deg);
    top: 14px;
}
.java-programing {
	margin-top: 15px;
}
.course-listing .yellow-icon{
    padding: 0px;
}
.Programming{
    padding-left: 0px;
}
.course-listing .java-programing h3 {
	font-size: 36px;
	font-weight: lighter;
}
.course-listing .java-programing h4 {
	font-size: 24px;
	font-weight: lighter;
	padding-top: 6px;
}<title>.live-banner img </title>