:root{ --drkgrn_color:#125252; --lgtgrn_color:#B8DCDC; --grn_color:#009900; --txtgrn_color:#009999; --rse_color:#FF0032;}
/*** Text Colors **/
.nrml-txt-clr{ color:#000 !important}
.hover-txt-wht:hover{ color:#fff !important}
.default-txt-clr{ color:#a9a7a7 !important}
.drkgrn-txt-clr{ color:var(--drkgrn_color)}
.grn-txt-clr{ color:var(--txtgrn_color)}
.grnclr-txt-clr{ color:var(--grn_color)}
.red-txt-clr{ color:var(--red)}
.green-txt-clr{ color:var(--grn_color)}
.purple-txt-clr{ color:var(--purple)}
/*** Border Color ***/
.border-clr-lgtgrn{ border-color:var(--lgtgrn_color) !important;}
/*** Background Colors **/
.rse-bckgrd{ background:var(--rse_color) !important;}
.drkgrn-bckgrd-clr{ background:var(--drkgrn_color) !important}
.bckgrd-nn{ background:none}
.bkgrd-white{ background:#fff !important}
/*** Reset Classed ***/
a,a:hover{ text-decoration:none; color:inherit;} 
a, a.btn{display:inline-block; text-decoration:none !important}
a:hover{ color:var(--drkgrn_color)}
ul{ padding:0px; margin:0; list-style-type:none}
body { position:relative; padding: 0; margin: 0; font-family: 'Roboto', sans-serif; background:#F9F9F9; color:#6A6A71; font-weight:normal; color:#212529; z-index:0; font-size:14px;}
.w-100{ width:100%;}
/*** SOF Header ***/
header { padding: 12px 0; background:#fff}
.header-text{ float: right; top: 12px; position: relative; font-weight: 300; font-size: 20px; margin: 0 15px;}
header .user-icon{ position:relative; border-radius:50%; position:relative; width:37px; height:37px;}
header .dropdown-arrow{ position:absolute; content:''; right:-5px; bottom:-5px}
header .dropdown>a{ display:inline-block}
header .dropdown-menu{ border-radius:0px; padding:0; border:1px solid rgba(0,0,0,.15); box-shadow:0px 0px 4px rgba(0,0,0,0.1)}
header .dropdown-menu i{ width:30px; font-size:18px}
header .dropdown-menu .first-word{ background:#494544; margin:10px 0; color: #fff; width: 16%; height: 26px; line-height: 25px; text-align: center; border-radius: 50%;}
header .dropdown-menu .name-email{ width:84%; box-sizing:border-box; padding:0 8px}
header .dropdown-menu .email_dtls{ font-size:12px}
header .dropdown-item{ padding:5px 10px; border-bottom:1px solid rgba(0,0,0,.15)}
/*** EOF Header ***/
/*** SOF Main Block ***/
#main-block{ position:relative; margin-left: 280px; transition: padding-left .7s; transition: margin-left .7s;border-top: 2px solid rgba(0,0,0,.15);}
.toggle-icon>a{ position:absolute; left: -20px; transition: left .7s; top: -2px; font-size:26px; padding:5px 6px; border-radius:0 10px 10px 0; color:#fff; z-index:99; background:var(--drkgrn_color);}
#main-block.togglemaincontent {margin-left: 0px;}
#main-block.togglemaincontent .toggle-icon>a{ left:0}
/*** EOF Main Block ***/
/*** SOF Sidebar Block ***/
#change-icon.active.fa-angle-double-left:before{content: "\f101" !important;}
#sidebar { min-height:527px; width: 280px; height: 95%; position: absolute; overflow-y: auto; overflow-x: hidden; z-index:-1; top:130px; transition: width .7s; white-space: nowrap; padding-bottom: 50px; background: #fff; transition: left .7s; border:1px solid rgba(0,0,0,.15); left:0;}
#sidebar .sidebar-inner-block{ position:relative; margin-bottom:80px;}
#sidebar.togglesidebar{left: -300px;}
#sidebar [data-toggle="collapse"] .circle-icon:before { content: "\f068";}
#sidebar [data-toggle="collapse"].collapsed .circle-icon:before { content: "\f067";}
#sidebar .card-header{ background:var(--lgtgrn_color); padding:0;}
#sidebar .card-header h5{ font-size:19px}
#sidebar .card-body{ padding:0px; background:var(--drkgrn_color)}
#sidebar .sub-link-list{ padding-left:40px; list-style-type:none}
#sidebar .sub-link-list>li{ background:#fff;}
#sidebar .sub-link-list>li>a{ display:block; border-bottom:1px solid rgba(0,0,0,.15); padding:5px 10px; font-size:15px; font-weight:500; color:#333333}
#sidebar .sub-link-list>li>a:hover, .sub-link-list>li.active>a{ background:#999999; color:#fff !important}
.btn-link.active{ background:#0B9298; color:#fff !important}
#sidebar .btn-link{width: 100%;text-align: left; padding:10px 8px; color:inherit}
#sidebar .btn-link:hover, .btn-link:focus{ text-decoration:none; color:inherit}
#sidebar .nrml-icon{ width:25px;}
#sidebar .btn-link .circle-icon{ text-align:center; width:22px; height:22px; line-height:21px; font-weight:100; display:inline-block; border:2px solid rgba(0,0,0,0.7); border-radius:50%; font-size:12px;}
/*** EOF Sidebar Block ***/
.user-details-tab-head{ background:var(--lgtgrn_color);}
.user-details-tab-head .user-details-body{ background:#EBF7F7; border:1px solid rgba(0,0,0,.15); min-height:124px;}
.user-details-tab-head .user-details-body .details-type{ font-size:14px;}
.user-details-tab-head h5{ font-size:18px}
.user-details-tab-head .details-type{ color:var(--drkgrn_color); font-weight:500; padding:2px 0}
.user-details-tab-head .details-type span{ color: #908e8e; font-weight: normal; display: inline-block; width: 110px; text-align:right}
.user-details-tab-head .user-img-block{ border:1px solid var(--drkgrn_color); width:106px; height:106px; overflow:hidden}
.user-details-tab-head .details-type.nrml-txt-clr{ font-size:12px}
.user-details-tab-head .nav-tabs .nav-item.show .nav-link, .user-details-tab-head .nav-tabs .nav-link.active{ border-radius:0; border-top:4px solid #B4C5C5}
.user-details-tab-head .nav-tabs .nav-link{ position:relative; font-weight:500; font-size:15px; color:#262626; padding:3px 15px; border-top:4px solid transparent ;)}
.user-details-tab-head .nav-tabs .nav-link:after{ position:absolute; content:''; background:var(--drkgrn_color); top:2px; bottom:8px; left:100%; width:1px; opacity:0.4}
.user-details-tab-head .nav-tabs .nav-link:hover{ background:rgba(0,0,0,0.1)}
.user-details-tab-head .nav-tabs .nav-link:hover:after, .user-details-tab-head .nav-tabs .nav-link.active:after{ display:none}
/*** SOF Table Custom Search Icon Remove ***/
.dataTables_filter{ text-align:left; position:relative; display:inline-block; float:left !important;}
.dataTables_filter [type=search]{width:200px !important; border:1px solid rgba(0,0,0,.40); border-radius:2px; padding:2px 10px ; margin-left:0;}
.dataTables_filter:before { position:absolute; content: "\f002"; font-family: FontAwesome; right:10px; top:6px; font-size:14px; z-index:3}
.dataTables_filter.remove-icon:before{ display:none}
#Quizzes_filter{ float:right !important}
/*** EOF Data Table Custom Search Icon Remove ***/
/*** SOF Progress Bar ***/
.progress-bar{ position:relative; background:#666666; color:#fff;}
.progress-cover{ background:var(--grn_color);height:20px;}
.progress-percent{ position:absolute; content:''; top:0; right:5px;}
.progress-percent.double-info{ left:5px;}
/*** EOF Progress Bar ***/
/*** SOF Ordering Icons Changed ***/
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before{content: "\f0de"; font-family: FontAwesome; right:0.5em; top:10px}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{content: "\f0dd"; font-family: FontAwesome; right:0.5em; top:10px}
/*** EOF Ordering Icons Changed ***/
thead{ background:#999999; color:#fff; font-weight:normal}
.table, .table td { border:none}
.table thead th, .table td{ font-weight:normal; padding:8px 15px;}
.table-block-relative .table-share-icon{ border:none}
.table-btn-inset{ position:relative;}
.btn{background:var(--txtgrn_color);  font-weight:400; color:#fff !important; border:none; margin:5px 10px !important}
.table-btn-right{ position:absolute; content:''; right:0; top:0;}
.btn:hover{ background:var(--drkgrn_color) !important; color:#fff !important}
/*** SOF ckeditor ***/
.ck-editor__editable { min-height: 200px !important;}
/*** EOF ckeditor ***/
/*** SOF Model Style ***/
.modal-footer, .modal-header, .modal-body{position:relative; padding:10px 15px; border:none}
.modal-header{padding:5px 15px}
.modal-body.table-in{ position:relative; height:250px; overflow-y:scroll; overflow-x:hidden;}
.modal-body.table-in.reset-style{ height:auto; overflow:inherit}
.modal-footer:after{ position:absolute; content:''; left:10px; right:10px; top:0; height:1px; background:var(--drkgrn_color);}
.modal-content{ border-radius:10px;}
.close-circle{ position:absolute; content:''; text-align:center; top:-10px; right:-10px; background:#fff; border-radius:50%; width:30px; height:30px; line-height:22px; display:inline-block; opacity:1; border:none; font-size:24px; padding:0; border:1px solid #ced4da}
.close-circle:focus{ outline:none}
.close-circle span{ line-height:0; color:var(--drkgrn_color); display: inline-block;}
.modal-header{ background:var(--drkgrn_color); color:#fff;}
.modal-header h5{ line-height:normal; font-weight:400; font-size:16px; text-transform:uppercase}
.msg-alert-block{ padding:15px}
.btn-no{ background:#666666;}
.modal-body .btn{ padding:8px 30px; margin:0 20px;}
/*** EOF Model Style ***/
.icon-disable i{ opacity:0.3; cursor:not-allowed}
.details-content-view .details-type{ color: #373838; font-weight:500; padding:2px 0}
.details-content-view .details-type span{ margin-right:15px; color:var(--txtgrn_color); font-weight: normal; display: inline-block; width: 30%; text-align:right}
.details-content-view a, .details-content-edit a{ text-decoration:underline}
.details-content-edit .details-type span{ color:var(--drkgrn_color)}
.details-content-view .line-break, .details-content-edit .line-break{ background:rgba(0,0,0,0.2); height:1px; margin:10px 0}
.details-content-edit label{ color:var(--txtgrn_color); font-weight:400; font-size:16px;}
.details-content-edit .form-control{ border-radius:0px; border-color:rgba(0,153,153,0.3); color:#000; background:#fff;}
.details-content-edit textarea.form-control{ height:100px;}
.details-content-edit .form-control:focus{ outline:none; box-shadow:none;}
.details-content-edit .input-group-text{ border-radius:0}
.other-form-control ::placeholder { color:#666666 !important}
.other-form-control .form-control{ border:1px solid #ced4da}
.other-form-control .nrml-txt-clr{ color:#666666 !important}
.other-form-control .btn{ padding:10px 25px; text-transform:uppercase; margin:0 15px}
.other-form-control .btn:hover{ background:var(--txtgrn_color) !important}
.input-icon-block .form-control{ padding-left:40px}
.input-icon-block{ position:relative;}
.input-icon-block i{ position: absolute; content: ''; top: 7px !important;left: 10px; }
.user-details-tab-head i.circle-head-icon { background: #7C7C7C; text-align: center; color: #fff; border-radius: 50%; width: 25px; font-size: 14px; box-sizing: border-box; height: 25px; line-height: 25px; }
.user-list-btn{ padding:5px 0}
.user-list-btn .btn{ font-size:14px; margin:0 5px}
.dataTables_paginate{ border:1px solid #ced4da; padding:0 !important; margin:0px}
.dataTables_paginate .paginate_button { background:#B6DDDC; margin:0px !important; border-radius:0px !important; color:#fff !important}
.dataTables_paginate .paginate_button:hover{ background:#00999B !important; color:#ffffff !important; border-color:transparent !important}
.dataTables_wrapper .dataTables_paginate .paginate_button{ padding:2px 10px; border-right:1px solid #009999;}
.paginate_button.next, .paginate_button.previous{ background:#fff;border-right:none !important;}
.paginate_button.disabled{ cursor:no-drop !important; }
.paginate_button.disabled:hover{background:#f9f9f9 !important}
.dataTables_paginate{ margin:10px 0}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{ background:#00999B !important; color:#ffffff !important;}
.dt-buttons .dt-button { padding: 6px 15px; margin: 5px 0;}
.dt-buttons .dt-button:hover{ background:var(--txtgrn_color); color:#fff}
.dataTables_filter{ margin-top:5px;}
.dataTables_filter [type=search]{ padding:5px 10px !important; margin-bottom:10px}
.dataTables_filter label{ margin:0 !important}
.dataTables_length{ margin:10px 0}
.dataTable thead th{ font-size:16px;}
.custom-switch{ display:inline-block; }
.check-with-icon i{ width:30px; display:inline-block; }
.table.dataTable i{ font-size:16px}
.table.dataTable .custom-control-input:checked~.custom-control-label::before{ background:none}
.table.dataTable input[type=checkbox]:focus, .table.dataTable input[type=radio]:focus, .table.dataTable .custom-control-label::before{ outline:none; box-shadow:none}
.table.dataTable .custom-control-label::before{ border:1px solid #C9C9C9; background:#C9C9C9; height:18px; top:3px;}
.table.dataTable .custom-switch .custom-control-label::after{ background:#fff}
.table.dataTable .custom-switch .custom-control-input:checked~.custom-control-label::after{ background:#fff;}
.table.dataTable .custom-switch .custom-control-input:checked~.custom-control-label::before{ background:green; border-color: green;}
.table.dataTable .text-disable{color:#9F9F9F; cursor:not-allowed}
.dataTables_wrapper .dataTables_length, .dt-buttons{ float:right}
.dataTables_wrapper .dataTables_length{ width:20%;}
div.dataTables_wrapper div.dataTables_length label{ float:right}
.dt-buttons{ display:flex}
.dt-buttons .dt-button{ border:none; background:none; font-size:20px; color:#6A6A71}
.dt-buttons .dt-button:focus{ outline:none}
.dt-buttons .dt-button:hover{ background:none; color:var(--txtgrn_color);}
.dt-buttons .buttons-excel, .dt-buttons .buttons-csv, .dt-buttons .buttons-pdf{ background:none; box-shadow:none; border:1px solid #ced4da; font-size:14px}
.dt-buttons .buttons-excel{ border-left:none; border-right:none}
.dt-buttons .buttons-excel:hover, .dt-buttons .buttons-csv:hover, .dt-buttons .buttons-pdf:hover{ background:var(--txtgrn_color); color:#fff}
.field-block .btn{ padding:10px 30px; text-transform:uppercase; font-size:14px}
.download-block .btn{ background:#519596; color:#fff; display:inline-block; padding:4px 15px;}
.download-block .fa-download{ color:#666666; font-size:24px}
input[type="file"] { display: none;}
.custom-file-upload { position:relative; border: 1px solid #ccc; display: inline-block; cursor: pointer;}
.custom-file-upload i{ background:var(--drkgrn_color);var(--drkgrn_color); width: 25px; height: 25px; line-height:25px; text-align:center; color:#fff; font-size:12px; display: inline-block;}
.modal.show .modal-dialog.w-30{ width:390px;}
.dataTables_wrapper{ overflow-x: auto}
.tab-inner-form { width:80%; margin: 50px auto;}
.storage-details-show h6{ display:inline-block; margin:0 15px 10px; font-size:14px !important;}
.storage-details-show h6 span{ color:var(--drkgrn_color); font-size:18px; margin:0 10px}
.storage-details-show td.drkgrn-txt-clr span{ color:#a9a7a7}
.storage-details-show td.highlight-txt{ font-size:18px; line-height: normal;}
.storage-details-show .progress{ background:#4C4C4C; height:6px; margin:6px 0; }
.storage-details-show .progress-bar{ background:#77CAFE; box-shadow: inset 0 0 3px #000000;}
.storage-details-show .progress-bar-danger{ background:#fd033d; box-shadow: inset 0 0 3px #000000;}
.storage-details-show tfoot{ border:1px solid var(--txtgrn_color); border-right:none; border-left:none}
.storage-details-show tfoot td{}
.storage-details-show tfoot .progress{ background:#000 !important}
.storage-details-show tfoot .progress-bar{ background:#2190FC}
.info-view-block .form-control{ border:1px solid #ced4da}
label.error, span.error{ color:var(--red) !important; font-size:12px !important; margin:0}
.error.valid{ display:none !important}
.preview-page-link{ background:var(--lgtgrn_color); padding:5px 0; font-size:16px}
.preview-page-link>li{ position:relative; padding:0 10px;}
.preview-page-link>li:after{ position:absolute; content:''; top:4px; bottom:4px; right:-2px; width:1px; background:rgba(0,0,0,0.2);}
.preview-page-link .list-inline-item:not(:last-child){ margin-right:0;}
.preview-page-link .list-inline-item:last-child:after{ display:none}
.preview-page-link .list-inline-item:hover>a{ color:green}
.ui-sortable .ui-state-default.ui-sortable-helper:hover{ cursor:move;}
/*** SOF Range Silder ***/
.range-slider{ width:80%; margin:0 auto}
.range-slider__range { -webkit-appearance: none; width: calc(100% - (73px)); height: 10px; border-radius: 5px; background: #d7dcdf; outline: none; padding: 0; margin: 0 auto; display:block; }
.range-slider__range::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; width: 20px; height: 20px; border-radius: 50%; background: #2c3e50; cursor: pointer; transition: background .15s ease-in-out;}
.range-slider__range::-webkit-slider-thumb:hover { background: #1abc9c;}
.range-slider__range:active::-webkit-slider-thumb { background: #1abc9c;}
.range-slider__range::-moz-range-thumb { width: 20px; height: 20px; border: 0; border-radius: 50%; background: #2c3e50; cursor: pointer; transition: background .15s ease-in-out;}
.range-slider__range::-moz-range-thumb:hover { background: #1abc9c;}
.range-slider__range:active::-moz-range-thumb { background: #1abc9c;}
.range-slider__range:focus::-webkit-slider-thumb { box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;}
.range-slider__value { display: inline-block; position: relative; color: var(--red); font-weight:bold; line-height: 20px; text-align: center; border-radius: 0px; background: transparent; border:2px solid var(--txtgrn_color); padding: 4px 10px; width: 55px; box-sizing:border-box;}
.range-slider__value::placeholder { color: var(--red) !important;}
.range-slider__value:focus{ outline:none; box-shadow:none}
.range-slider__value:after { position: absolute; top: 8px; left: -7px; width: 0; height: 0; border-top: 7px solid transparent; border-right: 7px solid #2c3e50; border-bottom: 7px solid transparent; content: '';}
::-moz-range-track { background: #d7dcdf; border: 0;}
input::-moz-focus-inner, input::-moz-focus-outer { border: 0;}
/*** EOF Range Silder ***/
/*** SOF Datatable Custom Styles ***/
.dataTables_wrapper .dataTables_paginate {float: right; text-align: right; padding-top: 0.25em;}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active { cursor: default; color: #666 !important; border: 1px solid transparent; background: transparent; box-shadow: none;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover { color: #333 !important; border: 1px solid #979797; background-color: white; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc)); background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%); background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%); background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%); background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%); background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);}
.draggable-cursor{ cursor:move}
/*** EOF Datatable Custom Styles ***/
/*** SOF info-icon ***/
.info-icon-block{ position:relative;}
.info-icon{ position:absolute; content:''; top:-20px; right:0; height:15px; line-height:13px; width:18px; text-align:center; font-size:8px; color:#787878; border:1px solid #787878; border-radius:50%; box-shadow:inset 0px 0px 1px 2px rgba(0,0,0,0.1)}
.info-icon:hover{ cursor:pointer}
.info-icon:after{ position:absolute; content:''; top:100%; left:32%; width: 0; height: 0; border-left: 3px solid transparent; border-right: 3px solid transparent; border-top: 4px solid #787878;}
.info-icon.nrml-info-icon{ position:relative; display:inline-block}
/*** EOF info-icon ***/
/*** SOF Reset radio ***/
.reset-check-input{ position:relative; margin:0}
.custom-radio .custom-control-label::before { border-radius: 50%; box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.2);}
.custom-radio .custom-control-input:checked~.custom-control-label::after { background: #514F50; border-radius: 50%; box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.2); top: 7px; left: -21px; width: 10px; height: 10px}
.custom-control-input:checked~.custom-control-label::before{ border-color: #adb5bd ; background-color: transparent}
/*** EOF Reset radio ***/
/*** SOF Dashboard ***/
.referesh-btn{ font-size:18px; color:#515350}
.visitor-count{ font-size:60px; font-weight:normal; color:var(--txtgrn_color)}
.pie-filled{ font-weight:normal; color:#999999;}
.pie-filled span{ display:block; font-size:60px;}
.top-rank-block{ border:1px solid rgba(0,0,0,0.3)}
.top-rank-block h6{ white-space:nowrap; overflow:hidden}
.top-rank-block .review-txt{ font-size:12px; color:var(--txtgrn_color)}
.rateing-star .fa{ color:var(--yellow); margin:0 1px; font-size:16px}
.top-rank-block i.author{ font-weight:500}
.top-rank-block .img-block img{ width:100%; height:180px;}
.chart-groups{ position:relative; overflow:hidden;}
.chart-groups .chart-block{ position:relative; padding:15px; margin:15px 2px; box-sizing:border-box; background:#ffffff; box-shadow: 0px 0px 3px rgba(0,0,0,0.8); border-radius:5px 5px 1px 1px; overflow:hidden}
.chart-groups .chart-name{ position:absolute; content:''; top:0; left:0; right:0; background: var(--drkgrn_color); color: #fff; padding:5px 15px}
.chart-groups .chart-name.drag-block:hover{ cursor:move}
.chart-groups .start-rateing-review, .chart-groups .top-ranked{ margin-top:15px; padding-top:15px; color:#656565; }
.chart-groups .start-rateing-review ul{ list-style-type:none; max-height:234px; overflow-y:auto; overflow-x:hidden}
.default-dashboard-block{max-height:249px; overflow-y:auto; overflow-x:hidden}
.chart-groups .start-rateing-review ul>li{ border-bottom:2px dashed #dadada; padding:5px 0;}
.chart-groups .start-rateing-review ul>li:last-child{ border:none}
.chart-groups .rateing-star{ font-size:18px}
.icon-for-details{ padding:0 15px; font-weight:500}
.icon-for-details{ display:flex}
.modal-footer.icon-for-details{justify-content: inherit; padding:15px;}
.course-test-status .fa{ font-size:18px}
.course-test-status .fa-bar-chart{ font-size:20px}
.chart-groups .start-rateing-review ul.course-test-status>li{ padding:10px 0}
/*** EOF Dashboard ***/
/*** SOF Date and Today Events ***/
.calendar { width: 800px; height: 800px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; font-family: "Satellite", "Roboto", sans-serif; border: 1px solid rgba(21, 21, 21, 0.12); -webkit-transform: scale(1); transform: scale(1); box-shadow: 0px 0px 4px rgba(21, 21, 21, 0.21); -ms-user-select: none; user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; } .calendar.small { width: 400px; height: 500px; } .calendar.medium { width: 600px; height: 600px; } .calendar.large { width: 800px; height: 800px; } .year { width: calc(100% - 10px); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 5px; font-size: 14px; } .year > span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-transform: uppercase; } .year > div { cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; } .month { width: calc(100% - 10px); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 0 5px; font-size: 40px; box-shadow: 0px 2px 6px rgba(21, 21, 21, 0.21); } .month > span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-transform: uppercase; } .month > div { cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; } .labels { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } .labels > span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; font-size: 12px; text-transform: uppercase; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 10px; } .days { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; box-shadow: 0px 2px 6px -2px rgba(21, 21, 21, 0.21); } .row {-webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } .day { background:#fff; margin:0; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding: 5px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; cursor: pointer; -webkit-transition: box-shadow 200ms ease-in-out; transition: box-shadow 200ms ease-in-out; } .day:last-child { border-right: none; } .day:hover { background-color: rgba(21, 21, 21, 0.012); box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21); } .day-radios { display: none; } .day-radios:checked + .day { background-color: #0B9298;} .day-radios:checked + .day span{color:#fff} .day > span { width: auto; font-size: 14px; color: rgba(21, 21, 21, 0.84); } .day.diluted { background-color: #f9f9f9; box-shadow: inset 0px 0px 1px rgba(21, 21, 21, 0.12); } .day.diluted > span { width: auto; font-size: 10px; color: rgba(21, 21, 21, 0.73); }  .events { width: 800px; height: 800px; font-family: "Satellite", "Roboto", sans-serif; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-user-select: none; user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; } .events.small { width: 400px; max-height: 375px; } .events.medium { width: 600px; height: 600px; } .events.large { width: 800px; height: 800px; } .date { width: calc(100% - 10px); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; background-color: ' + this.calendar.colors[1] + '; color: ' + this.calendar.colors[3] + '; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 5px; font-size: 14px; } .date > span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-transform: uppercase; } .date > div { cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; } .rows { width: 100%; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; overflow: hidden !important; } .list { width: 100%; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; overflow-y: auto !important; padding: 0; margin: 0; color: rgba(21, 21, 21, 0.94); } .list > li { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; border-bottom: 1px solid rgba(21, 21, 21, 0.12); } .list > li:hover { box-shadow: inset 0px 0px 4px rgba(21, 21, 21, 0.21); } .list > li > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 2; -ms-flex: 2; flex: 2; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; padding: 10px; border-right: 1px solid rgba(21, 21, 21, 0.12); } .time { font-size: 14px; } .m { font-size: 14px; text-transform: uppercase; padding-left: 5px; } .list > li > p { -webkit-box-flex: 4; -ms-flex: 4; flex: 4; margin: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; font-size: 18px; word-wrap: break-word; word-break: break-word; }
.day.ended-event{background-color: #f6e1e3;}
.day.upcoming-event{background-color: #e6f2e6; border:0}
.calendar.small .row{ margin:0;}
.date-today-events .small, .date-today-events .year, .date-today-events .month, .date-today-events  .date{ width:100%;}
.labels{ background-color:#E8E9ED !important; color:#33322E !important; font-weight:600}
.today-upcoming{ color:#565656; }
.today-upcoming i.author{ font-size:16px}
.date-today-events .date{ display:none}
.today-upcoming i.fa, .icon-for-details i.fa{ font-size:18px }
.today-upcoming ul.todays-events{ position:relative; border:5px solid #CCCCCC; border-left:none; border-right:none; margin:10px 0;}
.today-upcoming ul.todays-events:after, .today-upcoming ul.todays-events:before{ position:absolute; content:''; left:0; right:0; margin:0 auto; width: 0; height: 0;}
.today-upcoming ul.todays-events:after{ top:100%; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 15px solid #CCCCCC;}
.today-upcoming ul.todays-events:before{ bottom:100%; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 15px solid #CCCCCC;}
ul.todays-events{ color:#666666}
ul.todays-events>li{ border-bottom: 2px dashed #dadada;padding:15px 0}
ul.todays-events>li:last-child{ border:none;}
.today-upcoming .time-display{ font-weight:500}
.today-upcoming .upcoming-event{ border-bottom:1px dashed rgba(0,0,0,0.3); padding:10px 0}
.today-upcoming .upcoming-event .today-upcoming-title{ border-bottom:1px solid rgba(178,176,177,0.5); color:#B2B0B1}
.today-upcoming .upcoming-event h6 span{ color:#8c8c8c}
.today-upcoming.carousel .carousel-control-prev, .today-upcoming.carousel .carousel-control-next{ color:#1c7b8f; width:30px; height:30px; top:-5px; opacity:1; font-size:22px}
/*** SOE Date and Today Events ***/
footer{ background:#519596; color:#fff; padding:10px 0; font-size:16px; font-weight:300;}
footer a{ color:#fff; opacity:0.8}
footer a:hover{ color:#fff; opacity:1}
/*** SOF Div Shuffle Placeholder Color ***/
.ui-sortable-placeholder.ui-state-default.ui-sortable-handle{ position:relative; visibility:visible !important;}
.ui-sortable-placeholder.ui-state-default.ui-sortable-handle:after{ position:absolute; content:''; background-color:#B8DCDC !important; top:15px; left:15px; right:15px; bottom:15px; border-radius:3px; opacity:0.5}
/*** EOF Div Shuffle Placeholder Color ***/
/*** SOF Preview Page CSS ***/
.ckeditorhead-div .course-offered { position: relative; padding: 13px 0 0 0;}
.ckeditorhead-div .course-offered img { vertical-align: middle; border-style: none;}
.ckeditorhead-div .course-offer { position: absolute; top: 27px; left: 59px; font-size: 19px; color: #3e7c7c; font-weight: 200;}
.ckeditorhead-div i.fa{ color: #3e7c7c; font-size: 17px;}
.ckeditor a { color: #0a90eb;}
.ckeditor ul a, .ckeditor ol a { text-decoration: underline !important;}
.ckeditor a:hover{ color:#3e7c7c}
.ckeditor h2{ color:rgba(64,81,102,.96); font-size:35px; margin-top:30px}
.ckeditor h3{ color:rgba(64,81,102,.50); font-size:26px; margin-top:20px}
.ckeditor h4{background-color: #e6f2f5; border-color: transparent; font-weight:normal; line-height:24px; color: #003440;    padding: 16px; margin-bottom: 21px; border: 1px solid transparent; text-align: left; position: relative; font-size:15px}
.ckeditor p{ font-size: 16px; line-height: 28px; letter-spacing: -.003rem;}
.ckeditor  td, .ckeditor  th { border: 1px solid #ddd; padding: 8px;}
.ckeditor  tr:nth-child(even){background-color: #f2f2f2;}
.ckeditor  tr:hover {background-color: #ddd;}
.ckeditor  th { padding-top: 12px; padding-bottom: 12px; text-align: left; background-color: #9ca5af; color: white;}
.ckeditor ul li{ position:relative; padding-left:20px;}
.ckeditor ul li:before{content: "\f192"; font-family: FontAwesome; left:0px; position:absolute; opacity:0.5; top:1px;}
/*** EOF Preview Page CSS ***/
/*** SOF Tab Responsive ***/
.responsive-nav-tab {display: block; white-space:nowrap; overflow-y:hidden; border:none}
.responsive-nav-tab>li{ display:inline-block}
/*********** Responsive Boostrap tabs *************/
@media(max-width:991px){
	#sidebar.togglesidebar { left:0px;}
	#sidebar{left: -280px;}
	#main-block.togglemaincontent { margin-left: 280px;}
	#main-block { margin-left: 0px; padding-left:0px}
	.toggle-icon>a{ left:0}
	#change-icon.respon-change-icon.fa-angle-double-left:before{content: "\f101" !important;}
	#change-icon.respon-change-icon.active.fa-angle-double-left:before{content: "\f100" !important;}
	.user-details-body p.ml-5{ margin-left:0 !important}
	.user-details-tab-head .nav-tabs .nav-link:hover {background: #fff;}
}
@media(max-width:767px){
	.dataTables_wrapper .dataTables_length {width: 26%;}
	.modal.show .modal-dialog.w-30 { width: auto;}
	.user-details-tab-head .details-type span{ text-align:left}
}
@media(max-width:639px){
	.header-text { float: right; top: 0px; width: 60%;}
	.user-list-btn .text-right{ text-align:left !important}
	.dataTables_wrapper .dataTables_length{ width:100%; float:inherit;}
	.dataTables_wrapper .dataTables_length{  }
	.dataTables_wrapper .dt-buttons{ float:inherit}
	.btn{ margin-left:0px !important;margin-right:0px !important;}
	.field-block .modal-body.table-in, .field-block .modal-body{ padding:15px }
	#sidebar{top:90px;}
	.table-btn-right{ position:relative}
	.details-content-view .details-type span{ text-align:left}
	.tab-content.ml-4{ margin-left:0px !important}
}

/****loginpagesetting***/
.custmized-heading p {
    padding: 4px 0 0 13px;
}
  .button-menu-mobile{
	position: absolute;
	right: -26px;
	top: -1px;
	background-color: #115252; 
  }
  .login-setting .card {
    background-color: #efefef;
    border: 1px solid #efefef;
    margin-left: 26px;
}
.login-setting{
	background-color: #f9f9f9;
    border: 0px solid rgb(249, 249, 249);
}
.login-setting label {
    color: #347676;
	font-size: 17px;
	font-weight: 600;
}
.login-setting .form-group {
    margin-bottom: 24px;
}
.login-setting .cancel-savedetail {
    float: right;
}
.login-setting .cancel-savedetail .cancel-btn {
    background-color: #8b8888;
    border-color: #8b8888;
    color: #fff;
    border-radius: 11px;
    padding: 8px 0px;
    text-transform: uppercase;
    width: 140px;
    font-size: 16px;
}
.login-setting .cancel-savedetail .save-detal {
    background-color: #115252;
    border-color: #115252;
    color: #fff;
    border-radius: 11px;
    text-transform: uppercase;
    padding: 8px 0px;
    width: 140px;
    font-size: 16px;
    margin-left: 42px;
}
/**ck0editor***/
.login-setting .ck-editor__editable_inline {
  min-height: 150px;
}
/*.login-setting .ck.ck-editor.editor-focused{
  border: 1px solid #f2cd3a;
  box-shadow: 1px 1px 04px 1px #d4d4d4;
}
.login-setting .ck.ck-editor.editor-focused .ck-content.ck-editor__editable.ck-focused{
  border: 0px;
}*/
/***logo-setting***/
.content .upload-logos {
	margin: 36px 0 0 2em;
  }
  .upload-logos .website-logo h3 {
	font-size: 17px;
   text-align: center;
   color: #347676;
  }
  .logos img {
	width: 130px;
	height: 117px;
  }
  .upload-logos .logos {
	text-align: center;
	background-color: #fff;
	border: 1px solid #cccccc;
	padding: 10px 0;
  }
  .upload-logos .recommed-size {
	text-align: center;
	margin-top: 8px;
  }
    .upload-logos .favicon-text h3 {
    margin-right: 9px !important;
}
  .login-setting .card-body {
    padding: 0 0 0 12px;
}
  
/*upload***/
.upload-btn input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
  }
  
  .upload-btn button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #00425c;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
  }
  .recommed-size p {
	margin: 0;
	padding: 2px 0 1px 0;
	font-size: 13px;
  color: #878383;
  font-style: italic;
  }
  .recommed-size p:nth-of-type(2) {
	color: #115252;
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 12px;
  }
  .upload-img-btn .btn-bs-file{
	position:relative;
  }
  .upload-img-btn .btn-bs-file input[type="file"]{
	position: absolute;
	top: -9999999;
	filter: alpha(opacity=0);
	opacity: 0;
	width:0;
	height:0;
	outline: none;
	cursor: inherit;
  }
  .upload-img-btn .btn-primary {
	color: #fff;
	background-color: #115252;
	border-color: #115252;
	padding: 7px 22px 7px 22px;
	margin-top: 26px;
	border-radius: 10px;
	font-size: 17px;
	cursor: pointer;
  }
  .upload-img-btn {
    float: left;
    width: 100%;
    margin-top: 13px;
}
.upload-logos {
    margin-left: 1em;
}
.upload-logos .website-logo {
    height: 176px;
    text-align: center;
}
.upload-logos .favicon {
  text-align: center;
  background-color: #fff;
  border: 1px solid #cccccc;
  padding: 10px 0;
  height: 80px;
  width: 80px;
  margin: 34px 0 0 0px;
  justify-content: center;
  display: inline-block;
}
.upload-logos .favicon img {
    width: 60px;
}
.login-setting .login-setting-file-upload {
  float: left;
}
.upload-btn input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
.loginpage-upload {
  width: 45%;
  float: left;
}
.upload-img-btn {
  float: left;
  width: 100%;
}
.login-setting .login-setting-file-upload {
  float: left;
}
.loginpage-upload {
  width: 45%;
  float: left;
}
.upload-img-btn {
  float: left;
  width: 100%;
}
.logo-setting-uplooad-btn {
  float: left;
  width: 16%;
margin-top: 0px;
  /* margin-left: 0; */
  text-align: center;
}
.study-course-images h3{
  color: #347676;
  font-size: 17px;
  font-weight: 600;
}
/*.course-images {
  width: 100%;
  float: left;
}*/
.login-setting-btn-defeault{
  margin-top: 100px;
}
.login-setting i.fa.fa-info-circle.float-right {
  margin-top: 14px;
}
