﻿ 
            <div class="container-fluid" *ngIf="currentTab == 'basic_settings'" >
                <div class="user-details-tab-head">
                    <div class="py-2 px-2">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="m-0 p-0 font-weight-bold"> <i class="fa fa-book" aria-hidden="true"></i> Course </h5>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="user-details-body p-2">
					<form  role="form" name="form" enctype="multipart/form-data" (ngSubmit)="bf.form.valid && model.assignedTeachers.length > 0 && model.course_detail.length && addBasicInformation()" #bf="ngForm" novalidate>
						<div class="row">
								<div class="col-sm-12">
									<p class="details-type details-type mt-2 p-0 dark-grn-txt-clr font-weight-bold">
										Basic Information
									</p>

									<p class="grn-txt-clr mb-3">
										Course Teacher(s)<sup class="red-txt-clr"> * </sup>
										<a href="javascript:void(0)" class="btn" (click)="selectTeacherModal()">
																			Add New Teachers
																	</a>
									</p>
									<div class="d-flex" *ngIf="model.assignedTeachers && model.assignedTeachers.length">
										<p>
											Selected Teacher
										</p>				
										<div class="d-flex ml-4" *ngFor="let teacher of model.assignedTeachers; let i = index;">
											<div class="avatar-img mr-3">
												<img class="img-circle" [src]="teacher.profile_image" alt="Description" *ngIf = "teacher.profile_image !=null" />
												<img class="img-circle" src="/assets/images/avatar.png" *ngIf = "teacher.profile_image ==null"/>
												<a href="javascript:void(0)" class=""  (click)="deleteAssignedTeacherPopup(i)"><i class="fa fa-times cb-circle-icon" aria-hidden="true"></i></a>
												<p class="m-0 grn-txt-clr text-center">{{teacher.firstname + ' '+ teacher.lastname}}</p>
											</div>
										</div>
									</div>
									<div *ngIf="bf.submitted && model.assignedTeachers.length <= 0" class="help-block">Please select atleast one teacher</div>
												
									<div class="form-group row">
										<div class="col-sm-6">
											<label class="grn-txt-clr">Course Title<sup class="red-txt-clr"> * </sup></label>
											<div class="info-icon-block">
												<input class="form-control" type="text"  name="course_title" [(ngModel)]="model.course_title" #course_title="ngModel" required >
											   <div *ngIf="bf.submitted && !course_title.valid" class="help-block">Course title is required</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="col-md-6">
											<label class="grn-txt-clr">Course Sub-Title<sup class="red-txt-clr"> * </sup></label>
											<div class="info-icon-block">
												<input class="form-control" type="text"  name="sub_title" [(ngModel)]="model.sub_title" #sub_title="ngModel" required >
											   <div *ngIf="bf.submitted && !sub_title.valid" class="help-block">Sub title is required</div>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>

									<div class="form-group">
										<label class="grn-txt-clr">Course Details</label>
										<div class="info-icon-block">
											  <ckeditor [editor]="Editor" id= "course_detail" name="course_detail" [(ngModel)]="model.course_detail" #course_detail="ngModel"></ckeditor>
											  <div *ngIf="bf.submitted && !model.course_detail.length" class="help-block">Course detail is  required</div>
											<div class="clearfix"></div>
											<div class="info-icon" data-toggle="tooltip" data-placement="top" title="Duisut gravida nulla. Aliquam tincidunt lorem at ligula bibendum, eu accumsan magna semper.">
												<i class="fa fa-info" aria-hidden="true"></i>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-12">
											<label class="grn-txt-clr">Course Image</label>
										</div>
										<div class="col-sm-3">
											<div class="info-icon-block">
												<input type="file" name="courseImage" class="custom-file-input" id="customFile1" #course_image_select (change)="fileChange($event)" accept="image/*" >
												<label class="custom-file-label btn upload-file-btn btn-m-0" for="customFile1">Upload from desktop</label>
											</div>                                    
										</div>
										<div class="ml-4 mr-4 p-0 align-items-center grn-txt-clr btn-divider">
											/
										</div>
										<div class="col-sm-3">
											<a href="javascript:void(0)" class="btn btn-block btn-m-0" (click)="chooseFromFileLibrary()">
												Choose From Library
											</a>
										</div>
										<div class="col-sm-12"  >
											<div class="image_preview mt-2 d-inline-block">
<!--
												<img [src]="model.course_image" alt="Course" />
-->
												<img [src]="course_image_srcs" alt="Course" *ngIf="course_image_srcs != ''">
                        <img [src]="courseImageFile.filename" alt="courseImageFile.name" *ngIf="courseImageFile">
												<img src="/assets/images/noimage.jpg" *ngIf="course_image_srcs == '' && !courseImageFile ">
											</div>
                      <div class="font-weight-bold d-inline-block ml-3" *ngIf="courseImage && courseImage.name">{{courseImage.name}}</div>
											<div class="font-weight-bold d-inline-block ml-3" *ngIf="courseImageFile">{{courseImageFile.name}}</div>
										</div>
									</div>
									<div class="form-group instructional-level">
										<div class="d-flex">
											<label class="grn-txt-clr mr-3 mb-0">
												Instructional Level
											</label>
<!--
											{{model.instructional_level}}
-->
											<label class="mr-4 mb-0">
											  <input class="" type="radio" [(ngModel)]="model.instructional_level" name="instructionalLevel" value="1"/>All Levels
											</label>
											<label class="mr-4 mb-0">
												<input class="" type="radio"  [(ngModel)]="model.instructional_level" name="instructionalLevel" value="2" /> Beginner
											</label>
											<label class="mr-4 mb-0">
												<input class="" type="radio" [(ngModel)]="model.instructional_level" name="instructionalLevel" value="3" /> Intermediate
											</label>
											<label class="mr-4 mb-0">
												<input class="" type="radio" [(ngModel)]="model.instructional_level" name="instructionalLevel" value="4"/> Advanced
											</label>
										</div>
									</div>

									<div class="form-group row">
										<div class="col-sm-4">
											<div class="form-group">
												<label class="grn-txt-clr">Course language<sup class="red-txt-clr"> * </sup></label>
												<div class="info-icon-block">
													<select name="time_zone" class="form-control" placeholder="Please select something!" [(ngModel)]="model.course_language">
<!--
														<option value="">Select Language</option>
-->
														<option [value]="language.id"  *ngFor="let language of languages">{{language.name}}</option>
<!--
														<option value="2">Hindi</option>
														<option value="3">French</option>
-->
													</select>
												</div>
											</div>
										</div>

										<div class="col-sm-4">
											<div class="form-group ">
												<label class="grn-txt-clr">Course Start Date<sup class="red-txt-clr">*</sup></label>
												<div class="info-icon-block">
													<div class="input-icon-block bg-white">
														<!--bgwhite added-->
													  <input type='text' #course_start_date class="form-control create-basic-date" name="startdate" required/>
													  <div *ngIf="bf.submitted && !course_start_date.valid" class="help-block">Course Start Date is required</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-sm-4">
											<div class="form-group">
												<label class="grn-txt-clr">Course End Date<sup class="red-txt-clr">*</sup></label>
												<div class="info-icon-block">
													<div class="input-icon-block bg-white">
														<!--bgwhite added-->
														<input type='text' #course_end_date  class="form-control create-basic-date" name="enddate" required/>
														<div *ngIf="bf.submitted && !course_end_date.valid" class="help-block">Course End Date is required</div>
														<!--Id and name changed-->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="previous-btn mt-1">
										<button type="button" class="btn btn-m-0 del-btn disabled">Previous</button>
									</div>
								</div>
								<div class="col-md-6">
									<div class="action-btn float-right">
										<button  class="btn btn-no btn-m-0" (click)="cancel()"> Cancel</button>
										<button  class="btn" >Next</button>
									</div>
								</div>
						</div>
                    </form>
                </div>
            </div>
            
            
              <div class="container-fluid" *ngIf="currentTab == 'advance_settings'" >
                <div class="user-details-tab-head">
                    <div class="py-2 px-2">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="m-0 p-0 font-weight-bold"> <i class="fa fa-book" aria-hidden="true"></i>
                         Course
                     </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-details-body p-2">
					<form  role="form" name="form" enctype="multipart/form-data" (ngSubmit)="f.form.valid && model.course_highlights.length &&  addAdvancedInformation()" #f="ngForm" novalidate>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="details-type details-type mt-2 p-0 dark-grn-txt-clr font-weight-bold"> Advanced Settings </p>

                            <div class="form-group">
                                <label class="grn-txt-clr mr-3">
                                    Course Completion Rule<sup class="red-txt-clr"> * </sup>
                                </label>
                                <label class="mr-4 ml-3 course-completion-rule">
                                    <input type="radio" name="c1" [(ngModel)]="model.course_completion_rule" value="1" ><sup class="ml-2">Marked as learned Checkbox</sup>
<!--
                                    <div *ngIf="f.submitted && !course_completion_rule.valid" class="help-block">Marked as learned required</div>
									<div class="clearfix"></div>
-->
                                 </label>
                                 
                                <!--Name changed-->
                                <label class="d-inline-flex align-items-center">
                                    <input type="radio" name="c1" disabled>
                                    <select name="time_zone" class="form-control ml-2" title="Pass all the tests in this course" disabled>
                                        <option value="">Pass all the tests in this course</option>
                                        <option value="">Pass Selected tests in this Course</option>
                                    </select>
                                </label>
                            </div>

                            <div class="form-group">
                                <label class="grn-txt-clr text-muted">Select Certificate Modal </label>
                                <img class="ml-3 text-muted" src="/assets/images/noimage.jpg" height="50px" width="70px"/>
                                <label class="ca-border-bottom ml-3 c-pointer text-muted" data-toggle="modal" data-target="#exampleModal1"> Select Certificate </label>
                            </div>

                            <div class="form-group">
                                <label class="grn-txt-clr text-muted"> Do you want this course to be published in LIVEATCLASS marketpalce? </label>
                                <label class="grn-txt-clr ml-5 text-muted"> <span class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input text-muted" id="customSwitch1" disabled>
                                        <label class="custom-control-label text-muted" for="customSwitch1"></label>
                                      </span> </label>
                            </div>

                            <div class="form-group">
                                <label class="grn-txt-clr text-muted"> Enroll limit <sup class="red-txt-clr"> * </sup>
                                </label>
                                <label class="ml-5 text-muted">
                                    <input type="radio" name="c1" disabled> Unlimited</label>
                                <label class="ml-5 text-muted">
                                    <input type="radio" name="c1" disabled> Limited</label>
                                <label class="ml-5 text-muted">
                                    <input type="text" class="ca-students-width" disabled> Students</label>

                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label class="grn-txt-clr"> Promotion Video</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="info-icon-block file-upload-block promotion-video">
                                        <input type="file" name="promoVideo" class="custom-file-input" id="customFile" (change)="addPromoVideo($event)" accept=".mp4,.webm" required>
                                        <label class="custom-file-label" for="customFile"><span *ngIf="promoVideo.name">{{promoVideo.name}}</span><span *ngIf="!promoVideo.name">Choose file</span></label>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="vid_preview">
                                      <video controls  width="100%" height="auto" [src]="model.promotion_video"  *ngIf = "videoType(unsanitizedVideoUrl) =='normal'">
                  										</video>
                  										<iframe width="100%" height="auto" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen  [src]="model.promotion_video" *ngIf = "videoType(unsanitizedVideoUrl) =='youtube'"></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center form-group">
                                <div class="w-25">
                                       <div class="info-icon-block file-upload-block upload-text add-course-btn">
                                           <label class="custom-file-label btn btn-m-0 upload-file-btn c-pointer" for="customFile">Upload from Desktop/Cloud </label>
                                           <div class="clearfix"></div>
                                       </div>
                               </div>
                                <span class="grn-txt-clr m-4">/</span>
                                <button type="button" class="btn  btn-ml-0" data-toggle="modal" (click)="videoContentModal.show()">Choose from File Library</button>
                                <span class="grn-txt-clr m-4">/</span>
                                <button type="button" class="btn  btn-ml-0 " data-toggle="modal" (click)="chooseFromEmbeddedContent()">Choose from Embedded Content Library</button>
                            </div>

                            <div class="form-group">
                                <label><span class="grn-txt-clr">Course Highlights </span>(250 Words)<sup class="red-txt-clr"> * </sup></label>
                                <div class="info-icon-block">
                                    <ckeditor [editor]="Editor" id= "course_highlights" [(ngModel)]="model.course_highlights" name="course_highlights" #course_highlights="ngModel" required></ckeditor>
                                <div *ngIf="f.submitted && !model.course_highlights.length" class="help-block">Course highlights is  required</div>
								<div class="clearfix"></div>
                                <div class="info-icon" data-toggle="tooltip" data-placement="top"
                                    title="Duisut gravida nulla. Aliquam tincidunt lorem at ligula bibendum, eu accumsan magna semper.">
                                    <i class="fa fa-info" aria-hidden="true"></i>
                                </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="grn-txt-clr">Course Keywords<sup class="red-txt-clr"> * </sup></label>
                                <div class="info-icon-block">
                                    <input type="text" name="course_keywords" class="form-control" [(ngModel)]="model.keywords" #course_keywords="ngModel">
<!--
                                    <div *ngIf="f.submitted && !course_keywords.valid" class="help-block">Course Keywords required</div>
-->
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="row">
								<div class="col-sm-6">
								<div class="previous-btn mt-1">
									<button type="button" class="btn btn-m-0 del-btn" (click)="goToPrevious()">Previous</button>
								</div>
							   </div>
								<div class="col-md-6">
								<div class="action-btn float-right">
									<button  class="btn btn-no btn-m-0" (click)="cancel()">Cancel</button>
									<button  class="btn" >Save</button>
<!--
									<button class="btn" id="save-btn">Save</button>
-->
									
									<!--<a href="course-create-payments.html" class="btn" value="Save & Continue">Next</a>-->
								</div>
								</div>
							</div>
                        </div>
                    </div>
					</form>
                </div>
            </div>
            
            
			 <div class="container-fluid"  *ngIf="currentTab == 'payment_settings'">

				<div class="user-details-tab-head">
					<div class="py-2 px-2">
						<div class="row">
							<div class="col-md-6">
								<h5 class="m-0 p-0 font-weight-bold"> <i class="fa fa-book" aria-hidden="true"></i> Course </h5>
							</div>
						</div>
					</div>
				</div>

				<div class="user-details-body p-2">
					<form  role="form" name="form" enctype="multipart/form-data" #pf="ngForm" novalidate>
					<div class="row">
						<div class="col-sm-12">
							<p class="details-type details-type mt-2 p-0 dark-grn-txt-clr font-weight-bold">
								Payment and Milestone Settings
							</p>

							<div class="form-group mb-4">
								<div class="d-flex">
									<label class="grn-txt-clr mr-4 mb-0">
										Payment Type<sup class="red-txt-clr"> * </sup>
									</label>
									<label class="mr-4 mb-0">
										<input type="radio" name="c1" disabled><span class="ml-2">Free</span></label>
									<label class="mr-4 mb-0">
										<input type="radio" name="c1" disabled><span class="ml-2">Paid</span></label>
								</div>
							</div>

							<div class="form-group row payment-border">
								<div class="col-sm-6 course-fee-postion">
										<div class="d-flex">
										<label class="grn-txt-clr mt-2 mr-3">Add Course Fee<sup class="red-txt-clr"> * </sup></label>
										<select name="time_zone" class="form-control w-50" title="Please select something!" disabled>
											<option value="">Select Currency</option>
											<option value="1">INR</option>
											<option value="2">USD</option>
										</select>
										<i class="fa fa-plus plus-icon-position cp-icon-cursor" aria-hidden="true"></i>
									</div>

										<div class="col p-0 mt-4">
												<div class="d-flex">
													<label class="grn-txt-clr mr-3 mb-0">
														Setup Milestone<br>based payments<sup class="red-txt-clr"> * </sup>
													</label>
													<label class="mr-4 mb-0">
															<input type="radio" name="c1" disabled><span class="ml-2">Yes</span></label>
														<label class="mr-4 mb-0">
															<input type="radio" name="c1" disabled><span class="ml-2">No</span></label>
												</div>
										</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group d-flex">
											<label class="mt-2 mr-2 grn-txt-clr">Fees In INR</label>
											<div class="info-icon-block fees-field-control">
												<input type="text" name="title" class="form-control" disabled>
												<div class="clearfix"></div>
											</div>
											<div class="ml-3 mt-1 trash-icon-size">
													<a href="javascript:void(0)" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o cp-icon-cursor" aria-hidden="true"></i></a>
											</div>
									</div>
									<div class="form-group d-flex">
											<label class="mt-2 mr-1 grn-txt-clr">Fees In USD</label>
											<div class="info-icon-block fees-field-control">
												<input type="text" name="title" class="form-control" disabled>
												<div class="clearfix"></div>
											</div>
											<div class="ml-3 mt-1 trash-icon-size">
													<a href="javascript:void(0)" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o cp-icon-cursor" aria-hidden="true"></i></a>
											</div>
									</div>
								</div>
							</div>

					<div class="form-group row ">
						<div class="col-sm-6">
								<label class="grn-txt-clr">Define Milestones for Payment<sup class="red-txt-clr"> * </sup></label>
								<div class="info-icon-block">
										<textarea class="form-control ckeditor" name="editor" id="editor" cols="35" rows="5"disabled></textarea>
									<div class="clearfix"></div>
									<div class="info-icon" data-toggle="tooltip" data-placement="top" title="Duisut gravida nulla. Aliquam tincidunt lorem at ligula bibendum, eu accumsan magna semper.">
										<i class="fa fa-info" aria-hidden="true"></i>
									</div>
							</div>
						</div>
							<div class="mt-3 ml-3">
									<div class="row">
										<label class="grn-txt-clr col-md-5">Due Date<br>of Milestone<sup class="red-txt-clr"> * </sup></label>
										<div class="info-icon-block col-md-7">
											<div class="input-icon-block">
												<input type="text" id="datepicker" data-date-format="dd/mm/yyyy" class="form-control bg-white cp-date-width create-basic-date" name="startdate1" disabled>
												<div class="clearfix"></div>
										</div>
										</div>
									</div>
								<div class="row">
										<label class="grn-txt-clr col-md-5 mt-2">%Completion<sup class="red-txt-clr"> * </sup></label>
										<div class="info-icon-block col-md-7">
											<input type="number" name="title" class="form-control" disabled>
											<div class="clearfix"></div>
										</div>
								</div>
								<div class="row mt-3">
										<label class="grn-txt-clr col-md-5 mt-2">Amount<sup class="red-txt-clr"> * </sup></label>
										
										<div class="info-icon-block col-md-7">
											<input type="text" name="title" class="form-control" disabled>
											<div class="clearfix"></div>
										</div>
								</div>
							</div>
						<div class="d-flex align-items-center">
								<div class="info-icon-block d-flex ml-3">
										<i class="fa fa-plus trash-icon-size mt-2 cp-icon-cursor" aria-hidden="true"></i>
										<a href="javascript:void(0)" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o trash-icon-size ml-2 mt-2 cp-icon-cursor" aria-hidden="true"></i></a>
										<div class="clearfix"></div>
								</div>
						</div>
					</div>

					<div class="form-group row payment-border">
							<div class="col-sm-6">
									<label class="grn-txt-clr">Define Milestones for Payment<sup class="red-txt-clr"> * </sup></label>
									<div class="info-icon-block">
											<textarea class="form-control ckeditor" name="editor" id="editor" cols="35" rows="5"disabled></textarea>
										<div class="clearfix"></div>
										<div class="info-icon" data-toggle="tooltip" data-placement="top" title="Duisut gravida nulla. Aliquam tincidunt lorem at ligula bibendum, eu accumsan magna semper.">
											<i class="fa fa-info" aria-hidden="true"></i>
										</div>
								</div>
							</div>
								<div class="mt-3 ml-3">
										<div class="row">
											<label class="grn-txt-clr col-md-5">Due Date<br>of Milestone<sup class="red-txt-clr"> * </sup></label>
											<div class="info-icon-block col-md-7">
												<div class="input-icon-block">
													<input type="text" id="datepicker1" data-date-format="dd/mm/yyyy" class="form-control bg-white cp-date-width create-basic-date" name="startdate" disabled>
													<div class="clearfix"></div>
											</div>
											</div>
										</div>
									<div class="row">
											<label class="grn-txt-clr col-md-5 mt-2">%Completion<sup class="red-txt-clr"> * </sup></label>
											<div class="info-icon-block col-md-7">
												<input type="number" name="title" class="form-control" disabled>
												<div class="clearfix"></div>
											</div>
									</div>
									<div class="row mt-3">
											<label class="grn-txt-clr col-md-5 mt-2">Amount<sup class="red-txt-clr"> * </sup></label>
											
											<div class="info-icon-block col-md-7">
												<input type="text" name="title" class="form-control" disabled>
												<div class="clearfix"></div>
											</div>
									</div>
								</div>
								<div class="d-flex align-items-center">
									<div class="info-icon-block d-flex ml-3">
										<i class="fa fa-plus trash-icon-size mt-2 cp-icon-cursor" aria-hidden="true"></i>
										<a href="javascript:void(0)" data-toggle="modal" data-target="#deleteModal" disabled><i class="fa fa-trash-o trash-icon-size ml-2 mt-2 cp-icon-cursor" aria-hidden="true"></i></a>
										<div class="clearfix"></div>
								</div>
							</div>
						</div>
					
					<div class="form-group row">
						<div class="col-sm-4">
							<div class="form-group">
								<label class="grn-txt-clr">
									Select LIVEATCLASS Category
									<sup class="red-txt-clr"> * </sup>
								</label>
								<a class="btn btn-m-0" data-toggle="modal" data-target="#exampleModal1" disabled>
												Select Course Category
								</a>
							</div>
						</div>

						<div class="col-sm-8">
							<div class="form-group">
								<label class="grn-txt-clr">For Users Residing Out Of India<sup class="red-txt-clr"> * </sup></label>
								<div class="d-flex">
								<div>
								<a class="btn btn-m-0" data-toggle="modal" data-target="#exampleModal2" disabled>
												Select Payment Method
										</a>
									</div>
								<div class="form-group ml-2 modal-txt-grey">
									Applicable For Users, Who Have Enrolled In Currencies <br> Other Than INR
								</div>
								</div>
							</div>
						</div>
					</div>
						</div>
					</div>
					<div class="row">
								<div class="col-sm-6">
								<div class="previous-btn mt-1">
								<button type="button" class="btn btn-m-0 del-btn" (click)="goToPrevious()">Previous</button>
								</div>
							   </div>
								<div class="col-md-6">
								<div class="action-btn float-right">
									<button  class="btn btn-no btn-m-0" (click)="cancel()">Cancel</button>
									<button  class="btn">Save</button>
								</div>
								</div>
							</div>

					</form>
				</div>
			</div>
            <!--</form>-->

      <div mdbModal #selectTeacher="mdbModal" ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" ngResizable>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Add Teachers </h5>
                    <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="selectTeacher.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body table-in">
                    <table id="assign-course" class="table table-bordered table-striped default_data_table" style="width:100%">
                        <thead>
                            <tr>
								
                                <th>Teacher Name</th>
                                <th>E-mail ID</th>
                                <th class="text-center no-sort">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of teacherList;">
                                <td> {{list['firstname'] | titlecase}}</td>
                                <td> {{list.email}}</td>
                                <td class="text-center">
                                    <input type="checkbox" [(ngModel)]="selectedTeachers[list.user_id]"> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="assignTeachers()">Assign</button>
                </div>
            </div>
        </div>
    </div>
    <!--assign Teacher-->

	<!--Delete Confirmation-->
    <div mdbModal #deleteTeacher="mdbModal" ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content" >
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteTeacherLabel">Delete</h5>
                  <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="deleteTeacher.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body msg-alert-block text-center">
                  <p> Are you sure you want to remove this teacher? </p>
                      <a class="btn btn-no" data-dismiss="modal" aria-label="Close" (click)="deleteTeacher.hide()"> No </a> <a class="btn" (click)='removeAssignedTeacher()' > Yes </a>
                </div>
              </div>
            </div>
    </div>
    <!--Delete Confirmation-->
	<!--Images Content Modal Start -->
			<div  mdbModal #contentModal="mdbModal" ngDraggable class="modal fade resizable_modal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog" role="document">
				  <div class="modal-content" ngResizable>
					<div class="modal-header">
					  <h5 class="modal-title" id="contentModalLabel">
							Choose from content library	
					  </h5>
						<button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="contentModal.hide()">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body table-in">
						<table id="manage-files" datatable [dtOptions]="dtOptions['imageFiles']" #fileTable class="border-0 table table-striped table-bordered table-sm">
							<thead>
							  <tr>
								<th>Name</th>
								<th>Type</th>
								<th class="no-sort">Select</th>
							  </tr>
							</thead>
							<tbody *ngIf="fileList?.length == 0">
							  <tr>
								<td colspan="3">No records found</td>
							  </tr>
							</tbody>
							<tbody *ngIf="fileList?.length > 0">
							  <tr *ngFor="let file of fileList;">
								<td>
								  <span *ngIf="file.type==isFolder"><i class="fa fa-folder"> </i><a href="javascript:void(0)" class="text-dark" (click)="traverseTo(file.id)">&nbsp;{{file.name}}</a></span>
								  <span *ngIf="file.type==isFile" class="inline-edit-box">{{file.name}}</span>
								</td>
								<td><a href="javascript:void(0);" *ngIf="file.type==isFile">.{{file.content_type}}</a></td>
								<td><input *ngIf="file.type==isFile" type="radio"  name="contentfile" [value]="file" [(ngModel)]="selectedCourseImage" /></td>
							  </tr>
							</tbody>
					    </table>
					</div>
					<div class="modal-footer">
					 
					  <div class="text-right col-lg-12 p-0">
						<button type="button" class="btn btn-primary btn-sm float-left" *ngIf="folderList.length" (click)="goBack()">Previous Folder</button> 
						<button type="button" class="btn btn-primary btn-sm" [disabled]="!selectedCourseImage" (click)="selectContent()">Choose File</button>
					  </div>
					</div>
				  </div>
				</div>
			</div>
		<!--Images Content Modal End -->
		
	<!--Video Content Modal Start -->
			<div  mdbModal #videoContentModal="mdbModal" ngDraggable class="modal fade resizable_modal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog" role="document">
				  <div class="modal-content" ngResizable>
					<div class="modal-header">
					  <h5 class="modal-title" id="contentModalLabel">
							Choose from content library	
					  </h5>
						<button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="videoContentModal.hide()">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body table-in">
						<table id="manage-files" datatable [dtOptions]="dtOptions['videoFiles']" #fileTable class="border-0 table table-striped table-bordered table-sm">
							<thead>
							  <tr>
								<th>Name</th>
								<th>Type</th>
								<th class="no-sort">Select</th>
							  </tr>
							</thead>
							<tbody *ngIf="videoFileList?.length == 0">
							  <tr>
								<td colspan="3">No records found</td>
							  </tr>
							</tbody>
							<tbody *ngIf="videoFileList?.length > 0">
							  <tr *ngFor="let file of videoFileList;">
								<td>
								  <span *ngIf="file.type==isFolder"><i class="fa fa-folder"> </i><a href="javascript:void(0)" class="text-dark" (click)="traverseToVideoFolder(file.id)">&nbsp;{{file.name}}</a></span>
								  <span *ngIf="file.type==isFile" class="inline-edit-box">{{file.name}}</span>
								</td>
								<td><a href="javascript:void(0);" *ngIf="file.type==isFile">.{{file.content_type}}</a></td>
								<td><input *ngIf="file.type==isFile" type="radio"  name="contentfile" [value]="file.filename" [(ngModel)]="selectedPromoVideo" /></td>
							  </tr>
							</tbody>
					    </table>
					</div>
					<div class="modal-footer">
					 
					  <div class="text-right col-lg-12 p-0">
						<button type="button" class="btn btn-primary btn-sm float-left" *ngIf="videoFolderList.length" (click)="goBackVideoFolder()">Previous Folder</button> 
						<button type="button" class="btn btn-primary btn-sm" [disabled]="!selectedPromoVideo" (click)="selectVideoContent()">Choose File</button>
					  </div>
					</div>
				  </div>
				</div>
			</div>
		<!--video Content Modal End -->
		
		<!-- Embeded Content Modal Start -->
			<div  ngDraggable mdbModal #embeddedContentModal="mdbModal" class="modal fade resizable_modal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog" role="document">
				  <div class="modal-content" ngResizable>
					<div class="modal-header">
					  <h5 class="modal-title" id="embeddedContentModalLabel">
							Choose from Embedded content library
					  </h5>
						<button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="embeddedContentModal.hide()">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body table-in">
						<table datatable [dtOptions]="dtOptions['embedded_content']" #embedTable class="table table-striped table-bordered table-sm modalmanage-table">
							<thead>
							  <tr>
								<th>Title Name</th>
								<th class="text-center">Type</th>
								<th class="no-sort">Select</th>
							  </tr>
							</thead>
							<tbody *ngIf="embedList?.length <= 0">
							  <tr>
								<td>No embed content</td>
							  </tr>
							</tbody>
							<tbody *ngIf="embedList?.length > 0">
							  <tr *ngFor="let file of embedList;">
								<td>
								  <span class="grn-txt-clr">{{file.name}} </span>
								</td>
								<td class="text-center">
								  <i class="fa fa-vimeo" *ngIf="file.content_type=='vimeo'"></i>
								  <i class="fa fa-youtube" *ngIf="file.content_type=='youtube'"></i>
								</td>
								<td><input type="radio"  name="embededfile" [value]="file.filename" [(ngModel)]="selectedPromoVideo" /></td>
							  </tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
					 
					  <div class="text-right col-lg-8 p-0">
						 
						<button type="button" class="btn btn-primary btn-sm" [disabled]="!selectedPromoVideo" (click)="selectEmbededContent()">Choose File</button>
					  </div>
					</div>
				  </div>
			</div>
			</div>
		<!-- Embeded Content Modal End -->
