<div id="main-block col-sm-12" class="pt-2 course-border">
	<section >
            <div class="container-fluid">
                <div class="user-details-tab-head">
                    <div class="py-2 px-2">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="m-0 p-0 font-weight-bold"> <i class="fa fa-book" aria-hidden="true"></i>
                             Course Catalogue
                         </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-details-body" >
                   
                        <div class="catalogue-border d-flex justify-content-center w-30">
                            <div id="manage-files_filter" class="dataTables_courses_filter  mt-3 mb-2">
                                <label>
                                    <input  type="search" [(ngModel)]="searchText"  (keyup)="onSearch($event)" autocomplete="off" placeholder="search by Course ID/Course Name/Instructor" class="search_course" aria-controls="manage-files" style="
                                    width: 520px !important;
                                    "/>
                                    <select class='select-option'
                                        #yearChange
                                        (change)='getCourseList(yearChange.value)'>
                                        <option class='option' value="all">All</option>
                                        <option class='option' 
                                        *ngFor='let option of getCourseYear' 
                                        [value]="option">{{option}}</option>
                                    </select>
                                </label>
                                <button class="btn btn-default" (click)="clearSearch()">Clear</button>
<!--
                                <a class="clear" (click)="clearSearch()">
									<fa-icon class="icon fonticon" [icon]="['fas', 'envelope']" [fixedWidth]="true" size="6x"></fa-icon>
									<span class="glyphicon glyphicon-remove"></span>
								</a>
-->
                                
                            </div>

                        </div>
                   
	
                    <div class="course-list">
                        <div class="row">
                            <div class="col-sm-3"  *ngFor="let courses of coursesList">
								
                                    <div class="card course-card">
                                            <div class="card-body p-0">
                                                <img [src]="courses.course_image" width="218px" height="110px" *ngIf = "courses.course_image !=null">
                                                <img src="/assets/images/Course-Catalogue1.jpg" width="218px" height="110px" *ngIf = "courses.course_image ==null"> 
                                                <div class="p-2">
                                                    <h6 class="grn-txt-clr text-truncate"><a routerLink="/course_preview/{{courses.id}}">{{courses.course_title + ' - ' + courses.course_uid}}</a></h6>
                                                    <p class="course-listing-page" [innerHTML]="courses.course_detail"></p>
                                                    <div class="coursed">
                                                        <p><strong>Course start date: </strong>{{courses.start_date | date: 'dd-MM-yyyy'}}</p>
                                                        <p><strong>Course end date: </strong>{{courses.end_date | date: 'dd-MM-yyyy'}}</p>
                                                    </div>
                                                    <div class="instructor_row">
                                                        <p class="m-0 main-instructors">Instructors</p>
                                                        <p *ngFor="let teacher of courses.teachers" class="grn-txt-clr m-0" ><span class="text-capitalize">{{teacher.firstname}} {{teacher.lastname}}</span></p>
                                                        <p class="grn-txt-clr m-0" *ngIf="courses.teachers <= 0">No instructors assigned</p>
                                                    </div>
                                                    <div class="ml-0">
                                                             <span class="rated-block"><ngb-rating [(rate)]="courses.total_avg"></ngb-rating></span>
                                                            <label>{{courses.total_avg}} ({{courses.total_reviews}} ratings)</label>
                                                    </div>
                                                    <div class="text-right mt-2">
														<a href="javascript:void(0);" class="text-primary" (click)="enrollToCourse(courses.id)">Click here to enroll</a>
													</div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                          </div>
                </div>

            </div>
		</div>
		<!--</form>-->
		<!--Enroll enquiry form-->
            <div mdbModal ngDraggable #enrollToCourseModal="mdbModal" class="modal fade resizable_modal" id="popEnquiry" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" ngResizable>
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Enquiry form
                            </h5>
                            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="enrollToCourseModal.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                       <form name="form" role="form" class="form-horizontal register" (ngSubmit)="f.form.valid && courseEnrolledRequest()" #f="ngForm" novalidate>
                        <div class="modal-body">
                                <div class="form-group row align-items-center">
                                    <label class="col-md-4">First name<sup class="red-txt-clr"> * </sup></label>
                                    <div class="col-md-8"><input class="form-control" type='text' name='firstname' [(ngModel)]="enrollCourse.firstname" #firstname="ngModel" required /><div *ngIf="f.submitted && !firstname.valid" class="help-block"><div *ngIf="firstname.errors.required">First Name is required.</div></div>
                                    </div>
									
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-md-4">Last name<sup class="red-txt-clr"> * </sup></label>
                                    <div class="col-md-8"><input class="form-control" type='text' name='lastname' [(ngModel)]="enrollCourse.lastname" #lastname="ngModel" required/><div *ngIf="f.submitted && !lastname.valid" class="help-block"><div *ngIf="lastname.errors.required">Last Name is required.</div>
									</div></div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-md-4">Email id<sup class="red-txt-clr"> * </sup></label>
                                    <div class="col-md-8"><input class="form-control" type='text' name='email' [(ngModel)]="enrollCourse.email" #email="ngModel" required email/><div *ngIf="f.submitted && !email.valid" class="help-block"><div *ngIf="email.errors.required">Email is required.</div><div *ngIf="email.errors.email">Email must be a valid.</div>
									</div></div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-md-4">Phone number<sup class="red-txt-clr"> * </sup></label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <select class="form-control w-25">
                                                <option>+91</option>
                                            </select>
                                            <input class="form-control w-auto" name='phonenumber' type='number' [(ngModel)]="enrollCourse.phone" #phone="ngModel" required/>
                                        </div>
										<div *ngIf="f.submitted && !phone.valid" class="help-block">
												<div *ngIf="phone.errors.required">Phone Number is required.</div>
										</div>
                                    </div>
                                </div>
                                <div class="row form-group align-items-center">
                                    <label class="col-md-4">Message<br /><small>(max 250 words)</small></label>
                                    <div class="col-md-8"><textarea cols="80" rows="3" class="form-control" name='message' [(ngModel)]="enrollCourse.message" #message="ngModel" required></textarea>
                                    <div *ngIf="f.submitted && !message.valid" class="help-block"><div *ngIf="message.errors.required">Message is required.</div>
									</div></div>
                                </div>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-no btn-sm" data-dismiss="modal" (click)="enrollToCourseModal.hide()">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                        </div>
                       </form>
                    </div>
                </div>
            </div>
            
            <!--Enquiry form Success message-->
            <div mdbModal ngDraggable #popEnquiryMsgModal="mdbModal" class="modal fade" id="popEnquiryMsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Message from institute
                            </h5>
                            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="popEnquiryMsgModal.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="h5 my-3 text-success text-center">
                                    Your enquiry has been received. Our representative will contact you shortly. Thank you for your cooperation.
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm" (click)="popEnquiryMsgModal.hide()">OK</button>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
