<div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="introduction-oops my-2">
                        <ul>
							<li>
								<a *ngIf="!currentUser" routerLink="/course_catalogue">» Courses</a>
								<a *ngIf="!!currentUser" routerLink="/courses_list">» Courses</a>
							</li>
							<li class="oops"><a href="javascript:void(0)"> » {{model.course_title}}</a></li>
						</ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div id="course-preview-details-container">
                        <div class="course-preview-block">
                            <div class="preview-header relative-block">
                                <div class="title-header float-left">
                                    <span class="cerfiticate-ribbon">Certified</span>
                                    <h1>{{model.course_title|titlecase}}</h1>
                                    <h3>{{model.sub_title|titlecase}}</h3>
                                    <h6 class=float-left>- {{model.assigned_teacher|titlecase}}</h6>
                                    
                                </div>
                                <div class="course-img-block  float-right">
									<img [src]="model.course_image" class="img-fluid" *ngIf = "model.course_image !=null" > <img src="/assets/images/course-preview-img.png" class="img-fluid" *ngIf = "model.course_image == null">
								</div>
                                <div class="clearfix"></div>
                                <div class="course-short-info">
                                    <ul class="list-unstyled">
                                        <li>English - All Levels</li>
                                        <li> <strong>{{model.enrolled_count}}</strong> Student enrolled</li>
                                        <li><strong>{{averageRating}}(</strong>{{model.reviews? model.reviews.length : 0}} Ratings) <span class="rated-block"></span> </li>
                                        <li><a routerLink="/course_detail/{{model.id}}" class="btn btn-sm btn-primary">Take This Course</a> </li>
                                    </ul>
                                </div>
								<ul class="nav nav-tabs   responsive-nav-tab table-hide-border" id="course-tab-container" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0)" (click)="currentTab='detail'" [ngClass]="{'active': currentTab=='detail'}">Course Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0)" (click)="currentTab='teacher'" [ngClass]="{'active': currentTab=='teacher'}">Teacher</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0)" (click)="currentTab='review'" [ngClass]="{'active': currentTab=='review'}">Reviews</a>
                                    </li>
                                </ul>
                            </div>
                                <div class="tab-content  relative-block" id="course-tab-content">
									<div class="tab-pane fade p-3" [ngClass]="{'active show': currentTab=='detail'}">
										<div class="form-group relative-block b-b-dashed min-height-block" [ngClass]="{'short-height': !showMore['highlights']}" >
                                        <h6 class="grn-txt-clr">COURSE HIGHLIGHTS</h6>
										<p *ngIf = "model.course_highlights != null" class="pointer-list"  [innerHTML]="model.course_highlights">
										</p>
										<p *ngIf = "model.course_highlights == null">
											No Detail is Present.
										</p>
                                        <a href="javascript:void(0);" *ngIf="model.course_highlights !=null" class="more-link" (click)="showMore['highlights']=!showMore['highlights']">
                                            <i class="fa fa-chevron-circle-down" [ngClass]="{'fa-chevron-circle-down': !showMore['highlights'],'fa-chevron-circle-up': showMore['highlights']}" aria-hidden="true"></i> <span> View {{!showMore['highlights'] ? 'More' : 'Less'}}...</span>
                                        </a>

                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group relative-block min-height-block">
                                        <h6 class="grn-txt-clr">ABOUT THE COURSE</h6>
                                        <div class="min-height-block1"  [ngClass]="{'short-height': !showMore['about']}">
											<p *ngIf = "model.course_detail != null" [innerHTML]="model.course_detail" class="pointer-list"></p>
											<p *ngIf = "model.course_detail == null">No Detail is Present.</p>

                                            <a href="javascript:void(0);"  *ngIf="model.course_highlights !=null" class="more-link" (click)="showMore['about']=!showMore['about']">
                                                <i class="fa fa-chevron-circle-down" [ngClass]="{'fa-chevron-circle-down': !showMore['about'],'fa-chevron-circle-up': showMore['about']}" aria-hidden="true"></i> <span> View {{!showMore['about'] ? 'More' : 'Less'}}...</span>
                                            </a>
                                        </div>
							</div>
							</div>
							<div class="tab-pane fade p-3 " [ngClass]="{'active show': currentTab=='teacher'}">
								<div class="course-teacher-block b-b-dashed py-4"  >
								<div *ngFor="let teacher of assignedTeachers">
									<div class="row mt-3">
										<div class="col-md-3">
											<div class="teacher-img">
												<img class="img-fluid" [src]="teacher.profile_image" alt="Description" *ngIf = "teacher.profile_image !=null" />
												<img class="img-fluid" src="/assets/images/avatar.png" *ngIf = "teacher.profile_image ==null"/>
											</div>
										</div>
										<div class="teacher-details col-md-9">
											<h4 class="text-uppercase "><a href="javascript:void(0);" routerLink="/profile/{{teacher.user_id}}"><u>{{teacher.firstname + ' '+   teacher.lastname}}</u> </a><span class="pull-right"> {{teacher.total_class_hours}} Live
													Class Hours | {{teacher.total_assigned_courses}} Courses </span> </h4>
											<div class="min-height-block"   [ngClass]="{'short-height': !showMore['teacher'+teacher.user_id]}">
											     <p [innerHTML]="teacher.description"></p>
	
												<a href="javascript:void(0);" class="more-link"  (click)="showMore['teacher'+teacher.user_id]=!showMore['teacher'+teacher.user_id]">
														<i class="fa fa-chevron-circle-down" aria-hidden="true"></i> <span> View
															{{!showMore['teacher'+teacher.user_id] ? 'More' : 'Less'}}...</span>
													</a>
	
												</div>
										</div>
									</div>
								</div>
							</div>
							</div>
							<div class="tab-pane fade " [ngClass]="{'active show': currentTab=='review'}">
								<div class="overall-rating">
								<h4>Overall Ratings({{model.reviews? model.reviews.length : 0}}) <span class="float-right">{{averageRating}} <span class="rated-block"><ngb-rating [(rate)]="averageRating"></ngb-rating></span> </span></h4>
							</div>
								<div class="course-review-block b-b-dashed">
									<div class="row"  *ngIf="currentReview">
										<div class="col-md-1">
											<div class="dropcap">
												<img src="/assets/images/avatar.png" class="img-fluid" >
<!--
												<img [src]="review.user.profile_image" class="img-fluid" *ngIf='review.user.profile_image != null'>
-->
											</div>
										</div>
										<div class="col-md-11">
											<h4><span class="text-capitalize">{{currentUser.firstname+' '+currentUser.lastname}}</span> <span class="user-rating float-right text-right">
												<span class="rated-block">
												<ngb-rating [(rate)]="currentReview.rating"></ngb-rating>
												</span>
												<span>{{currentReview.created_at | amTimeAgo}}</span></span> </h4>
											<div class="clearfix"></div>
											<p class="m-0" [innerHtml]='currentReview.comment'></p>
												<div *ngIf = "currentUser.user_type == 'student' || userType == 'student'">
												   <a   data-toggle="modal" class="float-right" (click)='showDeleteReviewPopup(currentReview)'>  <i class="fa fa-trash-o"></i> </a>
												   <a   data-toggle="collapse" (click)="editReview[currentReview.id]=!editReview[currentReview.id]" class="float-right"><i class="fa fa-pencil"></i> </a>
												</div>
                                                <div class="clearfix"></div>

												<div id="edit-review-toggle" class="collapse" [ngClass]="{'show': editReview[currentReview.id]}">
													<form role="form" name="form" (ngSubmit)="f.form.valid && edit_review(currentReview)" #f="ngForm" novalidate>
													<div class="write-review-block">
														<h3>Edit Review</h3>
															<ckeditor [editor]="Editor" id= "course_review" [(ngModel)]="currentReview.comment" name="course_review"></ckeditor>
														<div class="clearfix"></div>
														<div class="row mt-3">
															<div class="col-lg-4">
																<div class="ratings rated-block"><ngb-rating [(rate)]="currentReview.rating" [readonly]="addRating"></ngb-rating></div>
															</div>
															<div class="col-lg-8 text-right">
																<button type="button" class="btn btn-no">Cancel</button>
																<button type="submit" class="btn drkgrn-bckgrd-clr">Update </button>
															</div>
														</div>
													</div>
													</form>
												</div>
										</div>
									</div>
									<ng-container *ngFor="let review of model.reviews">
									<div class="row" *ngIf="!currentReview || review.id != currentReview.id">
										<div class="col-md-1">
											<div class="dropcap">
												<img src="/assets/images/avatar.png" class="img-fluid">
<!--
												<img [src]="review.user.profile_image" class="img-fluid" *ngIf='review.user.profile_image != null'>
-->
											</div>
										</div>
										<div class="col-md-11">
											<h4><span class="text-capitalize">{{review.user.firstname+' '+review.user.lastname}}</span> <span class="user-rating float-right text-right">
												<span class="rated-block">
												<ngb-rating [(rate)]="review.rating"></ngb-rating>
												</span>
												<span>{{review.created_at | amTimeAgo}}</span></span> </h4>
											<div class="clearfix"></div>
											<p class="m-0" [innerHtml]='review.comment'></p>
												<a href="javascript:void(0);" class="btn btn-primary float-right">Report
													Spam</a>
											<div class="clearfix"></div>
										</div>
									</div>
									</ng-container>
								</div>
								<div id="write-review-container" *ngIf = "(!!currentUser && currentUser.user_type == 'student' && !currentReview) || (!!currentUser && currentUser.user_type != 'student' && userType == 'student' && !currentReview)">
									<form role="form" name="form" (ngSubmit)="f.form.valid && addReview()" #f="ngForm" novalidate>
									<div class="write-review-block">
										<h3>Add Review</h3>
											<ckeditor [editor]="Editor" id= "course_review" [(ngModel)]="reviewModel.comment" name="course_review"></ckeditor>
										<div class="clearfix"></div>
										<div class="row mt-3">
											<div class="col-lg-4">
												<div class="ratings rated-block"><ngb-rating [(rate)]="reviewModel.rating" [readonly]="addRating"></ngb-rating></div>
											</div>

											<div class="col-lg-8 text-right">
												  
													<button type="button" class="btn btn-no">Cancel</button>
													<button type="submit" class="btn drkgrn-bckgrd-clr">Add Review </button>
											   
											</div>
										</div>
									</div>
									</form>
								</div>
							</div>
						</div>
							
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div id="course-preview-sidebar">
				<div class="course-sidebar-container">
					<div class="sidebar-header">
						<div class="float-left">
							<h4>CURRICULUM</h4>
							<p class="mb-0 mt-3"> 0 Lectures | {{classes}} Live Classes</p>
						</div>
						<div class="float-right">
							<ul class="list-unstyled text-right">
								<li> <i class="fa fa-columns    "></i> 0 Slides</li>
								<li> <i class="fa fa-list-ul    "></i> 0 Quizes</li>
								<li> <i class="fa fa-play-circle-o    "></i> {{videos}} videos</li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div id="course-collapse-sidebar">
						<div class="sidebar-inner-block">
							<div id="accordion">
								<div class="card" *ngFor='let chapter of model.chapters;'>
									<div class="card-header">
										<h5 class="mb-0">
											<a href="javascript:void(0);" class="btn-link  " data-widget="collapse" (click)="isCollapsed[chapter.id] = !isCollapsed[chapter.id]"  [attr.aria-expanded]="!isCollapsed[chapter.id]">
												{{chapter.name}} <i class="fa pull-right circle-icon"
													aria-hidden="true" [ngClass]="{'fa-plus': isCollapsed[chapter.id], 'fa-minus': !isCollapsed[chapter.id]  }"></i>
												<div class="clearfix"></div>
											</a>
										</h5>
									</div>
									<div id="collapse1" class="collapse show active" [ngbCollapse]="isCollapsed[chapter.id]">
										<div class="card-body" *ngFor='let unit of chapter.units; '>
											<ul class="sub-link-list">
												<li> <a href="javascript:void(0);"> &raquo; {{unit.name}} <span class="float-right"> <i
																class="fa fa-question-circle-o"
																aria-hidden="true"></i> <i
																class="fa fa-columns " aria-hidden="true"></i>
														</span></a> </li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
 <!--Delete Review Modal-->
 <div mdbModal ngDraggable #deleteReviewModal="mdbModal" class="modal fade" id="deletereview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteReviewModalLabel"> DELETE REVIEW </h5>
                <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="deleteReviewModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body msg-alert-block ">
                <div class="form-group">
                    <p class="m-0"><span class="modal-txt-grey">Are you sure want to delete this Review? </span></p>
                </div>
                <div class="text-right ">
                    
                    <button type="submit" class="btn drkgrn-bckgrd-clr" (click)='deleteReview()' > Delete </button>
                </div>
            </div>
        </div>
    </div>
</div>
