 <div class="container-fluid">
                <!--Head and Nav Tab Start-->
                <div class="user-details-tab-head">
                    <div class="py-1 px-2">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="m-0 mt-1 p-0 font-weight-bold">
                                        <i class="fa fa-book" aria-hidden="true"></i>
                                                            {{model.course_title}}
                                                          </h5>
                            </div>
                        </div>
                    </div>
                </div>
				
                <div class="col-3 float-right text-left" *ngIf = "enrolledCourseCount != 0">
				Course Completion Status
					<div class="progress-bar progress-bar-bg">
						<div class="progress-cover progress-cover-bg" [style]="getWidthPercent(completionStatus)"></div>
						<div class="progress-percent double-info">
							<div class="pull-right">{{completionStatus | number: '1.0-0'}}%</div>
							<div class="pull-left"> </div>
							<div class="clearfix"></div>
						</div>
					</div>

				</div>
		<div class="mt-4 details-tab">
              <ngb-tabset >
			    <ngb-tab  title="Course Details" >
					<ng-template  ngbTabContent>

							 <div class="row">
                            <!--Left Content Start-->
								<div class="col-sm-7">
									<div class="form-group relative-block min-height-block" [ngClass]="{'short-height': !showMore['highlights']}">
										<h6 class="grn-txt-clr">COURSE HIGHLIGHTS</h6>
										<p class="pointer-list" [innerHTML]="model.course_highlights"></p>
                                        <a href="javascript:void(0);"  *ngIf="model.course_highlights !=''" class="more-link"  (click)="showMore['highlights']=!showMore['highlights']">
											<i class="fa fa-chevron-circle-down" [ngClass]="{'fa-chevron-circle-down': !showMore['highlights'],'fa-chevron-circle-up': showMore['highlights']}" aria-hidden="true"></i> <span> View {{!showMore['highlights'] ? 'More' : 'Less'}}...</span>
										</a>
									</div>
									<div class="clearfix"></div>
									<div class="form-group relative-block  min-height-block">
										<h6 class="grn-txt-clr">ABOUT THE COURSE</h6>
										<div class="min-height-block1"  [ngClass]="{'short-height': !showMore['about']}">
    										<p [innerHTML]="model.course_detail"></p>
                                            <a href="javascript:void(0);" *ngIf="model.course_detail !=''" class="more-link"  (click)="showMore['about']=!showMore['about']">
                                                <i class="fa fa-chevron-circle-down" [ngClass]="{'fa-chevron-circle-down': !showMore['about'],'fa-chevron-circle-up': showMore['about']}" aria-hidden="true"></i> <span> View {{!showMore['about'] ? 'More' : 'Less'}}...</span>
                                            </a>
    									</div>
								    </div>
									 
								</div>
								<!--Left Content End-->
								<!--Right Content Start-->
								<div class="col-sm-5">
									<div class="form-group dashed-border-bottom pb-2 mb-2">
										<div class="row cerfiticate-img-block ">
											<div class="col-sm-5 text-center p-0 ">
												<img src="/assets/images/noimage.jpg" class="img-responsive"/>
<!--
												<span class="cerfiticate-ribbon">Certified</span>
-->
											  
											</div>
											<div class="col-sm-6 grn-txt-clr">
												<h6>English (US)</h6>
												<h6>All Levels</h6>
											</div>
										</div>
									</div>
									<div class="form-group dashed-border-bottom instructor-block">
										<div class="row mb-4">
											<div class="col-sm-12">
												<p class="m-0">Instructor(s)</p>
											</div>
											<div class="col-sm-6 text-center" *ngFor="let teacher of assignedTeachers">
												<img class="img-circle-dashboard" [src]="teacher.profile_image" alt="Description" *ngIf = "teacher.profile_image !=null" />
												<img class="img-circle" src="/assets/images/avatar.png" *ngIf = "teacher.profile_image ==null"/>
	<!--
												<img class="img-circle-dashboard" src="/assets/images/user1.png" />
	-->
												<h6 class="grn-txt-clr mt-3 "> <a href="javascript:void(0);" routerLink="/profile/{{teacher.user_id}}">{{teacher.firstname + ' '+   teacher.lastname}}</a></h6>
											</div>
										</div>
									</div>
									<div class="form-group text-center">
										<div class="" *ngIf='model.promotion_video != null' >
											<img src="/assets/images/no-video.jpg" *ngIf="videoType(unsanitizedVideoUrl) =='none'">
                      <video controls  width="100%" height="auto" [src]="model.promotion_video"  *ngIf = "videoType(unsanitizedVideoUrl) =='normal'">
                      </video>
                      <iframe width="100%" height="auto" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen  [src]="model.promotion_video" *ngIf = "videoType(unsanitizedVideoUrl) =='youtube' || videoType(unsanitizedVideoUrl) =='vimeo' "></iframe>
										</div>
								   
									</div>
								</div>
								<!--Right Content End-->


							</div>
                    
					</ng-template>
			  </ngb-tab>
			    <ngb-tab>
				  <ng-template ngbTabTitle>Curriculum</ng-template>
				  <ng-template ngbTabContent>
					  
						    <div class="row"  *ngIf = "enrolledCourseCount != 0">
								<div class="col-sm-12">
									<div class="form-group mb-2">
										 
										 
											<div class="course-status-info float-right">
												<ul class="list-unstyled">
													<li class="list-inline-item"> <span class="smallbox pending-course-bg"></span> Yet to Complete </li>
													<li class="list-inline-item">   <span class="smallbox complete-course-bg"></span> Completed </li>

												</ul>
										  

										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-sm-12">
									<div id="accordion">
										<div class="card mb-1" *ngFor='let chapter of model.chapters; let i = index;'>
											<div class="card-header card-header-cm pr-0 d-flex justify-content-between">
												<a role="button" (click)="isCollapsed['chapter'+chapter.id] = !isCollapsed['chapter'+chapter.id]"  [attr.aria-expanded]="!isCollapsed['chapter'+chapter.id]" aria-controls="collapseExample">
													<h6 class="chap-txt text-decoration-none">   <i class="plus-minus-toggle fa fa-minus " [ngClass]="{'fa-plus': isCollapsed['chapter'+chapter.id], 'fa-minus': !isCollapsed['chapter'+chapter.id]  }"></i> Chapter{{i+1}} : <span class="chap-title"> {{chapter.name}} </span> </h6>
												</a>
											</div>
											<div id="collapse-1" class="collapse show" [ngbCollapse]="isCollapsed['chapter'+chapter.id]"
												aria-labelledby="heading-1">
												<div class="card-body card-transparent ">
													<div id="accordion-1"  >
														<ul class="chapter-unit-list" *ngFor='let unit of chapter.units; let i = index;' >
															<li class="unit-list-heading p-2"  >
																<a  role="button" (click)="isCollapsed['unit'+unit.id] = !isCollapsed['unit'+unit.id]"  [attr.aria-expanded]="!isCollapsed['unit'+unit.id]" aria-controls="collapseExample">
																	<p class="m-0"> <i class="plus-minus-toggle fa fa-plus c-pointera" [ngClass]="{'fa-plus': isCollapsed['unit'+unit.id], 'fa-minus': !isCollapsed['unit'+unit.id]  }"></i> Unit {{i+1}} : <span
                                                                        class="dark-grn-txt-clr font-weight-bold">{{unit.name}}</span></p>
																</a>
															</li>
															<div id="collapse-1-1" class="collapse show" [ngbCollapse]="isCollapsed['unit'+unit.id]">
																<li *ngFor='let resource of unit.resources; let i = index;' [ngClass]="{'complete-course-bg': completedResources.indexOf(resource.id) != -1}">
																	<div class="d-flex">
																		<div class="sd-uncheck-row">
																		</div>
																		<div class="p-2"> 
																			<a routerLink="/play-mode/{{resource.id}}" >
																				<i class="fa fa-television p-1" aria-hidden="true" *ngIf="resource.resource_type == 'classes'"></i>
																				<i class="fa fa-vimeo p-1" aria-hidden="true" *ngIf="resource.resource_type == 'embedded' && resource.file.content_type == 'vimeo'"></i>
                                        <i class="fa fa-youtube p-1" aria-hidden="true" *ngIf="resource.resource_type == 'embedded' && resource.file.content_type == 'youtube'"></i>
																				<i class="fa fa-file-pdf-o p-1" aria-hidden="true" *ngIf="resource.resource_type == 'content' && resource.file.content_type == 'pdf'"></i>
																				<i class="fa fa-file-o p-1" aria-hidden="true" *ngIf="resource.resource_type == 'content' && resource.file.content_type != 'pdf'"></i>
																				<i class="fa fa-question-circle-o p-1" aria-hidden="true" *ngIf="resource.resource_type == 'quiz'"></i>
																				<i class="fa fa-file-o p-1" aria-hidden="true" *ngIf="resource.resource_type == 'assignment'"></i>
																				<span class="grn-txt-clr">{{resource.name}}</span> 
																			</a> 
																		</div>
																	</div>
																</li>
														   </div>
														</ul></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row" *ngIf = "enrolledCourseCount == 0">
                            <div class="col-sm-12" *ngIf="model.is_active!=2">
                                <div class="form-group row">
                                    <div class="col-sm-3 mt-1">
                                        <a  class="btn btn-m-0" (click)="saveChapter.show()">
                                            Add Chapter
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div id="accordion" *ngIf="model.chapters?.length == 0"><p>No records found.</p></div>
								<div id="accordion" *ngIf="model.chapters?.length > 0">
                                    <div class="card mb-1" *ngFor='let chapter of model.chapters; let i = index;'>
                                        <div class="card-header card-header-cm pr-0 d-flex justify-content-between">
<!--
                                            <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
-->
                                            <a role="button" (click)="isCollapsed['chapter'+chapter.id] = !isCollapsed['chapter'+chapter.id]"  [attr.aria-expanded]="!isCollapsed['chapter'+chapter.id]" aria-controls="collapseExample">
                                                <h6 class="chap-txt text-decoration-none">   <i class="plus-minus-toggle fa fa-minus " [ngClass]="{'fa-plus': isCollapsed['chapter'+chapter.id], 'fa-minus': !isCollapsed['chapter'+chapter.id]  }"></i> Chapter{{i+1}} : <span class="chap-title"> {{chapter.name}} </span> </h6>
                                            </a>
                                            <div class="pr-2" *ngIf="model.is_active!=2">
                                                <i class="fa fa-plus mr-2 c-pointer chap-icons" (click)="addUnit(chapter)"></i>
                                                <i class="fa fa-pencil mr-2 c-pointer chap-icons"  (click)="editChapter(i)"></i>
                                                <i class="fa fa-trash-o c-pointer chap-icons"  (click)="showDeleteChapterPopup(chapter)"></i>
                                            </div>
                                        </div>
                                        <div id="collapse-1" class="collapse show" [ngbCollapse]="isCollapsed['chapter'+chapter.id]"
                                            aria-labelledby="heading-1">
                                            <div class="card-body card-transparent ">
                                                <div id="accordion-1"  >
                                                    <ul class="chapter-unit-list" *ngFor='let unit of chapter.units; let i = index;' >
                                                        <li class="unit-list-heading p-2"  >
                                                            <a  role="button" (click)="isCollapsed['unit'+unit.id] = !isCollapsed['unit'+unit.id]"  [attr.aria-expanded]="!isCollapsed['unit'+unit.id]" aria-controls="collapseExample">
                                                                <p class="m-0"> <i class="plus-minus-toggle fa fa-plus c-pointera" [ngClass]="{'fa-plus': isCollapsed['unit'+unit.id], 'fa-minus': !isCollapsed['unit'+unit.id]  }"></i> Unit {{i+1}} : <span
                                                                        class="dark-grn-txt-clr font-weight-bold">{{unit.name}}</span></p>
                                                            </a>
                                                            <div *ngIf="model.is_active!=2">
                                                                <i class="fa fa-arrow-circle-down mr-2 text-muted"
                                                                    data-toggle="modal" data-target="#exampleModal8"
                                                                    aria-hidden="true"></i>
                                                                <i class="fa fa-plus mr-2 c-pointer" (click)="addResource(chapter,unit)"></i>
                                                                <i class="fa fa-pencil mr-2 c-pointer" (click)="editUnit(chapter, i)"></i>
                                                                <i class="fa fa-trash-o c-pointer" (click)="showDeleteUnitPopup(chapter , unit)"></i>
                                                            </div>
                                                        </li>
                                                        <div id="collapse-1-1" class="collapse show" [ngbCollapse]="isCollapsed['unit'+unit.id]">
                                                            <li *ngFor='let resource of unit.resources; let i = index;' >
                                                                <div class="d-flex">
                                                                    <div class="sd-uncheck-row">
                                                                    </div>
                                                                    <div class="p-2"> 
																		<a routerLink="/play-mode/{{resource.id}}" >
																			<i class="fa fa-television p-1" aria-hidden="true" *ngIf="resource.resource_type == 'classes'"></i>
																			<i class="fa fa-youtube p-1" aria-hidden="true" *ngIf="resource.resource_type == 'embedded' && resource.file.content_type == 'youtube'"></i>
                                      <i class="fa fa-vimeo p-1" aria-hidden="true" *ngIf="resource.resource_type == 'embedded' && resource.file.content_type == 'vimeo'"></i>
                                      
																			<i class="fa fa-file-pdf-o p-1" aria-hidden="true" *ngIf="resource.resource_type == 'content' && resource.file.content_type == 'pdf'"></i>
																			<i class="fa fa-file-o p-1" aria-hidden="true" *ngIf="resource.resource_type == 'content' && resource.file.content_type != 'pdf'"></i>
																			<i class="fa fa-question-circle-o p-1" aria-hidden="true" *ngIf="resource.resource_type == 'quiz'"></i>
																			<i class="fa fa-file-o p-1" aria-hidden="true" *ngIf="resource.resource_type == 'assignment'"></i>
																			<span class="grn-txt-clr">{{resource.name}}</span> 
																		</a> 
																	</div>
                                                                </div>
                                                                <div>
                                                                  <i class="fa fa-pencil mr-2 c-pointer" (click)="editResource(resource)"  *ngIf="model.is_active!=2"></i>
                                                                <i class="fa fa-trash-o c-pointer sd-row-trash-icon"
                                                                    aria-hidden="true" (click)="showDeleteResourcePopup(chapter,unit,resource)" *ngIf="model.is_active!=2"></i>  
                                                                </div>
                                                            </li>
                                                       </div>
                                                    </ul></div>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
				  </ng-template>
			 </ngb-tab>
			    <ngb-tab [disabled]="true">
				  <ng-template ngbTabTitle ><div class='text-muted'>Tests</div></ng-template>
				  <ng-template ngbTabContent>
					  
						   <div class="form-group">
                            <a href="javascript:void(0);" class="btn btn-m-0" (click)="testModal.show()">
                                   Add Tests
                            </a>
                        </div>
                        <table id="test" class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Title</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="m-0">12-03-2019</p>
                                    </td>
                                    <td>
                                        <p class="grn-txt-clr m-0">Definition of OOPS in JAVA</p>
                                    </td>
                                    <td>
                                        <p class="grn-txt-clr m-0">26-06-2019</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="m-0">28-04-2019</p>
                                    </td>
                                    
                                    <td>
                                        <p class="grn-txt-clr m-0">About Java Swing</p>
                                    </td>
                                    <td>
                                        <div class="progress-bar progress-bar-bg">
                                            <div class="progress-cover" style="width:95%"></div>
                                            <div class="progress-percent double-info">
                                                <div class="pull-right">95%</div>
                                                <div class="pull-left"> </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="m-0">17-11-2019</p>
                                    </td>
                                    
                                    <td>
                                        <p class="grn-txt-clr m-0">Concepts of OOPS</p>
                                    </td>
                                    <td>
                                        <div class="progress-bar progress-bar-bg">
                                            <div class="progress-cover progress-bar bg-danger" style="width:25%"></div>
                                            <div class="progress-percent double-info">
                                                <div class="pull-right">25%</div>
                                                <div class="pull-left"> </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="m-0">17-12-2019</p>
                                    </td>
                                    
                                    <td>
                                        <p class="grn-txt-clr m-0">Intro to Course</p>
                                    </td>
                                    <td>
                                        <p class="text-danger m-0">Not Taken</p>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                  
				  </ng-template>
			 </ngb-tab>
			    <ngb-tab [disabled]="true">
				  <ng-template ngbTabTitle><div class='text-muted'>Assignments</div></ng-template>
				  <ng-template ngbTabContent>
					  
						    <div class="form-group">
                            <a href="javascript:void(0);" class="btn btn-m-0" (click)="assignmentModal.show()">
                                       Add Assignments
                                </a>
                        </div>
                        <table id="assignment" class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Assignment Title</th>
                                    <th>Due Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="m-0">12-6-1998</p>
                                    </td>
                                    <td>
                                        <p class="grn-txt-clr m-0"> Description about the video here.... </p>
                                    </td>
                                    <td>
                                        <p class="grn-txt-clr m-0"> 12-6-1998 </p>
                                    </td>
                                    <td>
                                        <p class="m-0 text-success">In Progress</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="m-0">12-6-1998</p>
                                    </td>
                                    
                                    <td>
                                        <p class="grn-txt-clr m-0"> Description about the video here.... </p>
                                    </td>
                                    <td>
                                        <p class="grn-txt-clr m-0"> 12-6-1998 </p>
                                    </td>
                                    <td>
                                        <p class="m-0 text-success">In Progress</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="m-0">12-6-1998</p>
                                    </td>
                                    
                                    <td>
                                        <p class="grn-txt-clr m-0"> Description about the video here.... </p>
                                    </td>
                                    <td>
                                        <p class="grn-txt-clr m-0"> 12-6-1998 </p>
                                    </td>
                                    <td>
                                        <p class="m-0 text-danger">Not Completed</p>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                  
				  </ng-template>
			</ngb-tab>
			    <ngb-tab>
				  <ng-template ngbTabTitle>Live Classes</ng-template>
				  <ng-template ngbTabContent>
					  <div class="form-group" *ngIf = "enrolledCourseCount == 0">
                            <a href="javascript:void(0);"  class="btn btn-m-0" data-toggle="modal"
                                data-target="#liveclassModal" (click)="liveclassModal.show()" >
                                Add Live Classes
                            </a>
                        </div>
                        <table datatable [dtOptions]="dtOptions['assignedClasses']" class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Live Class Title</th>
                                    <th>Time</th>
                                    <th class="text-center no-sort">Status</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="ClassesList?.length <= 0">
							</tbody>
                            <tbody *ngIf="ClassesList?.length > 0">
                                <tr *ngFor="let assignedClass of ClassesList">
                                    <td>{{assignedClass.live_class.start_time| date:'dd-MM-yyyy'}}</td>
                                    <td class="grn-txt-clr font-weight-bold">
                                        <a href="javascript:void(0);"> {{assignedClass.live_class.title}} </a>
                                    </td>
                                    <td>
                                        {{assignedClass.live_class.start_time| date:'HH:mm'}}-{{assignedClass.live_class.start_time | amAdd : assignedClass.live_class.duration : 'minutes' | amDateFormat : 'hh:mm'}} IST({{assignedClass.live_class.duration}} Mins)
                                    </td>
                                    <td class="text-center"><button
                                            class="badge badge-primary badge-space ">Upcoming</button></td>
                                </tr>
                            </tbody>
                        </table>
				  </ng-template>
			</ngb-tab>
	         </ngb-tabset>
	     </div>
	   <!--Modal Start-->
        <!--Add Resource Modal-->
        <div mdbModal #addResourceModal="mdbModal" ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" ngResizable>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> Add Resource </h5>
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="addResourceModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body msg-alert-block text-center">
						<form class="add-resource-modal" role="form" name="addresourceform" (ngSubmit)="rf.valid && addUnitResource(rf) " #rf="ngForm" novalidate>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                <label class="grn-txt-clr mt-2">Resource Name</label>
                                </div>
                                <div class="col-sm-8">
									<input type="text" class="form-control" placeholder="Resource Name" name="add_resourcename" [(ngModel)]="courseChapters.unit.resource.name" #resourcename="ngModel" required/>
									<div *ngIf="rf.submitted && !add_resourcename.valid" class="help-block">
										<div *ngIf="add_resourcename.errors.required">Resource Name is required.</div>
                  </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                <label class="grn-txt-clr mt-2">Resource Type</label>
                                </div>
                                <div class="col-sm-8">
                                <label>
                                    <select name="time_zone" class="form-control r-width" title="Pass all the tests in this course" [(ngModel)]="courseChapters.unit.resource.resource_type" (ngModelChange)="selectResource()"  name="resourceType">
                                        <option value="">Select Resource Type</option>
                                        <option value="content">Content</option>
                                        <option value="embedded">Embedded Content</option>
<!--
                                        <option value="Quiz">Add Quiz</option>
-->
                                        <option value="classes">Live Classes</option>
<!--
                                        <option value="Assignments">Add Assignments</option>
-->
                                    </select>
                                </label>
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="selectedFile.id">
                                <div class="col-sm-4">
                                <label class="grn-txt-clr mt-2">Selected File</label>
                                </div>
                                <div class="col-sm-4">
									<p class="mt-2" >{{selectedFile.name}}</p>
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="selectedClass.id">
                                <div class="col-sm-4">
                                <label class="grn-txt-clr mt-2">Selected Class</label>
                                </div>
                                <div class="col-sm-4">
									<p class="mt-2" >{{selectedClass.title}}</p>
                                </div>
                            </div>
                            <div class="alert alert-success" *ngIf="courseChapters.unit.resource.message && courseChapters.unit.resource.message.length">{{courseChapters.unit.resource.message}}</div>
                            <div class="text-right " *ngIf="courseChapters.unit.resource.message == ''">
                                <button type="button" class="btn btn-no" (click)="addResourceModal.hide()">Cancel</button>
                                <button type="submit" class="btn drkgrn-bckgrd-clr">Select </button>
                            </div>
                        </form>
                   </div>
                </div>
            </div>
        </div>
        <!--Edit Resource Modal-->
        <div mdbModal #editResourceModal="mdbModal" ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> Edit Resource </h5>
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="editResourceModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body msg-alert-block text-center">
            <form class="add-resource-modal" role="form" name="editresourceform" (ngSubmit)="erf.form.valid &&  editUnitResource(erf)" #erf="ngForm" novalidate>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                <label class="grn-txt-clr mt-2">Resource Name</label>
                                </div>
                                <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Resource Name" name="resourcename" [(ngModel)]="resource.name" #resourcename="ngModel" required/>
                  <div *ngIf="erf.submitted && !resourcename.valid" class="help-block">
                    <div *ngIf="resourcename.errors.required">Resource Name is required.</div>
                  
                  </div>
                                </div>
                            </div>
                            <div class="alert alert-success" *ngIf="resource.message && resource.message.length">{{resource.message}}</div>
                            <div class="text-right ">
                                <button type="button" class="btn btn-no" (click)="editResourceModal.hide()">Cancel</button>
                                <button type="submit" class="btn drkgrn-bckgrd-clr">Select </button>
                            </div>
                        </form>
                   </div>
                </div>
            </div>
        </div>

        <!--Add Unit Name Modal-->
        <div mdbModal #addUnitModal="mdbModal"  ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" (close)="resetChapter()">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addUnitModalLabel"> Add Unit for {{courseChapters.name}} </h5>
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="addUnitModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body msg-alert-block text-center">
						<form class="add-unit-modal" role="form" name="addunitform" (ngSubmit)="uf.form.valid &&  addChapterUnit(uf)" #uf="ngForm" novalidate>
							<div class="form-group row">
								<div class="col-sm-4">
									<label class="grn-txt-clr mt-2">Unit Name</label>
								</div>
								<div class="col-sm-8">
									<input type="text" class="form-control" placeholder="Unit Name" name="unitname" [(ngModel)]="courseChapters.unit.name" #unitname="ngModel" required/>
									<div *ngIf="uf.submitted && !unitname.valid" class="help-block">
										<div *ngIf="unitname.errors.required">Unit Name is required.</div>
									
									</div>
								</div>
							</div>
							<div class="alert alert-success" *ngIf="courseChapters.unit.message && courseChapters.unit.message.length">{{courseChapters.unit.message}}</div>
							<div class="text-right " *ngIf="courseChapters.unit.message == ''">
								<button type="button" class="btn btn-no" (click)="addUnitModal.hide()">Cancel</button>
								<button type="submit" class="btn drkgrn-bckgrd-clr">Save Unit </button>
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Chapter Details Modal-->
        <div mdbModal #saveChapter="mdbModal" ngDraggable  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" (close)="resetChapter()">
			
            <div class="modal-dialog" role="document" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> Chapter Details </h5>
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="saveChapter.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body msg-alert-block ">
						<form class="add-chapter-modal" role="form" name="addchapterform" (ngSubmit)="f.form.valid &&  addCourseChapter(f)" #f="ngForm" novalidate>
							<div class="form-group row">
								<div class="col-sm-4 pr-0">
									<label class="grn-txt-clr mt-2">Chapter Name</label>
								</div>
								<div class="col-sm-8 pl-0">
									<input type="text" class="form-control" placeholder="Chapter Name" name="chaptername" [(ngModel)]="courseChapters.name" #chaptername="ngModel" required/>
									<div *ngIf="f.submitted && !chaptername.valid" class="help-block">
										<div *ngIf="chaptername.errors.required">Chapter Name is required.</div>
									
									</div>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-4 pr-0">
									<label class="grn-txt-clr mt-2">Chapter Description</label>
								</div>
								<div class="col-sm-8 pl-0">

									<textarea class="c-desc w-100" placeholder="Chapter Description" name="description" [(ngModel)]="courseChapters.description"></textarea>
								</div>
							</div>
							<div class="alert alert-success" *ngIf="courseChapters.message && courseChapters.message.length">{{courseChapters.message}}</div>
							<div class="text-right" *ngIf="courseChapters.message == ''">
								<button type="button" class="btn btn-no" (click)="saveChapter.hide()">Cancel</button>
								<button type="submit" class="btn drkgrn-bckgrd-clr">Save Chapter</button>
							</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Delete Chapter Modal-->
        <div mdbModal #deleteChapter="mdbModal" ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" (close)="resetChapter()">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> DELETE CHAPTER </h5>
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="deleteChapter.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body msg-alert-block ">
                        <div class="form-group" *ngIf="!courseChapters.message || courseChapters.message.length == 0">
                            <p class="m-0"><span class="modal-txt-grey">Are you sure want to delete </span><span class="dark-grn-txt-clr font-weight-bold">{{courseChapters.name}}?</span></p>
                        </div>
                        <div class="alert alert-success" *ngIf="courseChapters.message && courseChapters.message.length">{{courseChapters.message}}</div>

                        <div class="text-right " *ngIf="courseChapters.message==''">
                            <button type="button" class="btn btn-no" (click)="deleteChapter.hide()">Cancel</button>
                            <button type="submit" class="btn drkgrn-bckgrd-clr" (click)='removeChapter()' > Delete </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Delete Content Modal-->

        <div mdbModal #deleteResourceModal="mdbModal" ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" (close)="resetChapter()">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteResourceModalLabel"> DELETE CONTENT </h5>
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="deleteResourceModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body msg-alert-block ">
                        <div class="form-group" >
                            <p class="m-0"><span class="modal-txt-grey">Are you sure want to delete </span><span class="dark-grn-txt-clr font-weight-bold">{{courseChapters.unit.resource.name}}?</span></p>
                        </div>
						 <div class="alert alert-success" *ngIf="courseChapters.unit.resource.message && courseChapters.unit.resource.message.length">{{courseChapters.unit.resource.message}}</div>
                        <div class="text-right " *ngIf="courseChapters.unit.resource.message == ''">
                            <button type="button" class="btn btn-no" (click)="deleteResourceModal.hide()">Cancel</button>
                            <button type="submit" class="btn drkgrn-bckgrd-clr" (click)="removeResource()"> Delete </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete Unit Modal-->
        <div mdbModal #deleteUnitModal="mdbModal"  ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  (close)="resetChapter()">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteUnitModalLabel"> DELETE UNIT </h5>
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="deleteUnitModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body msg-alert-block ">
                        <div class="form-group" *ngIf="!courseChapters.unit.message || courseChapters.unit.message.length == 0" >
                            <p class="m-0"><span class="modal-txt-grey">Are you sure want to delete </span><span class="dark-grn-txt-clr font-weight-bold">{{courseChapters.unit.name}}?</span></p>
                        </div> 
                        <div class="alert alert-success" *ngIf="courseChapters.unit.message && courseChapters.unit.message.length">{{courseChapters.unit.message}}</div>
                        <div class="text-right " *ngIf="courseChapters.unit.message ==''">
                            <button type="button" class="btn btn-no" (click)="deleteUnitModal.hide()">Cancel</button>
                            <button type="submit" class="btn drkgrn-bckgrd-clr" (click)='removeUnit()'> Delete </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Unit Completion Rule Modal-->
       <div mdbModal #exampleModal8="mdbModal" ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> UNIT COMPLETION RULE </h5>
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="exampleModal8.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body msg-alert-block ">
                        <div class="form-group">
                            <div class="p-2">
                                <label class="m-0">
                                    <input type="radio" name="c1"> <span class="ml-2">Marked as learned Checkbox </span> </label>
                            </div>

                            <div class="p-2">
                                <label class="d-inline-flex align-items-center m-0">
                                    <input type="radio" name="c1">
                                    <label class="ml-2">
                                        <select name="time_zone" class="form-control mt-2" title="Pass all the tests in this course">
                                            <option value="1">Pass Selected tests in this course</option>
                                            <option value="2">Pass all the tests in this course</option>
                                        </select>
                                    </label>
                                </label>
                            </div>

                        </div>

                        <div class="text-right ">
                            <button type="button" class="btn btn-no " (click)="exampleModal8.hide()">Cancel</button>
                            <button type="submit" class="btn drkgrn-bckgrd-clr">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Unit Completion Rule Modal-->

        <!-- Test Modal Start -->
          <div mdbModal #testModal="mdbModal" ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Test</h5>
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="testModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body table-in">
                        <table id="testcontent" class="table table-bordered table-striped default_data_table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Quiz ID/Name</th>
                                    <th class="text-center no-sort">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="grn-txt-clr">CE101 - App Development with Java</td>
                                    <td class="text-center">
                                        <input type="checkbox"> </td>
                                </tr>
                                <tr>
                                    <td class="grn-txt-clr">CE101 - App Development with Java</td>
                                    <td class="text-center">
                                        <input type="checkbox"> </td>
                                </tr>
                                <tr>
                                    <td class="grn-txt-clr">CE101 - App Development with Java</td>
                                    <td class="text-center">
                                        <input type="checkbox"> </td>
                                </tr>
                                <tr>
                                    <td class="grn-txt-clr">CE101 - App Development with Java</td>
                                    <td class="text-center">
                                        <input type="checkbox"> </td>
                                </tr>
                                <tr>
                                    <td class="grn-txt-clr">CE101 - App Development with Java</td>
                                    <td class="text-center">
                                        <input type="checkbox"> </td>
                                </tr>
                                <tr>
                                    <td class="grn-txt-clr">CE101 - App Development with Java</td>
                                    <td class="text-center">
                                        <input type="checkbox"> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn drkgrn-bckgrd-clr">Select</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Test Modal Start -->

        <!--Assignment Modal Start -->
		<div mdbModal #assignmentModal="mdbModal" ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel3"> Add Assignment </h5>
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="assignmentModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body table-in">
                        <table id="assignmentcontent" class="table table-bordered table-striped default_data_table" style="width:100%">
                            <thead>
                                <tr>
                                    <th> Assignment Topic</th>
                                    <th class="text-center no-sort">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="grn-txt-clr"> Rules of Mughal Emperors in India </td>
                                    <td class="text-center">
                                        <input type="checkbox"> </td>
                                </tr>
                                <tr>
                                    <td class="grn-txt-clr"> India war of Independence </td>
                                    <td class="text-center">
                                        <input type="checkbox"> </td>
                                </tr>
                                <tr>
                                    <td class="grn-txt-clr">Politics of Modern India</td>
                                    <td class="text-center">
                                        <input type="checkbox"> </td>
                                </tr>
                                <tr>
                                    <td class="grn-txt-clr"> Rules of Mughal Emperors in India </td>
                                    <td class="text-center">
                                        <input type="checkbox"> </td>
                                </tr>
                                <tr>
                                    <td class="grn-txt-clr"> India war of Independence </td>
                                    <td class="text-center">
                                        <input type="checkbox"> </td>
                                </tr>
                                <tr>
                                    <td class="grn-txt-clr">Politics of Modern India</td>
                                    <td class="text-center">
                                        <input type="checkbox"> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn drkgrn-bckgrd-clr">Select</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Assignment Modal End -->

        <!--Live Class Modal Start -->
       
		<div mdbModal #liveclassModal="mdbModal"  ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" ngResizable>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel3"> Add Live Class </h5>
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="liveclassModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body table-in">
						<table datatable [dtOptions]="dtOptions['classes']"  class="table table-bordered table-striped default_data_table" style="width:100%">
						<thead>
							<tr>
								<th> Class Title </th>
								<th> Teacher </th>
								<th class="text-center no-sort">Options</th>
							</tr>
						</thead>
						<tbody *ngIf="classes?.length <= 0">
						</tbody>
						<tbody *ngIf="classes?.length > 0">
							<tr *ngFor="let class of classes">
								<td class="grn-txt-clr"> {{class.title |titlecase}}</td>
								<td class="grn-txt-clr"> {{class.teacher.firstname  +' '+ class.teacher.lastname |titlecase}}</td>
								<td class="text-center"> <input type="checkbox" [(ngModel)]="selectedClasses[class.id]"> </td>
							</tr>
					   </tbody>
					  </table>
<!--
					  <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}" *ngIf="operation.lifecycle=='stopped'"><p>{{operation.message}}</p></div>
-->
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-primary" (click)="assignClassesToCourse()">Add</button>
					</div>
                </div>
            </div>
        </div>
        <!-- Live Class Modal End -->
		<!-- Content Modal Start -->
			<div  mdbModal #contentModal="mdbModal" ngDraggable class="modal fade resizable_modal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog" role="document">
				  <div class="modal-content" ngResizable>
					<div class="modal-header">
					  <h5 class="modal-title" id="contentModalLabel">
							Choose from content library	
					  </h5>
						<button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="contentModal.hide()">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body table-in">
						<table id="manage-files" datatable [dtOptions]="dtOptions['files']" #fileTable class="border-0 table table-striped table-bordered table-sm">
							<thead>
							  <tr>
								<th>Name</th>
								<th>Type</th>
								<th class="no-sort">Select</th>
							  </tr>
							</thead>
							<tbody *ngIf="fileList?.length == 0">
							  <tr>
								<td colspan="3">No records found</td>
							  </tr>
							</tbody>
							<tbody *ngIf="fileList?.length > 0">
							  <tr *ngFor="let file of fileList;">
								<td>
								  <span *ngIf="file.type==isFolder"><i class="fa fa-folder"> </i><a href="javascript:void(0)" class="text-dark" (click)="traverseTo(file.id)">&nbsp;{{file.name}}</a></span>
								  <span *ngIf="file.type==isFile" class="inline-edit-box">{{file.name}}</span>
								</td>
								<td><a href="javascript:void(0);" *ngIf="file.type==isFile">.{{file.content_type}}</a></td>
								<td><input *ngIf="file.type==isFile" type="radio"  name="contentfile" [value]="file" [(ngModel)]="selectedFile" /></td>
							  </tr>
							</tbody>
					    </table>
					</div>
					<div class="modal-footer">
					 
					  <div class="text-right col-lg-12 p-0">
						<button type="button" class="btn btn-primary btn-sm float-left" *ngIf="folderList.length" (click)="goBack()">Previous Folder</button> 
						<button type="button" class="btn btn-primary btn-sm" (click)="selectContent()">Choose File</button>
					  </div>
					</div>
				  </div>
				</div>
			</div>
		<!-- Content Modal End -->
		
		<!-- Embeded Content Modal Start -->
			<div  ngDraggable mdbModal #embeddedContentModal="mdbModal" class="modal fade resizable_modal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog" role="document">
				  <div class="modal-content" ngResizable>
					<div class="modal-header">
					  <h5 class="modal-title" id="embeddedContentModalLabel">
							Choose from Embedded content library
					  </h5>
						<button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="embeddedContentModal.hide()">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body table-in">
						<table datatable [dtOptions]="dtOptions['embedded_content']" #embedTable class="table table-striped table-bordered table-sm modalmanage-table">
							<thead>
							  <tr>
								<th>Title Name</th>
								<th class="text-center">Type</th>
								<th class="no-sort">Select</th>
							  </tr>
							</thead>
							<tbody *ngIf="embedList?.length <= 0">
							  <tr>
								<td>No embed content</td>
							  </tr>
							</tbody>
							<tbody *ngIf="embedList?.length > 0">
							  <tr *ngFor="let file of embedList;">
								<td>
								  <span class="grn-txt-clr">{{file.name}} </span>
								</td>
								<td class="text-center">
								  <i class="fa fa-vimeo" *ngIf="file.content_type=='vimeo'"></i>
								  <i class="fa fa-youtube" *ngIf="file.content_type=='youtube'"></i>
								</td>
								<td><input type="radio"  name="embededfile" [value]="file" [(ngModel)]="selectedFile" /></td>
							  </tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
					 
					  <div class="text-right col-lg-8 p-0">
						 
						<button type="button" class="btn btn-primary btn-sm" (click)="selectContent()">Choose File</button>
					  </div>
					</div>
				  </div>
			</div>
			</div>
		<!-- Embeded Content Modal End -->
		<!--Curriculum Live Class Modal Start -->
       
		<div mdbModal #curriculamclassModal="mdbModal"  ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" ngResizable>
                    <div class="modal-header">
                        <h5 class="modal-title" > Add Live Class </h5>
                        <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="curriculamclassModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body table-in">
						<table datatable [dtOptions]="dtOptions['classes']"  class="table table-bordered table-striped default_data_table" style="width:100%">
						<thead>
							<tr>
								<th> Class Title </th>
								<th> Teacher </th>
								<th class="text-center no-sort">Options</th>
							</tr>
						</thead>
						<tbody *ngIf="classes?.length <= 0">
						</tbody>
						<tbody *ngIf="classes?.length > 0">
							<tr *ngFor="let class of classes">
								<td class="grn-txt-clr"> {{class.title |titlecase}}</td>
								<td class="grn-txt-clr"> {{class.teacher.firstname  +' '+ class.teacher.lastname |titlecase}}</td>
								<td><input type="radio"  name="liveClass" [value]="class" [(ngModel)]="selectedClass" /></td>
							</tr>
					   </tbody>
					  </table>
<!--
					  <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}" *ngIf="operation.lifecycle=='stopped'"><p>{{operation.message}}</p></div>
-->
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-primary" (click)="selectClass()">Select</button>
					</div>
                </div>
            </div>
        </div>
        <!-- Curriculum Live Class Modal End -->
        <!--Modal End-->
        <div class="clearfix"> </div>
    
            </div>
