<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 p-0">
			<div class="playmode-header">
				<div class="playmode-header-block text-center">
					<h3>{{currentResourceIndex}}/{{totalResources}}</h3>
				</div>
				<div class="playmode-header-block playmode-header-title">
					<a *ngIf="prevResourceId > 0" routerLink="/play-mode/{{prevResourceId}}"><i class="fa fa-arrow-left ml-3"></i></a>
					<h3 class="ml-4">{{resource.name}}</h3>
					<a *ngIf="nextResourceId > 0" class="float-right mr-3 mt-1"  routerLink="/play-mode/{{nextResourceId}}"><i class="fa fa-arrow-right "></i> </a>
				</div>
				<div class="playmode-header-block chapter-header">
					<h3>Chapter {{currentChapterIndex}} - Unit {{currentUnitIndex}}</h3>
					<span class="playmode-header-action float-right mr-3">
						<a href="javascript:void(0);"   data-toggle="collapse" (click)="showChapterContainer=!showChapterContainer">  <i class="fa fa-list"></i></a>
						<a routerLink="/course_detail/{{resource.course_id}}">  <i class="fa fa-sign-out"></i></a>
					</span>
				</div>
			</div>
			<div class="playmode-body">
				<div class="playmode-subheader row mt-3">
					<div class="col-lg-6">
						<p>
							<i class="fa fa-television p-1" aria-hidden="true" *ngIf="resource.resource_type == 'classes'"></i>
							<i class="fa fa-youtube p-1" aria-hidden="true" *ngIf="resource.resource_type == 'embedded'  && resource.file.content_type == 'youtube'"></i>
							<i class="fa fa-file-pdf-o p-1" aria-hidden="true" *ngIf="resource.resource_type == 'content'&& resource.file.content_type == 'pdf'"></i>
							<i class="fa fa-file-o p-1" aria-hidden="true" *ngIf="resource.resource_type == 'content' && resource.file.content_type != 'pdf'"></i>
							<i class="fa fa-question-circle-o p-1" aria-hidden="true" *ngIf="resource.resource_type == 'quiz'"></i>
							<i class="fa fa-file-o p-1" aria-hidden="true" *ngIf="resource.resource_type == 'assignment'"></i>
							{{resource.name}}
						</p>
					</div>
					<div class="col-lg-6 text-right">
						<p> <label *ngIf="enrolledCourseCount != 0"><input type="checkbox" [checked]="completedCourses.indexOf(resource.id) !=-1" (change) = "completedResource(resource.id,$event)" > Mark as Learned</label>   </p>
					</div>
				</div>  
				<div class="card playmode-main-container">
					<div class="card-body cv-embedded-body">
						<iframe *ngIf="resource.resource_type=='embedded'|| resource.resource_type=='content'" width="100%" height="600" [src]="resource.file.filename" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
						</iframe>
						<div class="alert alert-danger" *ngIf="resource.resource_type=='classes' && !resource.live_class.is_live">
							<p>LiveClass `{{resource.live_class.title}}` isn't live {{isPassed(resource.live_class.start_time) ? 'anymore' : 'yet'}}, It {{isPassed(resource.live_class.start_time) ? 'was' : 'is'}} scheduled for {{resource.live_class.start_time| date: 'medium'}}</p>
						</div>
						<div class="alert alert-success" *ngIf="resource.resource_type=='classes' && resource.live_class.is_live">
							LiveClass `{{resource.live_class.title}}` is live. <a class="btn" href="{{'/classroom/?discussion_id='+resource.live_class.id+'&token='+token}}">Join Now</a>
						</div>
					</div>  
				</div>
			</div>
			<div class="clearfix"></div>
			<div id="chaplist-container" [ngClass]="{'d-none': !showChapterContainer}" style="width: 350px;">
				<div id="accordion">
					<div class="card mb-1" *ngFor='let chapter of course.chapters; let i = index;'>
						<div class="card-header card-header-cm pr-0 d-flex justify-content-between">
							<a role="button" (click)="isCollapsed['chapter'+chapter.id] = !isCollapsed['chapter'+chapter.id]"  [attr.aria-expanded]="!isCollapsed['chapter'+chapter.id]" aria-controls="collapseExample">
								<h6 class="chap-txt text-decoration-none">   <i class="plus-minus-toggle fa fa-minus " [ngClass]="{'fa-plus': isCollapsed['chapter'+chapter.id], 'fa-minus': !isCollapsed['chapter'+chapter.id]  }"></i> Chapter{{i+1}} : <span class="chap-title"> {{chapter.name}} </span> </h6>
							</a>
						</div>
						<div class="collapse show" [ngbCollapse]="isCollapsed['chapter'+chapter.id]"aria-labelledby="heading-1">
							<div class="card-body card-transparent ">
								<ul class="chapter-unit-list" *ngFor='let unit of chapter.units; let i = index;' >
									<li class="unit-list-heading p-2"  >
										<a  role="button" (click)="isCollapsed['unit'+unit.id] = !isCollapsed['unit'+unit.id]"  [attr.aria-expanded]="!isCollapsed['unit'+unit.id]" aria-controls="collapseExample">
											<p class="m-0"> <i class="plus-minus-toggle fa fa-plus c-pointera" [ngClass]="{'fa-plus': isCollapsed['unit'+unit.id], 'fa-minus': !isCollapsed['unit'+unit.id]  }"></i> Unit {{i+1}} : <span class="dark-grn-txt-clr font-weight-bold">{{unit.name}}</span></p>
										</a>
									</li>
									<div class="collapse show" [ngbCollapse]="isCollapsed['unit'+unit.id]">
										<li *ngFor='let resource of unit.resources; let i = index;' [ngClass]="{'complete-course-bg': completedCourses.indexOf(resource.id) != -1}">
											<div class="d-flex">
												<div class="sd-uncheck-row">
												</div>
												<div class="p-2"> 
													<a routerLink="/play-mode/{{resource.id}}" >
														<i class="fa fa-television p-1" aria-hidden="true" *ngIf="resource.resource_type == 'classes'"></i>
														<i class="fa fa-youtube p-1" aria-hidden="true" *ngIf="resource.resource_type == 'embedded' && resource.file.content_type == 'youtube'"></i>
														<i class="fa fa-file-pdf-o p-1" aria-hidden="true" *ngIf="resource.resource_type == 'content' && resource.file.content_type == 'pdf'"></i>
														<i class="fa fa-file-o p-1" aria-hidden="true" *ngIf="resource.resource_type == 'content' && resource.file.content_type != 'pdf'"></i>
														<i class="fa fa-question-circle-o p-1" aria-hidden="true" *ngIf="resource.resource_type == 'quiz'"></i>
														<i class="fa fa-file-o p-1" aria-hidden="true" *ngIf="resource.resource_type == 'assignment'"></i>
														<span class="grn-txt-clr">{{resource.name}}</span> 
													</a> 
												</div>
											</div>
										</li>
								   </div>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
