<div class="container-fluid">
	<div class="user-details-tab-head">
		<div class="py-2 px-2">
			<div class="row">
				<div class="col-md-6">
					<h5 class="m-0 p-0 font-weight-bold"> <i class="fa fa-book" aria-hidden="true"></i> Course </h5>
				</div>
			</div>
		</div>
	</div>
	<div class="user-details-body p-2">
		<div class="row">
			<div class="col-sm-12">
				<p class="dark-grn-txt-clr font-weight-bold mngacrse">Manage all the course in offerings</p>
				<p class="dark-grn-txt-clr viewcrse"><a routerLink="/course_catalogue">View course catalogue</a></p>
				<table datatable [dtOptions]="dtOptions" id="course-manage" class="table table-striped table-bordered table-sm ">
					<thead>
						<tr>
							<th class="no-sort" *ngIf = "currentUser.user_type == 'admin' || currentUser.user_type == 'superadmin' "></th>
							<th class="no-sort">ID</th>
							<th class="no-sort">Course Name</th>
							<th class="no-sort">Teachers</th>
<!--
							<th class="no-sort" *ngIf = "currentUser.user_type == 'admin' ">Type</th>
-->
							<th class="no-sort">Options</th>
							<th class="no-sort"  *ngIf = "currentUser.user_type == 'admin' || currentUser.user_type == 'superadmin' || currentUser.user_type == 'teacher'">Status</th>

						</tr>
					</thead>
					<tbody *ngIf="MyCourseList?.length == 0">
						<tr>
							<td colspan="6"  *ngIf = "currentUser.user_type == 'admin' || currentUser.user_type == 'superadmin'">No records found</td>
              <td colspan="5" *ngIf = "currentUser.user_type != 'admin' && currentUser.user_type != 'superadmin'">No records found</td>
						</tr>
					</tbody>
					<tbody *ngIf="MyCourseList?.length > 0">
						<tr *ngFor="let course of MyCourseList; let in = index;">
							<td *ngIf = "currentUser.user_type == 'admin' || currentUser.user_type == 'superadmin' ">
								<input type="checkbox" class="files_list_checkbox" [(ngModel)]="selectedCourse[course.id]" />
							</td>
							<td>
								<p class="grn-txt-clr mb-0"><a [routerLink]="['/course_detail', course.id]" >{{course.course_uid}}</a></p>
							</td>
							<td>
								<p class="grn-txt-clr mb-0"><a routerLink="/course_detail/{{course.id}}">{{course.course_title}}</a></p>
							</td>
							<td *ngIf = "course.assigned_teacher != ''" >
								<p class="grn-txt-clr mb-0">{{course.assigned_teacher}}</p>
							</td>
							<td *ngIf = "course.assigned_teacher == ''" >
								<p class="grn-txt-clr mb-0">N/A</p>
							</td>
<!--
							<td *ngIf = "currentUser.user_type == 'admin' ">
								<p class="mb-0">Paid</p>
							</td>
-->
							<td class="check-with-icon">
								<a href="javascript:void(0);" class="edit-btn" title="Clone" *ngIf = "currentUser.user_type == 'admin' || currentUser.user_type == 'superadmin'" (click)="showCloneCoursePopup(course.id)">
                	<i class="fa fa-clipboard" aria-hidden="true"></i>
								</a>
								<a href="javascript:void(0);" class="edit-btn" *ngIf = "currentUser.user_type != 'student' && course.is_active!=2" (click)="showEditCoursePopup(course.id)"  title="Edit">
									<i class="fa fa-pencil" aria-hidden="true"></i>
								</a>
								<a href="javascript:void(0);" class="edit-btn text-muted" *ngIf = "currentUser.user_type != 'student' && course.is_active==2">
									<i class="fa fa-pencil" aria-hidden="true"></i>
								</a>
							</td>
						
							<td *ngIf = "currentUser.user_type == 'admin' || currentUser.user_type == 'superadmin' || currentUser.user_type == 'teacher'"> 
								<div class="d-flex" *ngIf="course.is_active==1">
									<i class="fa fa-check course-manage-circle" aria-hidden="true"></i>
									<p class="ml-2 mb-0">Institute Catelogue</p>
								</div>
								<div class="d-flex" *ngIf="!course.is_active">
									<i class="fa fa-spinner text-danger" aria-hidden="true"></i>
									<p class="ml-2 mb-0 text-danger">Draft</p>
								</div>
								<div class="d-flex" *ngIf="course.is_active==2">
									<i class="fa fa-times course-manage-circle" aria-hidden="true"></i>
									<p class="ml-2 mb-0 ">Expired</p>
								</div>
							</td>

						</tr>


					</tbody>
					<!-- <tfoot class="action-tfoot">
				
						<tr>
              <th colspan="4" *ngIf = "currentUser.user_type != 'admin' && currentUser.user_type != 'superadmin'" ></th>
              <!-- <th *ngIf = "currentUser.user_type == 'teacher'" ></th> -->
							<!-- <th colspan="6" *ngIf = "currentUser.user_type == 'admin' || currentUser.user_type == 'superadmin'">
								<label class="ml-1 mt-2">
									<input type="checkbox" class="select_all" (change)="selectAllCourse($event)" /> Select All</label>
								<a href="javascript:void(0);" *ngIf="anySelected()" class="btn selected_toggle" (click)="deleteCourseModal.show()">Delete Selected</a>
							</th>
						</tr> -->
					<!--</tfoot> -->
				</table>
			</div>
		</div>
	</div>
</div>



	<div mdbModal #editCourseModal="mdbModal" ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">
			  Course Options
			</h5>
			<button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="editCourseModal.hide()">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<form name="form" role="form" class="form-horizontal register" (ngSubmit)="f.form.valid && editCourse(f.value)" #f="ngForm" novalidate>
			<div class="row">
			 <div class="col-md-6">
				<div class="form-check">
					  <label class="form-check-label">
						<input type="radio" class="form-check-input" value="learner_preview"  name='edit_course' ngModel>Preview as Learner
					  </label>
					</div>
					<div class="form-check">
					  <label class="form-check-label">
						<input type="radio" class="form-check-input" value="teacher_preview" name='edit_course' ngModel>Preview as Teacher
					  </label>
					</div>
					<div class="form-check" *ngIf = "currentUser.user_type == 'admin' || currentUser.user_type == 'superadmin'">
					  <label class="form-check-label">
						<input type="radio" class="form-check-input" value="course_edit" name='edit_course' ngModel>Edit Course
					  </label>
				</div>
			</div>
		  <div class="col-md-6">
				<div class="form-check">
				  <label class="form-check-label">
					<input type="radio" class="form-check-input" value="course_material" name='edit_course' ngModel>Add/Edit Course Materials
				  </label>
				</div>
				<div class="form-check" *ngIf = "currentUser.user_type == 'admin' || currentUser.user_type == 'superadmin' || currentUser.user_type == 'teacher'">
				  <label class="form-check-label">
					<input type="radio" class="form-check-input" value="course_publish" name='edit_course' ngModel>Publish
				  </label>
				</div>
				<div class="form-check" *ngIf = "currentUser.user_type == 'admin' || currentUser.user_type == 'superadmin' ">
				  <label class="form-check-label">
					<input type="radio" class="form-check-input" value="course_end" name='edit_course' ngModel>End Course
				  </label>
				</div>
        <div class="form-check" *ngIf = "currentUser.user_type != 'admin' && currentUser.user_type != 'superadmin' ">
          <label class="form-check-label">
          <input type="radio" class="form-check-input" value="course_edit" name='edit_course' ngModel>Edit Course
          </label>
        </div>
			</div>
			</div>
			<div class="row">
			 <div class="col-md-12">
			 <div class="float-right">
			  <button type="button" class="btn btn-no btn-sm" (click)="editCourseModal.hide()">Cancel</button>
			  <button type="submit" class="btn btn-primary btn-sm" >Submit</button>
			  </div>
			</div>
			</div>
		  </form>
		  </div>
		</div>
	  </div>
	</div>
    <div mdbModal ngDraggable #deleteCourseModal="mdbModal" ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Delete Course
            </h5>
            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="deleteCourseModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body msg-alert-block text-center">
                <p> Are you sure you want to delete the selected course</p>
                	<a href="javascript:void(0);" class="btn btn-no" data-dismiss="modal" aria-label="Close" (click)="deleteCourseModal.hide()"> No </a> <a  class="btn" (click)='removeSelectedCourses()'> Yes </a>
              </div>
        </div>
      </div>
    </div>
    
    <div mdbModal ngDraggable #courseCloneModal="mdbModal" ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Clone Course
            </h5>
            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="courseCloneModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body msg-alert-block text-center">
                <p> Are you sure you want to clone the course?</p>
                	<a href="javascript:void(0);" class="btn btn-no" data-dismiss="modal" aria-label="Close" (click)="courseCloneModal.hide()"> No </a> <a  class="btn" (click)='courseClone()'> Yes </a>
              </div>
        </div>
      </div>
    </div>
    
    <div mdbModal ngDraggable #publishCourseModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
               Publish In Catalogue
            </h5>
            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="publishCourseModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body msg-alert-block text-center">
                <p> Want to publish course in catalogue?</p>
                	<a href="javascript:void(0);" class="btn btn-no" data-dismiss="modal" aria-label="Close" (click)="publishCourseModal.hide()"> Cancel </a> <a  class="btn" (click)="coursePublish(courseId)"> Publish Course </a>
              </div>
        </div>
      </div>
    </div>
    
    <div mdbModal ngDraggable #endCourseModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
               End Course
            </h5>
            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="endCourseModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body msg-alert-block text-center">
                <p> Are you sure you want to end the selected course(s)?</p>
                	<a href="javascript:void(0);" class="btn btn-no" data-dismiss="modal" aria-label="Close" (click)="endCourseModal.hide()"> Cancel </a> <a  class="btn" (click)="endCourse(courseId)"> End Course </a>
              </div>
        </div>
      </div>
    </div>
