<div class="container-fluid">
	<div class="user-details-tab-head">
		<div class="py-2 px-2">
			<div class="row">
				<div class="col-md-6">
					<h5 class="m-0 p-0 font-weight-bold"> <i class="fa fa-book" aria-hidden="true"></i> Course </h5>
				</div>
			</div>
		</div>
	</div>
	<div class="user-details-body p-2">
		<div class="row">
			<div class="col-sm-12">
				<p class="dark-grn-txt-clr font-weight-bold mngacrse">My Courses</p>
				<p class="dark-grn-txt-clr viewcrse"><a routerLink="/course_catalogue">View course catalogue</a></p>
				<table datatable [dtOptions]="dtOptions['courseEnroll']" id="course-manage" class="table table-striped table-bordered table-sm ">
					<thead>
						<tr>
							<th class="no-sort">Course ID</th>
							<th class="no-sort">Course Name</th>
							<th class="no-sort">Instructors</th>
							<th class="no-sort">End Date</th>
							<th class="no-sort">Status</th>

						</tr>
					</thead>
					<tbody *ngIf="enrolledCoursesList?.length == 0">
						<tr>
						<td colspan="5" *ngIf = "currentUser.user_type != 'admin' && currentUser.user_type != 'superadmin'">No records found</td>
						</tr>
					</tbody>
					<tbody *ngIf="enrolledCoursesList?.length > 0">
						<tr *ngFor="let course of enrolledCoursesList; let in = index;">
							<td>
								<p class="grn-txt-clr mb-0"><a [routerLink]="['/course_detail', course.id]" >{{course.course_uid}}</a></p>
							</td>
							<td>
								<p class="grn-txt-clr mb-0"><a routerLink="/course_detail/{{course.id}}">{{course.course_title}}</a></p>
							</td>
							<td *ngIf = "course.assigned_teacher != ''" >
								<p class="grn-txt-clr mb-0">{{course.assigned_teacher}}</p>
							</td>
							<td *ngIf = "course.assigned_teacher == ''" >
								<p class="grn-txt-clr mb-0">N/A</p>
							</td>
<!--
							<td *ngIf = "currentUser.user_type == 'admin' ">
								<p class="mb-0">Paid</p>
							</td>
-->
							<td *ngIf = "course.end_date">
								<p class="grn-txt-clr mb-0">{{course.end_date}}</p>
							</td>
							<td *ngIf = "!course.end_date" >
								<p class="grn-txt-clr mb-0">N/A</p>
							</td>
							<td> 
								<!-- <p class="grn-txt-clr mb-0">In Progress</p> -->
								<div class="progress-bar">
									<div class="progress-cover" [style]="getWidthPercent(course.courseCompleted)"></div>
									<div class="progress-percent">
									{{course.courseCompleted | number: '1.0-0'}}%
								  </div>
								</div>
							</td>

						</tr>


					</tbody>
					<tfoot class="action-tfoot">
						<tr>
							<th colspan="5" *ngIf = "currentUser.user_type != 'admin' && currentUser.user_type != 'superadmin'"></th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>



	<div mdbModal #editCourseModal="mdbModal" ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">
			  Course Options
			</h5>
			<button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="editCourseModal.hide()">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<form name="form" role="form" class="form-horizontal register" (ngSubmit)="f.form.valid && editCourse(f.value)" #f="ngForm" novalidate>
			<div class="row">
			 <div class="col-md-6">
				<div class="form-check">
					  <label class="form-check-label">
						<input type="radio" class="form-check-input" value="learner_preview"  name='edit_course' ngModel>Preview as Learner
					  </label>
					</div>
					<div class="form-check">
					  <label class="form-check-label">
						<input type="radio" class="form-check-input" value="teacher_preview" name='edit_course' ngModel>Preview as Teacher
					  </label>
					</div>
					<div class="form-check" *ngIf = "currentUser.user_type == 'admin' || currentUser.user_type == 'superadmin' ">
					  <label class="form-check-label">
						<input type="radio" class="form-check-input" value="course_edit" name='edit_course' ngModel>Edit Course
					  </label>
				</div>
			</div>
		  <div class="col-md-6">
				<div class="form-check">
				  <label class="form-check-label">
					<input type="radio" class="form-check-input" value="course_material" name='edit_course' ngModel>Add/Edit Course Materials
				  </label>
				</div>
				<div class="form-check" *ngIf = "currentUser.user_type == 'admin' || currentUser.user_type == 'superadmin' ">
				  <label class="form-check-label">
					<input type="radio" class="form-check-input" value="course_publish" name='edit_course' ngModel>Publish
				  </label>
				</div>
        <div class="form-check" *ngIf = "currentUser.user_type != 'admin' && currentUser.user_type != 'superadmin' ">
          <label class="form-check-label">
          <input type="radio" class="form-check-input" value="course_edit" name='edit_course' ngModel>Edit Course
          </label>
        </div>
			</div>
			</div>
			<div class="row">
			 <div class="col-md-12">
			 <div class="float-right">
			  <button type="button" class="btn btn-no btn-sm" (click)="editCourseModal.hide()">Cancel</button>
			  <button type="submit" class="btn btn-primary btn-sm" >Submit</button>
			  </div>
			</div>
			</div>
		  </form>
		  </div>
		</div>
	  </div>
	</div>
    <div mdbModal #deleteCourseModal="mdbModal" ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Delete Course
            </h5>
            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="deleteCourseModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body msg-alert-block text-center">
                <p> Are you sure you want to delete the selected course</p>
                	<a href="javascript:void(0);" class="btn btn-no" data-dismiss="modal" aria-label="Close" (click)="deleteCourseModal.hide()"> No </a> <a  class="btn" (click)='removeSelectedCourses()'> Yes </a>
              </div>
        </div>
      </div>
    </div>
    
    <div mdbModal #courseCloneModal="mdbModal" ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Clone Course
            </h5>
            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="courseCloneModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body msg-alert-block text-center">
                <p> Are you sure you want to clone the course?</p>
                	<a href="javascript:void(0);" class="btn btn-no" data-dismiss="modal" aria-label="Close" (click)="courseCloneModal.hide()"> No </a> <a  class="btn" (click)='courseClone()'> Yes </a>
              </div>
        </div>
      </div>
    </div>
    
    <div mdbModal #publishCourseModal="mdbModal" ngDraggable class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
               Publish In Catalogue
            </h5>
            <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="publishCourseModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body msg-alert-block text-center">
                <p> Want to publish course in catalogue?</p>
                	<a href="javascript:void(0);" class="btn btn-no" data-dismiss="modal" aria-label="Close" (click)="publishCourseModal.hide()"> Cancel </a> <a  class="btn" (click)="coursePublish(courseId)"> Publish Course </a>
              </div>
        </div>
      </div>
    </div>
