<div class="container-fluid">
  <div class="user-details-tab-head">
      <div class="py-2 px-2">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="m-0 p-0 font-weight-bold"> <i class="fa fa-cogs circle-head-icon" aria-hidden="true"></i>  Coming Soon </h5>
                </div>
            </div>
        </div>                    
    </div>
    <div class="user-details-body">
      <h1 class="my-3"> Coming Soon </h1>
    </div>
</div>