input[disabled], button[disabled] {
    background: transparent!important;
    color: #dcd7d7!important;
    border: 1px solid #dcd7d7!important;
    cursor: not-allowed!important;
    text-shadow: none!important;
    box-shadow: none!important;
    text-decoration: none!important;
    outline: none!important;
  }

.tooltip1 {
  display: inline;
  position: relative;
}
.tooltip1:hover:after{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: #444;
  border-radius: 8px;
  color: #fff;
  content: attr(title);
  margin: 2px auto 0;
  font-size: 16px;
  padding: 13px;
  width: 120px;
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 1000;
}
#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../img/preloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}
.extra-controls {
    position: absolute;
    right: 21%;
}

#btn-comments {
  color: red;
  margin-top: 5px;
  font-size: 24px;
  text-shadow: 1px 1px white;
}

#other-videos {
   margin-top: 0px;
    background: transparent;
    border-top: 0px solid #cacaca;
    display: flex;
    width: 100%;
    overflow-x: auto;
    align-items: center;
    position: absolute;
    justify-content: center;
    bottom: 5px;
}

#other-videos video {
    width: 100%;
    margin: 0px;
    height: 100%;
    border: 1px solid #5f5f5f;
    padding: 0px;
    /* border-radius: 3px; */
    max-width: 100%;
    max-height: 100%;
    background: #717171;
}

#txt-chat-message {
    width: 100%;
    resize: vertical;
    margin: 5px;
    margin-right: 0;
    min-height: 30px;
}

#btn-chat-message {
    margin: 5px;
    color: #f5f5f5;
    font-size: 20px;
}

#conversation-panel {
    margin-bottom: 2px;
    text-align: left;
    max-height: 58vh;
    overflow: auto;
    border-top: 0px solid #E5E5E5;
    width: 100%;
}

#conversation-panel .message {
    border-bottom: 1px solid #5f5f5f;
    padding: 5px 10px;
}

#conversation-panel .message img, #conversation-panel .message video, #conversation-panel .message iframe {
    max-width: 100%;
}

#main-video {
    width: 100%;
    margin-top: 0px;
    border-bottom: 0px solid #121010;
    display: none;
    padding-bottom: 0px;
    height: calc(100vh);
    margin-bottom: -6px;
}

hr {
    height: 1px;
    border: 0;
    background: #E5E5E5;
}

#btn-attach-file {
    width: 25px;
    vertical-align: middle;
    cursor: pointer;
    display: none;
}

#btn-share-screen {
    width: 25px;
    vertical-align: middle;
    cursor: pointer;
    display: none;
}

.checkmark {
    display:none;
    width: 15px;
    vertical-align: middle;
}

#screen-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999999;
    display: none;
}
.witebord{
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 999;
}
#show_div{
    display: none;
}
/*
.setNewChat{
    width: 30%;
    height: 100%;
    position: inherit;
    float: left;
    border-right: 1px solid #cacaca;
}
.setNewChat #conversation-panel {
    max-height: 70vh;
}
.setNewVideo{
   width: 70%;
    height: calc(100% - 43px);
    position: absolute;
    float: left;
    right: 0;

    text-align: center;
}
.videoFullPanel{
    width: 100% !important;
}
.videoFullPanel video{
    width: 100% !important;
    height: calc(100vh - 140px);
    background: #000;
}
.videoFullPanel #other-videos video{
    width: 20% !important;
    height: auto;
    margin-bottom: 40px;
}*/

footer, header, .header-area{
    display: none;
}

.lmumeetingPageArea {
    height: 100vh;
    width: 100%;
}
.lmuMeeting-Toolbar {
    position: fixed;
    bottom: 0px;
    left: 50%;
    z-index: 999;
    padding: 8px;
    background: rgb(213, 213, 213);
    text-align: left;
    border-top: 0px solid #cacaca;
    text-align: center;
}
.lmuMeeting-ToolbarItem {
    display: inline-block;
    border-right: 0px solid #cacaca;
    padding: 0px;
    vertical-align: middle;
}
.lmuMeeting-Toolbar a {
    width: 35px;
    height: 35px;
    display: block;
    background: rgb(56, 56, 56);
    border: 1px solid #ddd;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-right:5px;
    position: relative;
}
.lmuMeeting-Toolbar a i{
    line-height: 32px;
    font-size: 20px;
}
.lmuMeeting-Toolbar a.btn-danger {
    background: #dc3545;
    width: 110px;
    border-radius: 20px;
    border-color: #dc3545;
}
.lmuMeetingWidget{
    width: 100%;
    height: calc(100vh);
    overflow: auto;
}
div#lmuClSqr {
    display: none;
}
.lmuVideoPanel{
    width: 100%;
    height: calc(100vh - 51px);
    /* position: absolute; */
    /* left: 0; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: #f5f5f5;
}
.video_div {
    width: 75%;
    height: 100%;
    position:relative;
}
.chat_div {
    width: 25%;
    border-left: 1px solid #5f5f5f;
    font-size:12px;
    position:relative;
    background:#d5d5d5;
    color:#222;
}
#btn-attach-file{
    display: none !important;
}
.lmuLiveUserList{
    padding:5px 10px;
    height: 28vh;
    border-bottom: 1px solid #717171;
}
.lmuLiveUserChat{
    margin-top: 10px;position: absolute;bottom: 0; padding: 0px; width: 100%; overflow: hidden;
}
.lmuLiveUserChat:before {
    content: "";
    display: block;
    width: 100%;
    height: 50vh;
}
.lmuMainVideo {
    position: relative;
}
.lmuMainVideoControl {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding-bottom: 5px;
    transform: translateX(-50%);
}
.lmuMainVideoControl a {
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    line-height: 30px;
    background: rgba(0,0,0,0.7);
    border-radius: 50%;
    color: #999;
}
.chat_div.setNewChat {
    width: 0;
    display: none;
}
.video_div.setNewVideo {
    width: 100%;
}

.setNewLOut #other-videos {
    position: relative;
    flex-flow: row wrap;
    height: calc(100vh - 52px);
    overflow-y: auto;
    bottom: 0;
}

.setNewLOut #other-videos .videoListItem{
    max-height: 400px;
    height: calc(70vh);
    width: calc(100% / 2 - 10px);
    max-width: calc(100% / 2);
    position: relative;
    margin: 3px;
}
.setNewLOut #other-videos .videoListItem .controlDiv {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.75);
    width: 100%;
    padding: 5px;
    color: #fff;
}
.setNewLOut  .videoListItem #other-videos video {
    width: 100%;
    height:100%;
}
.setNewLOut #other-videos .videoListItem .controlDiv a.photoClick{
    background: #ededed;
    color: #222;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.lmumeetingPageArea.clientUser .videoListItem .controlDiv a.photoClick{
    display: none;
}

.lmuLiveChatTxtbtn {
    position: absolute;
    bottom: 0px;
    width: 30px;
    background: #383838;
    height: 33px;
    right: 0;
    padding: 5px 0;
    text-align: center;
}
.disableVIco {
    position: absolute;
    right: 14px;
    display: block;
    top: 0;
    font-size: 18px;
    text-shadow: -2px 0 1px #000;
    transform: rotateX(9deg);
}


.VideoOne{
    width: 100% !important;
}

.VideoTwo{
    width: 200px !important;
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
}
#videos-container{
    margin: 0px !important;
}



@media only screen and (max-width: 1023px) {

}


@media only screen and (max-width: 767px) {

}
video::-webkit-media-controls {
  display: none;
}
/*		Wide Mobile Layout: 480px.        */



@media only screen and (max-width: 480px) {

    .lmuLiveUserList{
        padding:5px 10px;
        display:none;
    }
	.video_div,#main-video{
	    width:100%;
	    height:65vh;
	}
	.video_div.setNewVideo ,.video_div.setNewVideo #main-video{
        height: 90vh;
    }
	.chat_div {
        width: 100%;
        border-top: 1px solid #5f5f5f;
        font-size: 12px;
        position: fixed;
        background: #313131ab;
        bottom: 2px;
        height: 32vh;
        border-left:0;
      }


.lmuLiveUserChat {
    background: transparent;
        color: #fff;
}
#conversation-panel {
    margin-bottom: 2px;
    text-align: left;
    max-height: 25vh;
    overflow: auto;
    border-top: 0px solid #E5E5E5;
    width: 100%;
}

#conversation-panel .message {
    border-bottom: 1px solid #6d6d6d;
    padding: 3px 8px;
    background: transparent !important;
}
#conversation-panel .message:last-child{
    border-bottom: 0px solid #e5e5e53d;
}



}


.userListItem {
    padding: 5px;
    /* border: 1px solid #ddd; */
    background: #ededed;
    margin-bottom: 2px;
    height:35px;
    line-height:25px;
}
.userListItem span.actionBtnUc {
    float: right;
}
.userListItem span.actionBtnUc i {
    font-size: 16px;
    margin-left: 3px;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid #999;
    border-radius: 50%;
    line-height: 25px;
}