﻿<div class="container-fluid">
  <div class="user-details-tab-head">
      <div class="py-2 px-2">
          <div class="row">
              <div class="col-md-6">
                  <h5 class="m-0 p-0 font-weight-bold"> <span><img src="/assets/images/teacher-icon.png" class="w-18" /></span> Teacher Profile </h5>
              </div>
          </div>
      </div>
  </div>
  <div class="user-details-body p-2">
      <div class="row border-bottom">
          <div class="col-sm-8 border-right">                            
              <div class="media">
                  <div class="doctor-avatar mr-3">
                      <img *ngIf="user.profile_image" [src]="user.profile_image" />
                  </div>
                  <div class="media-body">
                      <h5 class="drkgrn-txt-clr mb-2">{{user.firstname|titlecase}} {{user.lastname|titlecase}}</h5>
                      <div>{{user.email}}</div>
                      <div>{{user.phone_number}}</div>
                  </div>
              </div>
              <div class="mt-3 mb-4 min-height-block" [ngClass]="{'short-height': !showMore['description']}" style="">
                <p [innerHTML]="user.description"></p>
                <a href="javascript:void(0);" *ngIf="user.description !=''" class="more-link mb-1" (click)="showMore['description']=!showMore['description']" >
                    <i class="fa fa-chevron-circle-down" [ngClass]="{'fa-chevron-circle-down': !showMore['description'],'fa-chevron-circle-up': showMore['description']}" aria-hidden="true"></i> <span> View {{!showMore['description'] ? 'More' : 'Less'}}...</span>
                </a>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="sub-head2">
                  <span class="title">Courses</span>                                
              </div>
              <div class="my-2 arrow-list" style="">
                 <p [innerHTML]="user.courses"></p>
              </div>
          </div>
      </div>
      <div class="row border-bottom">
          <div class="col-sm-8">
              <div class="row">
                  <div class="col-sm-4 counters my-3">
                      <div class="title">Live Class hrs</div>
                      <div class="count">{{liveClassHours}}</div>
                  </div>
                  <div class="col-sm-4 counters my-3">
                      <div class="title">in course</div>
                      <div class="count">{{inCourses}}</div>
                  </div>
                  <div class="col-sm-4 counters my-3">
                      <div class="title">Trained Students</div>
                      <div class="count">{{trainedStudents}}</div>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="sub-head2 mt-3">
                  <span class="title">Specialization</span>
              </div>
              <div class="mt-2 arrow-list" style="">
                <p [innerHTML]="user.specialization"></p>
              </div>
          </div>
      </div>
  </div>
</div>