        	<div class="container-fluid">
            	<div class="user-details-tab-head">
                	<div class="py-2 px-2">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="m-0 p-0 font-weight-bold"> <i class="fa fa-id-card-o" aria-hidden="true"></i> Profile Information </h5>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="user-details-body">
                	<div class="user-list-btn">
                   		<p class="mt-2"> Update your personal details and the login credentials </p>
                    </div>
                    <div class="details-content-edit info-view-block">
                       <form name="form" id="institute_user" role="form" class="form-horizontal register" (ngSubmit)="f.form.valid && savePersonalInstituteUser()" #f="ngForm" novalidate>
                        	<div class="row">
                            	<div class="col-md-12 mb-3">
                                    <div class="form-group">
                                        <img *ngIf="file_srcs" [src]="file_srcs" class="rounded border p-2 float-left" style="max-width: 150px">
                                        <div>
                                            <input type="file" accept="image/*" class="hide invisible" #profile_uploader (change)="fileChange($event)" />
                                          <button type="button" (click)="profile_uploader.click()" class="btn"><i class="fa fa-file-o" aria-hidden="true"></i> Change Picture</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label>First Name <sup class="red-txt-clr"> * </sup></label>
                                    <div class="info-icon-block">
                                    	<input type="text" class="form-control" id="firstname" placeholder="Enter Your First Name" name="firstname" [(ngModel)]="model.firstname" #firstname="ngModel" required />
										<div *ngIf="f.submitted && !firstname.valid" class="help-block">First Name is Required</div>
                                        <div class="info-icon" data-toggle="tooltip" data-placement="top" ngbTooltip="Please enter user's first name.">
                                            <i class="fa fa-info" aria-hidden="true" ></i>
                                        </div>
                                    </div>
                                  </div>
                              	</div>
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label>Last Name <sup class="red-txt-clr"> * </sup></label>
                                    <div class="info-icon-block">
                                        <input type="text" class="form-control" id="lastname" placeholder="Enter Your Last Name" name="lastname" [(ngModel)]="model.lastname" #lastname="ngModel" required />
										<div *ngIf="f.submitted && !lastname.valid" class="help-block">Last Name is Required</div>
                                        <div class="info-icon" data-toggle="tooltip" data-placement="top" ngbTooltip="Please enter user's last name.">
                                            <i class="fa fa-info" aria-hidden="true" ></i>
                                        </div>
                                    </div>
                                  </div>
                              	</div>
                                <div class="col-md-7">
                                  <div class="form-group">
                                    <label>Email Address / Login ID  <sup class="red-txt-clr"> * </sup></label>
                                    <div class="info-icon-block">
                                        <input type="email" class="form-control" id="email" placeholder="Enter Your Email" name="email" [(ngModel)]="model.email" #email="ngModel" readonly />
										<div *ngIf="f.submitted && !email.valid" class="help-block">Email is Required</div>
                                        <div class="info-icon" data-toggle="tooltip" data-placement="top" ngbTooltip="Please enter user's email.">
                                            <i class="fa fa-info" aria-hidden="true" ></i>
                                        </div>
                                    </div>
                                  </div>
                              	</div>
                                <div class="col-md-5">
                              		<p class="text-right mx-5 mt-4"> <a href="javascript:void(0);" class="grn-txt-clr mt-3" (click)="exampleModal9.show()"> Change Password </a></p>
                              	</div>
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label>Country</label>
                                    <div class="info-icon-block">
                                        <select class="form-control" [(ngModel)]="model.country" name="country" >
											<option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
										</select>
                                        <div class="info-icon" data-toggle="tooltip" data-placement="top" ngbTooltip="Please select the user's country.">
                                            <i class="fa fa-info" aria-hidden="true" ></i>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label>Time Zone</label>
                                    <div class="info-icon-block">
                                        <select class="form-control" [(ngModel)]="model.timezone" name="timezone" >
    									  <option *ngFor="let country of countries" [value]="country.timezone">{{country.name}}({{country.timezone}})</option>
    									</select>
                                        <div class="info-icon" data-toggle="tooltip" data-placement="top" ngbTooltip="Please select the user's timezone.">
                                            <i class="fa fa-info" aria-hidden="true" ></i>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-12">
                                	<div class="line-break mb-3"></div>
                                </div>
                                <div class="col-md-12">
                                	<div class="other-form-control">
                                        <div class="row">
                                            <div class="col-md-5">
                                              <div class="form-group">
                                                <label>Birth Date</label>
                                                <div class="info-icon-block">
                                                	<div class="input-icon-block">
														<input type='text' #dob  class="form-control create-basic-date" name="dob"/>
                                                    </div>
                                                    <div class="info-icon" data-toggle="tooltip" data-placement="top" ngbTooltip="Please enter birth date.">
                                                        <i class="fa fa-info" aria-hidden="true" ></i>
                                                    </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-5">
                                              <div class="form-group">
                                                <label>Tele Phone</label>
                                    			<div class="info-icon-block">
                                                    <div class="input-group mb-3">
                                                      <div class="input-group-prepend">
                                                        <select class="btn btn-outline-secondary" [(ngModel)]="model.phone_code" name="phone_code" style="margin: 0px !important;padding: 0px !important;">
                                                          <option *ngFor="let country of countries" [value]="country.phone_code">{{country.phone_code}}</option>
                                                        </select>
                                                      </div>
                                                      <input type="number" class="form-control" id="phone_number" name="phone_number" [(ngModel)]="model.phone_number" pattern="[0-9]{10,12}" #phone_number="ngModel" />
														<div *ngIf="f.submitted && !phone_number.valid" class="help-block">Phone Number is Required</div>
                                                        <div class="info-icon" data-toggle="tooltip" data-placement="top" ngbTooltip="Please enter correct 10-12 digit phone number.">
                                                            <i class="fa fa-info" aria-hidden="true" ></i>
                                                        </div>
                                                    </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-5">
                                              <div class="form-group">
                                                <label>City</label>
                                    			<div class="info-icon-block">
                                                    <input type="text" class="form-control" id="city" name="city" [(ngModel)]="model.city" #city="ngModel" />
													<div *ngIf="f.submitted && !city.valid" class="help-block">City Name is Required</div>
                                                    <div class="info-icon" data-toggle="tooltip" data-placement="top" ngbTooltip="Please enter city name.">
                                                        <i class="fa fa-info" aria-hidden="true" ></i>
                                                    </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-5">
                                              <div class="form-group">
                                                <label>Zip Code</label>
                                    			<div class="info-icon-block">
                                                   <input type="text" class="form-control" id="pincode" name="pin_code" [(ngModel)]="model.pin_code" #pin_code="ngModel" />
													<div *ngIf="f.submitted && !pin_code.valid" class="help-block">zip Code is Required</div>
                                                    <div class="info-icon" data-toggle="tooltip" data-placement="top" ngbTooltip="Please enter zip code.">
                                                        <i class="fa fa-info" aria-hidden="true" ></i>
                                                    </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label class="grn-txt-clr">Description</label>
                                                    <div class="info-icon-block">
                                                        <ckeditor [editor]="Editor" id= "description" [(ngModel)]="model.description" name="description"></ckeditor>
                                                        <div class="clearfix"></div>
                                                        <div class="info-icon" data-toggle="tooltip" data-placement="top" ngbTooltip="Please enter description about the user.">
                                                            <i class="fa fa-info" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label class="grn-txt-clr">Courses</label>
                                                    <div class="info-icon-block">
                                                       <ckeditor [editor]="Editor" id= "courses" [(ngModel)]="model.courses" name="courses"></ckeditor>
                                                        <div class="clearfix"></div>
                                                        <div class="info-icon" data-toggle="tooltip" data-placement="top" ngbTooltip="Please mention the courses user teach. Preferably specify using list">
                                                            <i class="fa fa-info" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label class="grn-txt-clr">Specialization</label>
                                                    <div class="info-icon-block">
                                                        <ckeditor [editor]="Editor" id= "specialization" [(ngModel)]="model.specialization" name="specialization"></ckeditor>
                                                        <div class="clearfix"></div>
                                                        <div class="info-icon" data-toggle="tooltip" data-placement="top" ngbTooltip="Please mention the user specializations. Preferably specify using list.">
                                                            <i class="fa fa-info" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                              <div class="form-group" *ngIf="operation.lifecycle=='stopped'">
                                                <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}"><p [innerHTML]="operation.message"></p></div>
                                              </div>
                                              <div class="form-group" *ngIf="operation.lifecycle=='running'">
                                                <div class="alert alert-info"><p>Saving profile. Please wait...</p></div>
                                              </div>
                                            </div>
                                            <div class="col-md-10">
                                            	<div class="text-right mt-4">
                                            		<button type="submit" [disabled]="!f.form.valid" class="btn drkgrn-bckgrd-clr">Save Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          	</div>
                        </form>
                    </div>
                </div>
            </div>

        <!-- Modal nine -->
		<div mdbModal #exampleModal9="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel9" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content field-block">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> CHANGE PASSWORD </h5>
                <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="exampleModal9.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body pt-3 table-in details-content-edit">
                <form name="form" id="reset-password" role="form" class="form-horizontal reset-password" (ngSubmit)="resetForm.form.valid && resetPassword(resetForm)" #resetForm="ngForm" novalidate>
                  <div class="form-group">
                    <label class="sr-only">Enter Old Password</label>
                    <input type="password" name="enter_old" id="old_pswd" [(ngModel)]="resetModel.old_password" #old_password="ngModel" class="form-control" required placeholder="Enter Old Password">
                    <div *ngIf="resetForm.submitted && !old_password.valid" class="help-block">Old Password is Required</div>
                  </div>
                  <div class="form-group">
                    <label class="sr-only">Type New Password</label>
                    <input type="password" name="enter_new" id="new_pswd" [(ngModel)]="resetModel.new_password" #new_password="ngModel" class="form-control" required placeholder="Type New Password">
                    <div *ngIf="resetForm.submitted && !new_password.valid" class="help-block">Password is Required</div>
                  </div>
                  <div class="form-group">
                    <label class="sr-only">Re-Type New Password</label>
                    <input type="password" name="re_type_new" id="re_type_pswd" [(ngModel)]="resetModel.confirm_password" #confirm_password="ngModel" required class="form-control" placeholder="Re-Type New Password" pattern="{{ new_password.value }}">
                    <div *ngIf="resetForm.submitted && !confirm_password.valid && confirm_password.errors.required" class="help-block"> Confirm password is required. </div>
                    <div *ngIf="resetForm.submitted && !confirm_password.valid && confirm_password.errors.pattern" class="help-block"> Password & Confirm Password does not match.</div>
                  </div>
                  <div class="col-md-12 p-0">
                      <div class="form-group" *ngIf="resetoperation.lifecycle=='stopped'">
                        <div class="alert alert-success" [ngClass]="{'alert-success': resetoperation.status,'alert-danger': !resetoperation.status}"><p [innerHTML]="resetoperation.message"></p></div>
                      </div>
                      <div class="form-group" *ngIf="resetoperation.lifecycle=='running'">
                        <div class="alert alert-info"><p>Resetting password. Please wait...</p></div>
                      </div>
                  </div>
                  <div class="text-right ">
                    <button type="submit" class="btn drkgrn-bckgrd-clr">Reset Password</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
       
        </div>