<div class="container-fluid">
    <div class="user-details-tab-head">
        <div class="py-2 px-2">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="m-0 p-0 font-weight-bold"> <i class="fa fa-file-text-o" aria-hidden="true"></i> Other Plan Details </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="user-details-body">
        <div class="row">
            <div class="col-md-3 mt-4">
                <div class="price_block price_labels">
                    <div class="price_header"><div class="h4">PLANS</div></div>
                    <div class="price_cost">PRICE</div>
                    <div class="price_details">
                        <ul>
                            <li>
                                Maximum users
                            </li>
                            <li>Cloud Storage</li>
                            <li>Class Duration</li>
                            <li>
                                Maximum Participants
                                in Liveclass
                            </li>
                            <li>Concurrent Classes</li>
                            <li>
                                White Labelling
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 mt-4">
                <div class="px-3">
                    <div id="team_slider" class="team_carousel v-align-arrows">
                        <owl-carousel-o [options]="customOptions">
                            <ng-container *ngFor="let plan of plans">
                              <ng-template carouselSlide [id]="plan.id">
                                  <div class="post_slide" >
                                        <div class="price_block price_box">
                                            <div class="price_header"><div class="h4">{{plan.name}}</div><p>Validity {{plan.validity_of_plan}} Days</p></div>
                                            <div class="price_cost">0 INR</div>
                                            <div class="price_details">
                                                <ul>
                                                    <li>
                                                        {{plan.no_of_users}}
                                                    </li>
                                                    <li>{{plan.total_space}} GB</li>
                                                    <li>{{plan.max_class_duration}} mins</li>
                                                    <li>
                                                        {{plan.no_of_users_per_class}}
                                                    </li>
                                                    <li>{{plan.no_of_concurrent_classes}}</li>
                                                    <li>
                                                        <i *ngIf="plan.white_labeling" class="fa fa-check fa-2x"></i>
                                                        <i *ngIf="!plan.white_labeling" class="fa fa-times fa-2x"></i>
                                                    </li>
                                                    <li><div class="radio radio_only"><input type="radio" id="rdoDiamond{{plan.id}}" name="grpPricePlan" [(ngModel)]="selectedPlan" [value]="plan.id" /><label for="rdoDiamond{{plan.id}}"></label></div></li>
                                                    <li><a href="javascript:void(0);" class="btn mb-3" (click)="selectedPlan=plan.id;enquireModal.show()">CHANGE PLAN</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </div>
                </div>
                <div class="mt-3 text-center">
                    <p class="mb-2">*Note: All prices mentioned above are exclusive of GST.</p>
                    <p>The final prices will be calculated inclusive of GST according to your geographical location.</p>
                </div>
            </div>
        </div>
    </div>
    <div mdbModal ngDraggable #enquireModal="mdbModal" class="modal fade resizable_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" ngResizable>
            <div class="modal-header">
                <h5 class="modal-title">
                    Enquiry form
                </h5>
                <button type="button" class="close-circle" data-dismiss="modal" aria-label="Close" (click)="enquireModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           <form name="form" role="form" class="form-horizontal register" (ngSubmit)="f.form.valid && enquireRequest(f)" #f="ngForm" novalidate>
            <div class="modal-body">
                    <div class="form-group row align-items-center">
                        <label class="col-md-4">First name<sup class="red-txt-clr"> * </sup></label>
                        <div class="col-md-8"><input class="form-control" type='text' name='firstname' [(ngModel)]="enrollCourse.firstname" #firstname="ngModel" required /><div *ngIf="f.submitted && !firstname.valid" class="help-block"><div *ngIf="firstname.errors.required">First Name is required.</div></div>
                        </div>
                        
                    </div>
                    <div class="row form-group align-items-center">
                        <label class="col-md-4">Last name<sup class="red-txt-clr"> * </sup></label>
                        <div class="col-md-8"><input class="form-control" type='text' name='lastname' [(ngModel)]="enrollCourse.lastname" #lastname="ngModel" required/><div *ngIf="f.submitted && !lastname.valid" class="help-block"><div *ngIf="lastname.errors.required">Last Name is required.</div>
                        </div></div>
                    </div>
                    <div class="row form-group align-items-center">
                        <label class="col-md-4">Email id<sup class="red-txt-clr"> * </sup></label>
                        <div class="col-md-8"><input class="form-control" type='text' name='email' [(ngModel)]="enrollCourse.email" #email="ngModel" required email/><div *ngIf="f.submitted && !email.valid" class="help-block"><div *ngIf="email.errors.required">Email is required.</div><div *ngIf="email.errors.email">Email must be a valid.</div>
                        </div></div>
                    </div>
                    <div class="row form-group align-items-center">
                        <label class="col-md-4">Phone number<sup class="red-txt-clr"> * </sup></label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <select class="form-control w-25" name="phone_code" [(ngModel)]="enrollCourse.phone_code">
                                    <option *ngFor="let country of countries" [value]="country.phone_code">{{country.phone_code}}</option>
                                </select>
                                <input class="form-control w-auto" name='phonenumber' type='number' [(ngModel)]="enrollCourse.phone" #phone="ngModel" required/>
                            </div>
                            <div *ngIf="f.submitted && !phone.valid" class="help-block">
                                    <div *ngIf="phone.errors.required">Phone Number is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group align-items-center">
                        <label class="col-md-4">Message<br /><small>(max 250 words)</small></label>
                        <div class="col-md-8"><textarea cols="80" rows="3" class="form-control" name='message' [(ngModel)]="enrollCourse.message" #message="ngModel" required></textarea>
                        <div *ngIf="f.submitted && !message.valid" class="help-block"><div *ngIf="message.errors.required">Message is required.</div>
                        </div></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                          <div class="form-group" *ngIf="operation.lifecycle=='stopped'">
                            <div class="alert alert-success" [ngClass]="{'alert-success': operation.status,'alert-danger': !operation.status}"><p [innerHTML]="operation.message"></p></div>
                          </div>
                          <div class="form-group" *ngIf="operation.lifecycle=='running'">
                            <div class="alert alert-info"><p>Sending request. Please wait...</p></div>
                          </div>
                        </div>
                    </div>
                    
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-no btn-sm" data-dismiss="modal" (click)="enquireModal.hide()">Cancel</button>
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            </div>
           </form>
        </div>
    </div>
</div>

</div>