<div class="container-fluid">
                <div class="user-details-tab-head">
                    <div class="py-2 px-2">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="m-0 p-0 font-weight-bold"> <i class="fa fa-file-text-o" aria-hidden="true"></i> Plan Details </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-details-body">
                    <div class="user-list-btn">
                        <p class="mt-2">Selected Plan</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="text-uppercase drkgrn-txt-clr h4">{{plan.name}}</div>
                            <div class="row mt-4">
                                <div class="col-6">Max number of Active Users</div>
                                <div class="col font-weight-bold drkgrn-txt-clr"><span class="mr-3">:</span>{{plan.no_of_users}}</div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">Cloud Storage</div>
                                <div class="col font-weight-bold drkgrn-txt-clr"><span class="mr-3">:</span>{{plan.total_space}} GB</div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">Live Class Duration</div>
                                <div class="col font-weight-bold drkgrn-txt-clr"><span class="mr-3">:</span>{{plan.max_class_duration}} Minutes</div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">Participants per LIVE class</div>
                                <div class="col font-weight-bold drkgrn-txt-clr"><span class="mr-3">:</span>{{plan.no_of_users_per_class}} Students</div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">Number of concurrent Live Classes</div>
                                <div class="col font-weight-bold drkgrn-txt-clr"><span class="mr-3">:</span>{{plan.no_of_concurrent_classes}}</div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">White Labelling</div>
                                <div class="col font-weight-bold drkgrn-txt-clr"><span class="mr-3">:</span>{{plan.white_labeling ? 'Yes' : 'No'}}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-black-50 font-italic">Expires on {{institute.created_at | amAdd: plan.validity_of_plan : 'days' | amDateFormat: 'DD/MM/YYYY'}}</div>
                            <div class="mt-2 text-black">Current Usage</div>
                            <div class="row mt-2">
                                <div class="col-6">
                                    <div class="progress light_green">
                                        <div class="progress-bar" [style]="getWidthPercent((institute.active_users/plan.no_of_users)*100)"></div>
                                    </div>
                                </div>
                                <div class="col font-weight-bold drkgrn-txt-clr">
                                    {{institute.active_users}}/{{plan.no_of_users}} Users
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">
                                    <div class="progress light_green">
                                        <div class="progress-bar" [style]="getWidthPercent((institute.used_space/plan.total_space)*100)"></div>
                                    </div>
                                </div>
                                <div class="col font-weight-bold drkgrn-txt-clr">
                                    {{institute.used_space.toFixed(2)}}/{{plan.total_space}} GB
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="details-content-edit info-view-block">
                        <div class="text-center mt-4 pt-2 border-top border-dark" *ngIf="plans.length > 1">
                            <span class="d-inline-block mr-2">Want more features?</span>
                            <a routerLink="/plan/upgrade" class="btn drkgrn-bckgrd-clr">Upgrade Plan</a>
                        </div>
                    </div>
                </div>
            </div>